<template>
<div class="layout">
    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <ModelForm
                :fields="fields"
                model="employers"
                module="rpk"
            />
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
} from 'bootstrap-vue'

import ModelForm from '@/components/model-form'

export default {
    name: 'rpk-employers-edit',

    components: {
        BOverlay,
        ModelForm,
    },

    computed: {
        isLoading () {
            return this.$store.getters['rpk/isLoading']
        },

        item () {
            return this.$store.getters['rpk/item']
        }
    },

    mounted () {
        if (this.$route.params.id) {
            this.getItem()
        }
    },

    data () {
        return {
            fields: [
                {
                    type: 'string',
                    slug: 'name',
                    label: 'Название',
                    value: '',
                    required: true,
                }
            ]
        }
    },

    methods: {
        async getItem () {
            await this.$store.dispatch('rpk/getItem', {
                id: this.$route.params.id,
                model: 'employers',
            })
        }
    },

    watch: {
        item (value) {
            let record = value

            for (let i in Object.keys(record)) {
                let key = Object.keys(record)[i]

                let field = this.fields.find(f => f.slug === key)

                if (field) field.value = record[key]
            }
        }
    }
}
</script>