<template>
<div class="module">
    <div class="module__content">
        <div class="page">
            <div class="page__layout">
                <div class="page__header">
                    <div class="page__title">UI</div>
                </div>

                <div class="page__content">
                    <div class="ui">
                        <div class="ui__section">
                            <div class="ui__title">Icon</div>

                            <div class="ui__icons">
                                <div class="ui__icons-item">
                                    <div class="ui__icon">
                                        <UIIcon icon="plus" color="mute" />
                                    </div>

                                    <div class="ui__icon-label">
                                        plus
                                    </div>
                                </div>

                                <div class="ui__icons-item">
                                    <div class="ui__icon">
                                        <UIIcon icon="check" color="mute" />
                                    </div>

                                    <div class="ui__icon-label">
                                        check
                                    </div>
                                </div>

                                <div class="ui__icons-item">
                                    <div class="ui__icon">
                                        <UIIcon icon="save" color="mute" />
                                    </div>

                                    <div class="ui__icon-label">
                                        save
                                    </div>
                                </div>

                                <div class="ui__icons-item">
                                    <div class="ui__icon">
                                        <UIIcon icon="back" color="mute" />
                                    </div>

                                    <div class="ui__icon-label">
                                        back
                                    </div>
                                </div>

                                <div class="ui__icons-item">
                                    <div class="ui__icon">
                                        <UIIcon icon="close" color="mute" />
                                    </div>

                                    <div class="ui__icon-label">
                                        close
                                    </div>
                                </div>

                                <div class="ui__icons-item">
                                    <div class="ui__icon">
                                        <UIIcon icon="search" color="mute" />
                                    </div>

                                    <div class="ui__icon-label">
                                        search
                                    </div>
                                </div>

                                <div class="ui__icons-item">
                                    <div class="ui__icon">
                                        <UIIcon icon="user" color="mute" />
                                    </div>

                                    <div class="ui__icon-label">
                                        user
                                    </div>
                                </div>

                                <div class="ui__icons-item">
                                    <div class="ui__icon">
                                        <UIIcon icon="chevron-down" color="mute" />
                                    </div>

                                    <div class="ui__icon-label">
                                        chevron-down
                                    </div>
                                </div>

                                <div class="ui__icons-item">
                                    <div class="ui__icon">
                                        <UIIcon icon="calendar" color="mute" />
                                    </div>

                                    <div class="ui__icon-label">
                                        calendar
                                    </div>
                                </div>
                            </div>  
                        </div>

                        <div class="ui__section">
                            <div class="ui__title">Button</div>

                            <div class="ui__list mb-3">
                                <div class="ui__list-item">
                                    <UIButton label="Кнопка" size="lg" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Создать" icon="plus" size="lg" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton icon="save" size="lg" variant="primary" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Назад" icon="back" variant="primary-light" size="lg" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Применить" icon="check" variant="success" size="lg" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Применить" icon="check" variant="success-light" size="lg" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton
                                        label="Применить"
                                        icon="check"
                                        size="lg"
                                        :disabled="true"
                                        variant="success"
                                    />
                                </div>
                            </div>

                            <div class="ui__list">
                                <div class="ui__list-item">
                                    <UIButton label="Кнопка" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Создать" icon="plus" />
                                </div>
                                
                                <div class="ui__list-item">
                                    <UIButton icon="save" variant="primary" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Назад" icon="back" variant="primary-light" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Применить" icon="check" variant="warning" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Применить" icon="check" variant="warning-light" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton
                                        label="Применить"
                                        icon="check"
                                        :disabled="true"
                                        variant="warning"
                                    />
                                </div>
                            </div>

                            <div class="ui__list mt-3">
                                <div class="ui__list-item">
                                    <UIButton label="Кнопка" size="sm" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Создать" size="sm" icon="plus" />
                                </div>
                                
                                <div class="ui__list-item">
                                    <UIButton icon="save" size="sm" variant="primary" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Назад" size="sm" icon="back" variant="primary-light" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Применить" icon="check" variant="danger" size="sm" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Применить" icon="check" variant="danger-light" size="sm" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton
                                        label="Применить"
                                        icon="check"
                                        :disabled="true"
                                        size="sm"
                                        variant="danger"
                                    />
                                </div>
                            </div>

                            <div class="ui__list mt-3">
                                <div class="ui__list-item">
                                    <UIButton label="Кнопка" variant="text" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Кнопка" variant="text-primary" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Кнопка" variant="text-success" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Кнопка" variant="text-warning" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Кнопка" variant="text-danger" />
                                </div>

                                <div class="ui__list-item">
                                    <UIButton label="Кнопка" variant="text" :disabled="true" />
                                </div>
                            </div>
                        </div>

                        <div class="ui__section">
                            <div class="ui__title">Select</div>

                            <b-row no-gutters align-v="end">
                                <b-col lg="4">
                                    <UIField label="Обычный селект">
                                        <UISelect
                                            :options="select.options"
                                            placeholder="Выберите пункт"
                                            v-model="select.selected"
                                            size="sm"
                                            :searchable="true"
                                        />
                                    </UIField>
                                </b-col>

                                <b-col lg="4" class="ml-3">
                                    <UIField label="Сбрасываемый селект">
                                        <UISelect
                                            :options="select.options"
                                            placeholder="Выберите пункт"
                                            v-model="select.selected"
                                            :clearable="true"
                                            variant="solid"
                                            size="sm"
                                        />
                                    </UIField>
                                </b-col lg="4">

                                <b-col class="ml-3">
                                    <UIField label="Значение селекта">
                                        <UIInput placeholder="Обычное текстовое поле"
                                            v-model="select.selected"
                                            size="sm"
                                        />
                                    </UIField>
                                </b-col>
                            </b-row>

                            <b-row no-gutters align-v="end" class="mt-3">
                                <b-col lg="4">
                                    <UISelect
                                        :options="select.options"
                                        placeholder="Выберите пункт"
                                        v-model="select.selected"
                                        
                                        :searchable="true"
                                    />
                                </b-col>

                                <b-col lg="4" class="ml-3">
                                    <UISelect
                                        :options="select.options"
                                        placeholder="Выберите пункт"
                                        v-model="select.selected"
                                        :clearable="true"
                                        variant="solid"
                                    />
                                </b-col lg="4">

                                <b-col class="ml-3">
                                    <UIInput placeholder="Обычное текстовое поле"
                                        v-model="select.selected"
                                    />
                                </b-col>
                            </b-row>

                            <b-row no-gutters align-v="end" class="mt-3">
                                <b-col lg="4">
                                    <UISelect
                                        :options="select.options"
                                        placeholder="Выберите пункт"
                                        v-model="select.selected"
                                        size="lg"
                                        :searchable="true"
                                    />
                                </b-col>

                                <b-col lg="4" class="ml-3">
                                    <UISelect
                                        :options="select.options"
                                        placeholder="Выберите пункт"
                                        v-model="select.selected"
                                        :clearable="true"
                                        variant="solid"
                                        size="lg"
                                    />
                                </b-col lg="4">

                                <b-col class="ml-3">
                                    <UIInput placeholder="Обычное текстовое поле"
                                        v-model="select.selected"
                                        size="lg"
                                    />
                                </b-col>
                            </b-row>
                        </div>

                        <div class="ui__section">
                            <div class="ui__title">Datepicker</div>

                            <b-row no-gutters>
                                <b-col class="mr-3">
                                    <UIDatepicker
                                        placeholder="Выберите дату"
                                    />
                                </b-col>

                                <b-col class="mr-3">
                                    <UIDatepicker
                                        placeholder="Выберите период"
                                        :range="true"
                                    />
                                </b-col>
                            </b-row>

                            <b-row no-gutters class="mt-3">
                                <b-col class="mr-3">
                                    <UIDatepicker
                                        placeholder="Выберите дату"
                                        variant="solid"
                                    />
                                </b-col>

                                <b-col class="mr-3">
                                    <UIDatepicker
                                        placeholder="Выберите период"
                                        :range="true"
                                        variant="solid"
                                    />
                                </b-col>
                            </b-row>

                            <b-row no-gutters class="mt-3">
                                <b-col class="mr-3">
                                    <UIDatepicker
                                        placeholder="Выберите дату"
                                        variant="solid"
                                        size="lg"
                                    />
                                </b-col>

                                <b-col class="mr-3">
                                    <UIDatepicker
                                        placeholder="Выберите период"
                                        :range="true"
                                        variant="solid"
                                        size="sm"
                                    />
                                </b-col>
                            </b-row>
                        </div>

                        <div class="ui__section">
                            <div class="ui__title">Input</div>

                            <b-row no-gutters>
                                <b-col class="mr-3">
                                    <UIInput placeholder="Большое текстовое поле"
                                        size="lg"
                                    />
                                </b-col>

                                <b-col class="mr-3">
                                    <UIInput placeholder="Обычное текстовое поле"
                                    />
                                </b-col>

                                <b-col>
                                    <UIInput placeholder="Маленькое текстовое поле"
                                        size="sm"
                                    />
                                </b-col>
                            </b-row>

                            <b-row class="mt-3" no-gutters>
                                <b-col class="mr-3">
                                    <UIInput placeholder="Большое текстовое поле"
                                        size="lg"
                                        variant="solid"
                                    />
                                </b-col>

                                <b-col class="mr-3">
                                    <UIInput placeholder="Обычное текстовое поле"
                                        variant="solid"
                                    />
                                </b-col>

                                <b-col>
                                    <UIInput placeholder="Маленькое текстовое поле"
                                        size="sm"
                                        variant="solid"
                                    />
                                </b-col>
                            </b-row>

                            <b-row no-gutters class="mt-3" align-v="end">
                                <b-col class="mr-3">
                                    <UIField label="Поле с меткой">
                                        <UIInput
                                        />
                                    </UIField>
                                </b-col>

                                <b-col class="mr-3">
                                    <UIField label="Поле с горизонтальной меткой:"
                                        :horizontal="true"
                                    >
                                        <UIInput />
                                    </UIField>
                                </b-col>
                            </b-row>

                            <b-row no-gutters class="mt-3" align-v="end">
                                <b-col class="mr-3">
                                    <UIField label="Поля со сбросом">
                                        <UIInput :clearable="true"
                                            size="lg"
                                            v-model="input.clearable"
                                        />
                                    </UIField>
                                </b-col>

                                <b-col class="mr-3">
                                    <UIInput :clearable="true"
                                        v-model="input.clearable"
                                    />
                                </b-col>

                                <b-col class="mr-3">
                                    <UIInput :clearable="true" size="sm"
                                        v-model="input.clearable"
                                    />
                                </b-col>
                            </b-row>

                            <b-row no-gutters class="mt-3" align-v="end">
                                <b-col class="mr-3">
                                    <UIInput :clearable="true"
                                        variant="solid"
                                        size="lg"
                                        v-model="input.clearable"
                                    />
                                </b-col>

                                <b-col class="mr-3">
                                    <UIInput :clearable="true"
                                        variant="solid"
                                        v-model="input.clearable"
                                    />
                                </b-col>

                                <b-col class="mr-3">
                                    <UIInput :clearable="true" size="sm"
                                        variant="solid"
                                        v-model="input.clearable"
                                    />
                                </b-col>
                            </b-row>

                            <b-row no-gutters class="mt-3" align-v="end">
                                <b-col class="mr-3">
                                    <UIField label="С иконкой">
                                        <UIInput :clearable="true"
                                            size="lg"
                                            v-model="input.clearable"
                                            icon="search"
                                        />
                                    </UIField>
                                </b-col>

                                <b-col class="mr-3">
                                    <UIInput :clearable="true"
                                        v-model="input.clearable"
                                        icon="search"
                                    />
                                </b-col>

                                <b-col class="mr-3">
                                    <UIInput :clearable="true" size="sm"
                                        v-model="input.clearable"
                                        icon="search"
                                    />
                                </b-col>
                            </b-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    UIButton,
    UIIcon,
    UIInput,
    UIField,
    UISelect,
    UIDatepicker,
} from '@grebrov/ui'

import {
    BRow,
    BCol,
} from 'bootstrap-vue'

export default {
    name: 'ui',

    components: {
        UIButton,
        UIIcon,
        UIInput,
        UIField,
        BRow,
        BCol,
        UISelect,
        UIDatepicker
    },

    data () {
        return {
            input: {
                clearable: ''
            },
            select: {
                selected: null,
                options: [
                    { label: 'ГАПОУ РС(Я) "Алданский политехнический техникум"', value: 0 },
                    { label: 'ГБПОУ РС(Я) "Ленский технологический техникум" филиал "Пеледуйский"', value: 1 },
                    { label: 'ГБПОУ РС(Я) "Нюрбинский техникум"', value: 2 },
                    { label: 'ГБПОУ РС(Я) "Вилюйский профессионально - педагогический колледж им. Н.Г. Чернышевского"', value: 3 },
                    { label: 'ГАПОУ РС(Я) "Алданский политехнический техникум"', value: 4 },
                    { label: 'ГБПОУ РС(Я) "Ленский технологический техникум" филиал "Пеледуйский"', value: 5 },
                    { label: 'ГБПОУ РС(Я) "Нюрбинский техникум"', value: 6 },
                    { label: 'ГБПОУ РС(Я) "Вилюйский профессионально - педагогический колледж им. Н.Г. Чернышевского"', value: 7 },
                    { label: 'ГАПОУ РС(Я) "Алданский политехнический техникум"', value: 8 },
                    { label: 'ГБПОУ РС(Я) "Ленский технологический техникум" филиал "Пеледуйский"', value: 9 },
                    { label: 'ГБПОУ РС(Я) "Нюрбинский техникум"', value: 10 },
                    { label: 'ГБПОУ РС(Я) "Вилюйский профессионально - педагогический колледж им. Н.Г. Чернышевского"', value: 11 }
                ]
            }
        }
    }
}
</script>

<style lang="scss">
@import '@/assets/vars';

.ui {
    background: white;
    padding: 1.5rem;
    border-radius: 6px;
    box-shadow: $box-shadow;

    &__title {
        font: {
            size: 14px;
            weight: 600;
        }
        color: $color-font;
        margin-bottom: .75rem;
    }

    &__section {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icons {
        display: flex;

        &-item {
            margin-left: 1rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-label {
            color: $color-font-mute;
            font-size: 12px;
            font-weight: 500;
            margin-top: .5rem;
        }
    }

    &__list {
        display: flex;

        &-item {
            margin-left: 1rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
</style>