<template>
<div class="layout">
    <div class="page__header">
        <b-row class="page__filters" no-gutters align-v="center">
            <b-col class="page__filter" lg="3">
                <b-pagination
                    v-model="page.current"
                    :total-rows="page.total"
                    :per-page="page.limit"
                    v-if="page.total > page.limit"
                />
            </b-col>

            <b-col class="page__filter">
                <div class="page__total text-right">
                    Всего: {{ page.total }}
                </div>
            </b-col>
        </b-row>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table :fields="columns" :items="list">
                    <template #cell(name)="data">
                        <UITableCell
                            type="link"
                            :field="data.item.name"
                            :path="`/rpk/departments/${data.item.id}`"
                        />
                    </template>
                </b-table>
            </div>            
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BRow,
    BCol,
    BPagination,
    BOverlay,
    BTable,
} from 'bootstrap-vue'

import {
    UITableCell,
} from '@grebrov/ui'

export default {
    name: 'rpk-departments-list',

    components: {
        BRow,
        BCol,
        BTable,
        BPagination,
        BOverlay,
        UITableCell,
    },

    computed: {
        isLoading () {
            return this.$store.getters['rpk/isLoading']
        },

        list () {
            return this.$store.getters['rpk/list']
        },
    },

    mounted () {
        this.getList()
    },

    data () {
        return {
            page: {
                total: 0,
                limit: 50,
                current: 1,
            },

            columns: [
                { label: 'Название', key: 'name' },
            ]
        }
    },

    methods: {
        async getList () {
            await this.$store.dispatch('rpk/getList', {
                params: {
                    limit: this.page.limit,
                    offset: (this.page.current * this.page.limit) - this.page.limit,
                },
                model: 'departments'
            })

            this.page.total = this.$store.getters['rpk/rows']
        },
    },

    watch: {
        'page.current' (value) {
            this.getList()
        },
    }
}
</script>