body {
    font-family: 'Montserrat';
    color: $color-font;
}

.module {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__top {
        padding: 16px 24px;
        background: white;
        position: sticky;
        top: 0;
        flex-shrink: 0;
        border-bottom: 1px solid $color-border;

        &-title {
            font-weight: 600;
        }
    }

    &__content {
        flex-grow: 1;
    }
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__popover-actions {
        display: flex;
        align-items: center;

        .ui-button {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__top {
        // height: 65px;
        background: white;
        display: flex;
        align-items: center;
        padding: 10px 24px;
        position: relative;
        z-index: 100;
        justify-content: space-between;
    }

    &__sections {
        display: flex;

        &-item {
            font-size: 14px;
            font-weight: 600;
            padding: 6px 16px;
            color: $color-font;
            cursor: pointer;
            transition: .2s;
            border-radius: 4px;
            line-height: 24px;
            margin-right: 8px;

            &.router-link-active {
                background: $color-primary-light;
                color: $color-primary;
            }

            &:hover {
                text-decoration: none;
                color: $color-primary;
            }
        }
    }

    &__actions {
        display: flex;

        &-item {
            margin-left: 8px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__menu {
        background: white;
        // margin-top: 1px;
        width: 240px;
        flex-shrink: 0;
        padding-top: 10px;

        &-item {
            padding: 8px 24px;
            font-size: 14px;
            cursor: pointer;
            font-weight: 500;
            display: block;
            color: $color-font;

            &:hover {
                background: $color-bg;
                text-decoration: none;
                color: $color-font;
            }
        }

        .router-link-active {
            background: $color-bg;
        }
    }

    &__layout {
        flex-grow: 1;
        max-height: calc(100vh - 57px)
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 16px;
        background: white;
        width: 100%;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        padding: 12px 24px;
        box-shadow: $box-shadow;

        &-separator {
            width: 1px;
            height: 24px;
            background: $color-border;
            flex-shrink: 0;
            margin: 0 20px;
        }
    }

    &__total {
        font-size: 14px;
        font-weight: 500;
        color: $color-font-mute;
        flex-grow: 0;
    }

    &__search {
        display: flex;
        align-items: center;

        // &-total {
        //     color: $color-font-mute;
        //     font-size: 13px;
        //     margin-right: 10px;
        // }

        &-input {
            display: flex;
            position: relative;

            input {
                border: none;
                height: 33px;
                background: $color-bg-control;
                border-radius: 4px 0 0 4px;
                font-size: 14px;
                padding: 0 8px 1px;
                width: 100%;
                font-weight: 500;
                color: $color-font;

                &:focus {
                    outline: none;
                    background: $color-control-focus;
                }
            }

            button {
                border: none;
                font-size: 14px;
                width: 34px;
                height: 33px;
                text-align: center;
                background: $color-primary-light;
                color: $color-primary;
                cursor: pointer;
                margin-left: 1px;
                flex-shrink: 0;
                border-radius: 0 4px 4px 0;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

    &__filters {
        flex-grow: 1;
        // margin-left: 20px;
        display: flex;
    }

    &__filter {
        margin-left: 14px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        overflow-y: auto;
        align-items: center;
    }

    &__title {
        flex-shrink: 0;
        line-height: 24px;
        padding: 6px 0;
        font: {
            size: 16px;
            weight: 600;
        }
    }

    &__table {
        background: white;
        border-radius: 6px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 800px;

        &-icon {
            height: 18px;
            display: flex;
            align-items: center;
        }


        .b-table {
            margin-bottom: 0;

            th {
                position: sticky;
                top: -24px;
                background: white;
                z-index: 10;
                padding: 15px 12px 14px;
                font-weight: 600;
                font-size: 12px;

                &:before {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    bottom: -1px;
                    left: 0;
                    background: $color-border;
                }
            }
        }

        &-wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .b-overlay-wrap {
                flex-grow: 1;
            }
        }
    }

    &__notice {
        // outline: 1px solid red;
        margin-bottom: 20px;
        padding: 12px 20px;
        font-size: 13px;
        border-radius: 6px;

        &_error {
            background: $color-red-light;
            color: $color-red;
        }
    }

    // &__filter {
    //     background: white;
    //     padding: 16px 20px;
    //     margin-bottom: 24px;
    //     border-radius: 6px;

    //     &-actions {
    //         display: flex;
    //         align-items: flex-end;
    //         height: 100%;

    //         &-item {
    //             margin-left: 10px;

    //             &:first-child {
    //                 margin-left: 0;
    //             }
    //         }
    //     }
    // }

    &__pagination {
        margin-bottom: 20px;
        flex-shrink: 0;

        &_bottom {
            margin-top: 20px;
        }
    }

    &__data-info {
        font-size: 14px;
        text-align: right;
        font-weight: 500;
        color: $color-font-mute;
    }
}

.layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &_limited {
        max-width: 960px;
    }
}

.field {
    &__label {
        color: $color-font-mute;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__value {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
    }
}

.table-cell {
    font-size: 14px;

    &_select {
        cursor: pointer;
        color: $color-primary;
        font-weight: 500;
    }

    &_slug {
        color: $color-font-mute;
        font-size: 13px;
        // font-weight: 500;
    }

    &__description {
        font-size: 12px;
        color: $color-font-mute;
    }
}

.tabs {
    display: inline-flex;

    &__item {
        font-size: 14px;
        font-weight: 500;
        color: $color-font;
        padding: 8px 16px;
        cursor: pointer;
        transition: .2s;
        border-radius: 4px;

        &:hover {
            color: $color-primary;
        }

        &_active {
            background: $color-primary-light;
            color: $color-primary;
        }
    }
}