// .vs {
//     &__dropdown {
//         &-toggle {
//             border: 1px solid $color-bg-control;
//             border-radius: 4px;
//             padding: 0;
//             background: $color-bg-control;
//         }

//         &-menu {
//             top: calc(100%);
//             background: $color-bg-control;
//             border: 1px solid $color-bg-control;
//             box-shadow: none;
//             font-size: 14px;
//             font-weight: 500;
//             color: $color-font;
//             padding: 0;
//             border-radius: 0 0 4px 4px;
//             max-width: 100%;
//             overflow-x: hidden;

            // &::-webkit-scrollbar {
            //     width: 6px;
            // }

            // &::-webkit-scrollbar-track {
            //     background: rgba(0,0,0,.1);
            //     border-radius: 2px;
            // }

            // &::-webkit-scrollbar-thumb {
            //     background: rgba(0,0,0,.15);
            //     border-radius: 3px;
            // }
        // }

//         &-option {
//             padding: 0.375rem 0.75rem;
//             white-space: normal;

//             &--highlight {
//                 background: $primary;
//             }
//         }
//     }

//     &__search {
//         padding: 0.375rem 10px !important;
//         font-weight: 500;
//         font-size: 14px !important;
//         line-height: 21px !important;
//         margin: 0 !important;
//         border: none !important;
//         color: $color-font;
//     }

//     &__selected {
//         font-size: 13px;
//         border: none;
//         background: $primary;
//         color: white;
//         font-weight: 600;
//         flex-shrink: 0;
//         height: 24px;
//         padding: 0 .5rem 2px;

//         &-options {
//             padding: 0;
//         }
//     }

//     &--open {
//         .vs {
//             &__dropdown {
//                 &-toggle {
//                     background: $color-control-focus;
//                 }

//                 &-menu {
//                     background: $color-control-focus !important;
//                     border-color: $color-control-focus !important;
//                 }
//             }
//         }

//         &.vs--single {
//             .vs__search {
//                 display: inline-block;
//             }
//         }
//     }

//     &--single {
//         .vs {
//             &__selected {
//                 margin: 0;
//                 padding: 5px 10px;
//                 border: none;
//                 line-height: 21px;
//                 font-weight: 500;
//                 font-size: 14px;
//                 color: $color-font;
//                 height: 33px;
//                 white-space: nowrap;

//                 &-options {
//                     max-width: 100%;
//                     overflow: hidden;
//                 }
//             }

//             &__search {
//                 display: none;
//                 padding: .375rem .75rem;
//             }
//         }
//     }
// }

// .vs--single.vs--open {
//     .vs__selected {
//         white-space: nowrap;
//         text-overflow: ellipsis;
//     }
// }