<template>
<div class="events-copp-directions-edit layout">
    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <ModelForm
                :fields="fields"
                model="institutions"
                module="copp/events"
                :itemId="$route.params.institutionId"
            />
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
} from 'bootstrap-vue'

import ModelForm from '@/components/model-form'

export default {
    components: {
        BOverlay,
        ModelForm,
    },

    computed: {
        isLoading () {
            return this.$store.getters.isLoading
        },

        item () {
            return this.$store.getters.item
        },
    },

    mounted () {
        if (this.$route.params.institutionId) {
            this.getItem()
        }
    },

    methods: {
        async getItem () {
            await this.$store.dispatch('getModelItem', {
                module: 'copp/events',
                model: 'institutions',
                id: this.$route.params.institutionId,
            })
        }
    },

    data () {
        return {
            fields: [
                {
                    type: 'string',
                    slug: 'name',
                    label: 'Название',
                    value: '',
                    required: true,
                },
                {
                    type: 'string',
                    slug: 'youtube',
                    label: 'Youtube ID',
                    value: '',
                    requied: false,
                },
                {
                    type: 'string',
                    slug: 'form',
                    label: 'Форма обучения',
                    value: '',
                    required: false,
                },
                {
                    type: 'string',
                    slug: 'base',
                    label: 'На базе',
                    value: '',
                    required: false,
                },
                {
                    type: 'string',
                    slug: 'site',
                    label: 'Сайт',
                    value: '',
                    required: false,
                },
                {
                    type: 'relation',
                    slug: 'direction',
                    label: 'Направление',
                    value: null,
                    model: 'directions',
                    module: 'copp/events',
                    options: [],
                },
                {
                    type: 'editor',
                    slug: 'content',
                    label: 'Содержимое',
                    value: '',
                    required: false,
                },
            ]
        }
    },

    watch: {
        item (value) {
            if (value) {
                let record = value

                for (let i in Object.keys(record)) {
                    let key  = Object.keys(record)[i]

                    let field = this.fields.find(f => f.slug === key)

                    if (field) {
                        if (field.type === 'relation') {
                            if (record[key]) {
                                field.value = record[key].id
                            }
                        } else {
                            field.value = record[key]
                        }
                    }
                }
            }
        }
    }
}
</script>