<template>
<div class="events-copp-institutions layout">
    <div class="page__header">
        <b-row class="page__filters"
            no-gutters
            align-v="center"
        >
            <b-col class="page__filter" lg="2">
                <UIInput
                    v-model="filter.search"
                    icon="search"
                    placeholder="Поиск"
                    :clearable="true"
                    variant="solid"
                />
            </b-col>

            <b-col lg="2" class="page__filter">
                <UISelect v-model="filter.direction"
                    placeholder="Выберите направление"
                    variant="solid"
                    :options="directions"
                    :searchable="true"
                />
            </b-col>

            <b-col class="page__filter">
                <b-pagination
                    v-model="page.current"
                    :total-rows="page.total"
                    :per-page="page.limit"
                    v-if="page.total > page.limit"
                />
            </b-col>

            <b-col class="page__filter text-right">
                <div class="page__total">
                    Всего: {{ page.total }}
                </div>
            </b-col>
        </b-row>
    </div>

    <div class="page__content">
        <b-overlay :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table :fields="columns" :items="list">
                    <template #cell(name)="data">
                        <UITableCell
                            type="link"
                            :path="`/events/${$route.params.id}/copp/institutions/${data.item.id}`"
                            :field="data.item.name"
                        />
                    </template>

                    <template #cell(form)="data">
                        <UITableCell
                            type="text"
                            :field="data.item.form"
                        />
                    </template>

                    <template #cell(base)="data">
                        <UITableCell
                            type="text"
                            :field="data.item.base"
                        />
                    </template>

                    <template #cell(site)="data">
                        <UITableCell
                            v-if="data.item.site"
                            type="link"
                            :path="data.item.site"
                            :field="data.item.site"
                        />
                    </template>

                    <template #cell(direction)="data">
                        <UITableCell
                            v-if="data.item.direction"
                            type="link"
                            :path="`/events/${$route.params.id}/copp/directions/${data.item.direction.id}`"
                            :field="data.item.direction.name"
                        />
                    </template>
                </b-table>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BRow,
    BCol,
    BPagination,
    BOverlay,
    BTable,
} from 'bootstrap-vue'

import {
    UIInput,
    UITableCell,
    UISelect,
} from '@grebrov/ui'

import { debounce } from 'debounce'

export default {
    components: {
        BRow, BCol,
        BPagination,
        UIInput,
        BOverlay,
        BTable,
        UITableCell,
        UISelect,
    },

    computed: {
        isLoading () {
            return this.$store.getters.isLoading
        },

        list () {
            return this.$store.getters.list
        },

        directions () {
            let directions = this.$store.getters['copp/directions'].map(i => ({
                label: i.name,
                value: i.id,
            }))

            directions.unshift({
                label: 'Все направления',
                value: null,
            })

            return directions
        }
    },

    data () {
        return {
            page: {
                total: 0,
                limit: 20,
                current: 1,
            },
            columns: [
                { label: 'Название', key: 'name' },
                { label: 'Форма', key: 'form' },
                { label: 'На базе', key: 'base' },
                { label: 'Сайт', key: 'site' },
                { label: 'Направление', key: 'direction' }
            ],
            filter: {
                search: '',
                direction: null,
            },
        }
    },

    async mounted () {
        await this.$store.dispatch('copp/getDirections', {
            limit: 1000,
        })
        
        await this.getList()
    },

    methods: {
        async getList () {
            await this.$store.dispatch('getModelList', {
                params: {
                    limit: this.page.limit,
                    offset: (this.page.current * this.page.limit) - this.page.limit,
                    search: this.filter.search,
                    direction: this.filter.direction,
                },
                model: 'institutions',
                module: 'copp/events',
            })

            this.page.total = this.$store.getters.rows
        },

        search: debounce(function () { this.getList(); }, 500),
    },

    watch: {
        'filter.search' (value) {
            this.search()
        },
        
        'filter.direction' (value) {
            this.getList()
        },
        
        'page.current' (value) {
            this.getList()
        },
    }
}
</script>