<template>
<div class="module">
    <!-- <div class="module__top">
        <div class="module__sections">
            <div class="module__sections-item">
                
            </div>
        </div>
    </div> -->

    <div class="module__content">
        <router-view />
    </div>
</div>
</template>

<script>
    export default {
        name: 'copp',

        mounted () {
            if (!this.$store.getters.project || this.$store.getters.project.slug !== 'copp') {
                this.$router.push({ path: '/' })
            }
        }
    }
</script>