<template>
<div class="layout">
    <div class="page__header">
        <div class="page__title">
            {{ title }}
        </div>

        <div class="page__actions">
            <div class="page__actions-item mr-2"
                v-if="$route.params.id"
            >
                <UIButton
                    label="Удалить"
                    icon="trash"
                    variant="danger-light"
                    id="delete-item"
                />

                <b-popover
                    target="delete-item"
                    title="Вы действительно хотите удалить эту запись?"
                    triggers="focus"
                    :show.sync="delPopover"
                >
                    <div class="page__popover-actions">
                        <UIButton
                            label="Удалить"
                            icon="trash"
                            variant="danger"
                            size="sm"
                            @click="del"
                        />

                        <UIButton
                            label="Отмена"
                            variant="primary-light"
                            size="sm"
                            @click="delPopover = false"
                        />
                    </div>  
                </b-popover>
            </div>

            <div class="page__actions-item">
                <UIButton
                    label="Сохранить"
                    icon="save"
                    variant="primary"
                    @click="save"
                />
            </div>
        </div>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <UIForm ref="form"
                :fields="fields"
                model="busyness/tutors"
            />
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
    BRow,
    BCol,
    BPopover,
} from 'bootstrap-vue'

import {
    UIButton,
    UIForm,
} from '@grebrov/ui'

export default {
    name: 'copp-busyness-tutors-edit',

    components: {
        BOverlay,
        BRow,
        BCol,
        UIButton,
        BPopover,
        UIForm
    },

    computed: {
        isLoading () {
            return this.$store.getters['copp/isLoading']
        },

        tutor () {
            return this.$store.getters['copp/busynessTutor']
        },

        title () {
            if (this.$route.name === 'copp-busyness-tutors-create') {
                return 'Создать тьютора'
            } else if (this.$route.name === 'copp-busyness-tutors-edit') {
                return 'Редактировать тьютора #' + this.$route.params.id
            }
        },
    },

    mounted () {
        this.$store.commit('copp/setNotice', null)

        if (this.$route.params.id) {
            this.$store.dispatch('copp/getBusynessTutor', this.$route.params.id)
        }
    },

    data () {
        return {
            form: {
                name: ''
            },
            delPopover: false,
            fields: [
                {
                    type: 'string',
                    slug: 'name',
                    label: 'Имя тьютора',
                    value: '',
                    required: true,
                }
            ]
        }
    },

    methods: {
        save () {
            this.$refs.form.submit()
        },

        del () {
            this.$store.dispatch('copp/deleteBusynessTutor', {
                vm: this
            })
        },

        setField (slug, value) {
            let fieldIndex = this.fields.findIndex(i => i.slug === slug)

            if (fieldIndex !== -1) {
                if (this.fields[fieldIndex].type === 'image') {
                    this.fields[fieldIndex].value = {
                        url: value,
                        file: null,
                    }
                } else {
                    this.fields[fieldIndex].value = value
                }    
            }
        },
    },

    watch: {
        tutor (value) {
            this.setField('name', value.name)
        }
    }
}
</script>