<template>
<div class="layout">
    <div class="page__header">
        <b-row class="page__filters" no-gutters align-v="center">
            <b-col class="page__filter" lg="2">
                <UIInput
                    v-model="filter.search"
                    icon="search"
                    placeholder="Поиск"
                    :clearable="true"
                    variant="solid"
                />
            </b-col>

            <b-col class="page__filter">
                <b-pagination
                    v-model="page.current"
                    :total-rows="page.total"
                    :per-page="page.limit"
                    v-if="page.total > page.limit"
                />
            </b-col>

            <b-col class="page__filter text-right">
                <div class="page__total">
                    Всего: {{ page.total }}
                </div>
            </b-col>
        </b-row>
    </div>

    <!-- <c-notice :notice="notice" /> -->

    <div class="page__content">
        <b-overlay :show="isLoading" spinner-variant="primary" variant="white">
            <div class="page__table">
                <b-table :fields="columns" :items="list"
                    :no-local-sorting="true"
                >
                    <template #cell(name)="data">
                        <!-- <c-table-cell
                            type="link"
                            :field="data.item.name"
                            :path="`/copp/busyness/tutors/${data.item.id}`"
                        /> -->
                        <UITableCell
                            type="link"
                            :field="data.item.name"
                            :path="`/copp/busyness/tutors/${data.item.id}`"
                        />
                    </template>
                </b-table>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
    BTable,
    BPagination,
    BRow,
    BCol,
} from 'bootstrap-vue'

import CTableCell from '@/components/table-cell'
import CButton from '@/components/button'
import CNotice from '@/components/notice'

import {
    UIInput,
    UITableCell,
} from '@grebrov/ui'

import { debounce } from 'debounce'

export default {
    name: 'copp-busyness-tutors',

    components: {
        BOverlay,
        BTable,
        BPagination,
        BRow,
        BCol,
        CTableCell,
        CButton,
        CNotice,
        UIInput,
        UITableCell,
    },

    computed: {
        isLoading () {
            return this.$store.getters['copp/isLoading']
        },

        list () {
            return this.$store.getters['copp/busynessTutors']
        },

        notice () {
            return this.$store.getters['copp/notice']
        }
    },

    async mounted () {
        await this.getList()
    },

    data () {
        return {
            columns: [
                { key: 'name', label: 'Имя' }
            ],
            filter: {
                search: '',
            },
            page: {
                total: 0,
                current: 1,
                limit: 20,
            }
        }
    },

    methods: {
        async getList () {
            await this.$store.dispatch('copp/getBusynessTutors', {
                limit: this.page.limit,
                offset: (this.page.current * this.page.limit) - this.page.limit,
                search: this.filter.search,
            })

            this.page.total = this.$store.getters['copp/rows']
        },

        search: debounce(function () { this.getList(); }, 500),
    },

    watch: {
        'filter.search' (value) {
            this.search()
        },

        'page.current' (value) {
            this.getList()
        },
    }
}
</script>