<template>
<div class="events-copp-directions layout">
    <div class="page__header">
        <b-row class="page__filters"
            no-gutters
            align-v="center"
        >
            <b-col class="page__filter">
                <b-pagination
                    v-model="page.current"
                    :total-rows="page.total"
                    :per-page="page.limit"
                    v-if="page.total > page.limit"
                />
            </b-col>

            <b-col class="page__filter text-right">
                <div class="page__total">
                    Всего: {{ page.total }}
                </div>
            </b-col>
        </b-row>
    </div>

    <div class="page__content">
        <b-overlay :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table :fields="columns" :items="list">
                    <template #cell(name)="data">
                        <UITableCell
                            type="link"
                            :path="`/events/${$route.params.id}/copp/directions/${data.item.id}`"
                            :field="data.item.name"
                        />
                    </template>

                    <template #cell(slug)="data">
                        <UITableCell
                            type="text"
                            :field="data.item.slug"
                        />
                    </template>

                    <template #cell(date)="data">
                        <UITableCell
                            type="text"
                            :field="data.item.date"
                        />
                    </template>
                </b-table>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BRow,
    BCol,
    BPagination,
    BOverlay,
    BTable,
} from 'bootstrap-vue'

import {
    UIInput,
    UITableCell,
} from '@grebrov/ui'

export default {
    components: {
        BRow, BCol,
        BPagination,
        UIInput,
        BOverlay,
        BTable,
        UITableCell,
    },

    computed: {
        isLoading () {
            return this.$store.getters.isLoading
        },

        list () {
            return this.$store.getters.list
        }
    },

    data () {
        return {
            page: {
                total: 0,
                limit: 20,
                current: 1,
            },
            columns: [
                { label: 'Название', key: 'name' },
                { label: 'Код', key: 'slug' },
                { label: 'Дата', key: 'date' },
            ]
        }
    },

    mounted () {
        this.getList()
    },

    methods: {
        async getList () {
            await this.$store.dispatch('getModelList', {
                params: {
                    limit: this.page.limit,
                    offset: (this.page.current * this.page.limit) - this.page.limit
                },
                model: 'directions',
                module: 'copp/events',
            })

            this.page.total = this.$store.getters.rows
        }
    },

    watch: {
        'page.current' (value) {
            this.getList()
        },
    }
}
</script>