<template>
<div class="page">
    <div class="page__top">
        <div class="page__sections">
            <router-link class="page__sections-item"
                to="/copp/busyness/requests"
            >Заявки</router-link>

            <router-link class="page__sections-item"
                to="/copp/busyness/tutors"
            >Тьюторы</router-link>
        </div>

        <div class="page__actions">
            <div class="page__actions-item"
                v-if="$route.name === 'copp-busyness-tutors'"
            >
                <UIButton
                    label="Создать"
                    variant="primary"
                    icon="plus"
                    @click="goTo('/copp/busyness/tutors/create')"
                />
            </div>

            <div class="page__actions-item"
                v-if="$route.name === 'copp-busyness-tutors-create' || $route.name === 'copp-busyness-tutors-edit' || $route.name === 'copp-busyness-request'"
            >
                <UIButton
                    label="Назад"
                    variant="primary-light"
                    icon="back"
                    @click="back"
                />
            </div>
        </div>
    </div>

    <div class="page__layout">
        <router-view />
    </div>

    <!-- <div class="page__menu">
        <router-link class="page__menu-item" to="/copp/busyness/requests">
            Заявки
        </router-link>

        <router-link class="page__menu-item" to="/copp/busyness/tutors">
            Тьюторы
        </router-link>
    </div>

    <div class="page__layout">
        <router-view />
    </div> -->
</div>
</template>

<script>
import {
    UIButton,
} from '@grebrov/ui'

export default {
    name: 'copp-busyness',

    components: {
        UIButton,
    },

    methods: {
        goTo (path) {
            this.$router.push({ path })
        },

        back () {
            this.$router.go(-1)
        }
    }
}
</script>