<template>
<div class="module">
    <div class="module__content">
        <div class="page">
            <div class="page__content">
                <notice :notice="notice"/>

                <file-list />
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    UIButton,
} from '@grebrov/ui'

import {
    BRow,
    BCol,
    BPagination,
} from 'bootstrap-vue'

import Notice from '@/components/notice'
import FileList from '@/components/file-list'

export default {
    components: {
        UIButton,
        BRow,
        BCol,
        BPagination,
        Notice,
        FileList,
    },

    computed: {
        notice () {
            return this.$store.getters.notice
        }
    },

    data () {
        return {
            page: {
                total: 0,
                limit: 20,
                current: 1,
            }
        }
    },

    methods: {
        create () {
            this.$router.push({ path: '/site/attachments/upload' })
        },

        back () {
            this.$router.go(-1)
        }
    }
}
</script>