<template>
<div class="layout">
    <div class="page__header">
        <div class="page__title">
            {{ title }}
        </div>

        <div class="page__actions">
            <div class="page__actions-item mr-2"
                v-if="$route.params.id"
            >
                <UIButton
                    label="Удалить"
                    icon="trash"
                    variant="danger-light"
                    id="delete-item"
                />

                <b-popover
                    target="delete-item"
                    title="Вы действительно хотите удалить эту запись?"
                    triggers="focus"
                    :show.sync="delPopover"
                >
                    <div class="page__popover-actions">
                        <UIButton
                            label="Удалить"
                            icon="trash"
                            variant="danger"
                            size="sm"
                            @click="del"
                        />

                        <UIButton
                            label="Отмена"
                            variant="primary-light"
                            size="sm"
                            @click="delPopover = false"
                        />
                    </div>  
                </b-popover>
            </div>

            <div class="page__actions-item">
                <UIButton
                    label="Сохранить"
                    icon="save"
                    variant="primary"
                    @click="save"
                />
            </div>
        </div>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <UIForm ref="form"
                :fields="fields"
                model="sc/programs"
            />
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    UIButton,
    UIForm,
} from '@grebrov/ui'

import {
    BOverlay,
    BPopover,
} from 'bootstrap-vue'

export default {
    name: 'copp-sc-programs-edit',

    components: {
        UIButton,
        UIForm,
        BPopover,
        BOverlay,
    },

    computed: {
        title () {
            if (this.$route.name === 'copp-sc-programs-create') {
                return 'Создать программу'
            } else if (this.$route.name === 'copp-sc-programs-edit') {
                return 'Редактировать программу #' + this.$route.params.id
            }
        },

        isLoading () {
            return this.$store.getters['copp/isLoading']
        },

        institutions () {
            let data = this.$store.getters['copp/scInstitutions']

            // if (data.length > 0) {
            //     this.form.institution = data[0].id
            // }

            return data.map(i => ({
                label: i.short_name,
                value: i.id
            }))
        },

        program () {
            return this.$store.getters['copp/scProgram']
        }
    },

    async mounted () {
        await this.$store.dispatch('copp/getScInstitutions', {
            limit: 1000,
        })
        this.$store.commit('copp/setNotice', null)

        if (this.$route.params.id) {
            await this.$store.dispatch('copp/getScProgram', this.$route.params.id)
        }
    },

    data () {
        return {
            delPopover: false,
            fields: [
                {
                    type: 'string',
                    slug: 'name',
                    label: 'Название',
                    value: '',
                    required: true,
                },
                {
                    type: 'checkbox',
                    slug: 'is_copp',
                    label: 'Программа ЦОПП',
                    value: false,
                },
                {
                    type: 'select',
                    slug: 'institution',
                    options: [],
                    label: 'ПОО',
                    value: null,
                    show: 'is_copp'
                },
                {
                    type: 'string',
                    slug: 'type',
                    label: 'Вид',
                    value: '',
                },
                {
                    type: 'string',
                    slug: 'form',
                    label: 'Форма',
                    value: '',
                },
                {
                    type: 'string',
                    slug: 'format',
                    label: 'Формат',
                    value: '',
                },
                {
                    type: 'string',
                    slug: 'hours',
                    label: 'Часы',
                    value: '',
                },
                {
                    type: 'string',
                    slug: 'period',
                    label: 'Сроки',
                    value: '',
                },
                {
                    type: 'string',
                    slug: 'cost',
                    label: 'Цена',
                    value: '',
                },
            ]
        }
    },

    watch: {
        institutions (value) {
            let field = this.fields.find(i => i.slug === 'institution')

            if (field) {
                field.options = value,
                field.value = value[0].value
            }
        },

        program (value) {
            this.setField('name', value.name)
            this.setField('is_copp', value.is_copp)
            this.setField('type', value.type)
            this.setField('institution', value.institution.id)
            this.setField('form', value.form)
            this.setField('format', value.format)
            this.setField('hours', value.hours)
            this.setField('period', value.period)
            this.setField('cost', value.cost)
        }
    },

    methods: {
        save () {
            this.$refs.form.submit()
        },

        del () {
            this.$store.dispatch('copp/deleteScProgram', {
                id: this.$route.params.id,
                vm: this
            })
        },

        setField (slug, value) {
            let fieldIndex = this.fields.findIndex(i => i.slug === slug)

            if (fieldIndex !== -1) {
                if (this.fields[fieldIndex].type === 'image') {
                    this.fields[fieldIndex].value = {
                        url: value,
                        file: null,
                    }
                } else {
                    this.fields[fieldIndex].value = value
                }    
            }
        },
    },
}
</script>