<template>
<div class="layout">
    <div class="page__header">
        <div class="page__title">Импорт программ из Excel</div>

        <div class="page__actions">
            <div class="page__actions-item">
                <UIButton
                    label="Импортировать"
                    icon="file-plus"
                    variant="primary"
                    @click="toImport"
                />
            </div>
        </div>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="ui-form">
                <div class="ui-form__wrapper">
                    <table class="ui-form__fields">
                        <tr class="ui-form__fields-item">
                            <td class="ui-form__fields-item-label">
                                ПОО
                            </td>

                            <td class="ui-form__fields-item-control">
                                <UISelect
                                    v-model="form.institution"
                                    :options="institutions"
                                />
                            </td>
                        </tr>

                        <tr class="ui-form__fields-item">
                            <td class="ui-form__fields-item-label">
                                Excel-файл
                            </td>

                            <td class="ui-form__fields-item-control">
                                <UIFileUploader
                                    :mutliple="false"
                                    v-model="form.file"
                                />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    UIButton,
    UISelect,
    UIFileUploader,
} from '@grebrov/ui'

import {
    BOverlay,
} from 'bootstrap-vue'

export default {
    name: 'copp-sc-programs-import',

    components: {
        UIButton,
        BOverlay,
        UISelect,
        UIFileUploader,
    },

    computed: {
        isLoading () {
            return this.$store.getters['copp/isLoading']
        },

        institutions () {
            let data = this.$store.getters['copp/scInstitutions']

            return data.map(i => ({
                label: i.short_name,
                value: i.id
            }))
        },
    },

    async mounted () {
        await this.$store.dispatch('copp/getScInstitutions', {
            limit: 1000,
        })
        this.$store.commit('copp/setNotice', null)
    },

    data () {
        return {
            form: {
                institution: null,
                file: null,
            }
        }
    },

    methods: {
        toImport () {
            if (this.form.file) {
                this.$store.dispatch('copp/import', {
                    form: {
                        institution: this.form.institution,
                        file: this.form.file.file,
                    },
                    vm: this
                })
            }
        }
    },

    watch: {
        institutions (value) {
            this.form.institution = value.length > 0 ? value[0].value : null
        }
    }
}
</script>