<template>
<div class="copp-sc-import">
    <b-overlay :show="isLoading" spinner-variant="primary" variant="white">
        <c-form>
            <b-row>
                <b-col cols="6">
                    <c-select label="ПОО"
                        :options="institutions"
                        :clearable="false"
                        v-model="form.institution"
                    />
                </b-col>
            </b-row>

            <b-row class="mt-3">
                <b-col>
                    <c-file-field label="Файл импорта" v-model="form.file" />
                </b-col>
            </b-row>

            <b-row class="mt-4">
                <b-col>
                    <c-button label="Импортировать"
                        :icon="icons.import"
                        @click="toImport"
                    />
                </b-col>
            </b-row>
        </c-form>
    </b-overlay>
</div>
</template>

<script>
import { BOverlay, BRow, BCol } from 'bootstrap-vue'
import cForm from '@/components/form'
import cSelect from '@/components/select'
import cFileField from '@/components/file-field'
import cButton from '@/components/button'

import { faFileImport } from '@fortawesome/free-solid-svg-icons'

export default {
    name: 'copp-sc-programs-import',

    components: {
        BOverlay,
        BRow,
        BCol,
        cForm,
        cSelect,
        cFileField,
        cButton
    },

    mounted () {
        this.$store.dispatch('copp/getScInstitutions', {
            limit: 1000
        })
        this.$store.commit('copp/setNotice', null)
    },

    computed: {
        isLoading () {
            return this.$store.getters['copp/isLoading']
        },

        institutions () {
            let data = this.$store.getters['copp/scInstitutions']

            if (data.length > 0) {
                this.form.institution = data[0].id
            }

            return data.map(i => ({
                label: i.short_name,
                value: i.id
            }))
        },
    },

    data () {
        return {
            form: {
                institution: null,
                file: null,
            },
            icons: {
                import: faFileImport,
            }
        }
    },

    methods: {
        toImport () {
            if (this.form.institution && this.form.file) {
                this.$store.dispatch('copp/import', {
                    form: this.form,
                    vm: this
                })
            }
        }
    }
}
</script>