<template>
<div class="layout">
    <div class="page__header">
        <b-row class="page__filters" no-gutters align-v="center">
            <b-col lg="2" class="page__filter">
                <UIInput v-model="filter.search"
                    icon="search"
                    placeholder="Поиск"
                    :clearable="true"
                    variant="solid"
                />
            </b-col>

            <b-col lg="3" class="page__filter">
                <UISelect v-model="filter.institution"
                    placeholder="Выберите ПОО"
                    variant="solid"
                    :options="institutions"
                    :searchable="true"
                />
            </b-col>

            <b-col class="page__filter pt-2" lg="2">
                <UICheckbox v-model="filter.isCopp"
                    label="Программы ЦОПП"
                    variant="solid"
                />
            </b-col>

            <b-col class="page__filter" lg="3">
                <b-pagination
                    v-model="page.current"
                    :total-rows="page.total"
                    :per-page="page.limit"
                    v-if="page.total > page.limit"
                />
            </b-col>

            <b-col class="page__filter">
                <div class="page__total text-right">
                    Всего: {{ page.total }}
                </div>
            </b-col>
        </b-row>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table :fields="columns" :items="list">
                    <template #cell(name)="data">
                        <UITableCell
                            type="link"
                            :field="data.item.name"
                            :path="`/copp/sc/programs/${data.item.id}`"
                        />
                    </template>

                    <template #cell(institution)="data">
                        <UITableCell
                            v-if="!data.item.is_copp"
                            type="link"
                            :field="data.item.institution ? data.item.institution.short_name : '-'"
                            :path="data.item.institution ? (`/copp/sc/institutions/${data.item.institution.id}`) : '#'"
                        />

                        <UITableCell
                            v-if="data.item.is_copp"
                            type="text"
                            field="ЦОПП РС(Я)"
                        />
                    </template>

                    <template #cell(cost)="data">
                        <UITableCell
                            type="text"
                            :field="data.item.cost"
                        />
                    </template>
                </b-table>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BRow, BCol, BOverlay,
    BPagination, BTable,
} from 'bootstrap-vue'

import {
    UIInput, UISelect, UICheckbox,
    UITableCell,
} from '@grebrov/ui'

import { debounce } from 'debounce'

export default {
    name: 'copp-sc-programs-list',

    components: {
        BRow,
        BCol,
        BOverlay,
        UIInput,
        UISelect,
        UICheckbox,
        BPagination,
        UITableCell,
        BTable,
    },

    data () {
        return {
            filter: {
                search: '',
                institution: null,
                isCopp: false,
            },
            page: {
                current: 1,
                total: 0,
                limit: 20,
            },
            columns: [
                { label: 'Название', key: 'name' },
                { label: 'ПОО', key: 'institution' },
                { label: 'Стоимость', key: 'cost' }
            ]
        }
    },

    computed: {
        isLoading () {
            return this.$store.getters['copp/isLoading']
        },

        list () {
            return this.$store.getters['copp/scPrograms']
        },

        institutions () {
            let institutions = this.$store.getters['copp/scInstitutions'].map(i => ({
                label: i.short_name,
                value: i.id
            }))

            institutions.unshift({
                label: 'Все ПОО',
                value: null,
            })

            return institutions
        }
    },

    async mounted () {
        await this.$store.dispatch('copp/getScInstitutions', {
            limit: 1000
        })

        await this.getList()
    },

    methods: {
        async getList () {
            await this.$store.dispatch('copp/getScPrograms', {
                limit: this.page.limit,
                offset: (this.page.current * this.page.limit) - this.page.limit,
                search: this.filter.search,
                institution: this.filter.institution,
                is_copp: this.filter.isCopp,
            })

            this.page.total = this.$store.getters['copp/rows']
        },

        search: debounce(function () { this.getList(); }, 500),
    },

    watch: {
        'page.current' (value) {
            this.getList()
        },

        'filter.institution' (value) {
            this.getList()
        },

        'filter.search' (value) {
            this.search()
        },

        'filter.isCopp' (value) {
            this.getList()
        }
    }
}
</script>