<template>
<div class="layout">
    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <ModelForm :fields="fields" model="sections" />
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
} from 'bootstrap-vue'

import ModelForm from '@/components/model-form'

export default {
    name: 'site-sections-edit',

    components: {
        BOverlay,
        ModelForm
    },

    computed: {
        title () {
            if (this.$route.name === 'site-sections-create') {
                return 'Создать раздел'
            } else if (this.$route.name === 'site-sections-edit') {
                return `Редактировать раздел #${this.$route.params.id}`
            }
        },

        isLoading () {
            return this.$store.getters['site/isLoading']
        },

        item () {
            return this.$store.getters['site/item']
        }
    },

    mounted () {
        if (this.$store.getters.project) {
            this.getItem()
        }
    },

    data () {
        return {
            fields: [
                {
                    type: 'string',
                    slug: 'name',
                    label: 'Название',
                    value: '',
                    required: true,
                },
                {
                    type: 'string',
                    slug: 'slug',
                    label: 'Слаг',
                    value: '',
                    required: true,
                },
                {
                    type: 'editor',
                    slug: 'description',
                    label: 'Описание',
                    value: '',
                }
            ],
        }
    },

    methods: {
        async getItem () {
            await this.$store.dispatch('site/getItem', {
                id: this.$route.params.id,
                model: 'sections',
            })
        }
    },

    watch: {
        project (value) {
            this.getItem()
        },

        item (value) {
            let record = value

            let keys = Object.keys(record)

            for (let i in Object.keys(record)) {
                let key = Object.keys(record)[i]

                let field = this.fields.find(f => f.slug === key)

                if (field) field.value = record[key]
            }
        }
    }
}
</script>