<template>
<div class="page">
    <div class="page__top">
        <div class="page__title">
            {{ title }}
        </div>

        <div class="page__actions">
            <div class="page__actions-item"
                v-if="$route.name === 'site-sections'"
            >
                <UIButton
                    label="Создать"
                    variant="primary"
                    icon="plus"
                    @click="goTo('/site/sections/create')"
                />
            </div>

            <div class="page__actions-item"
                v-if="$route.name !== 'site-sections'"
            >
                <UIButton
                    label="Назад"
                    variant="primary-light"
                    icon="back"
                    @click="goTo('/site/sections')"
                />
            </div>
        </div>
    </div>

    <div class="page__layout">
        <router-view />
    </div>    
</div>
</template>

<script>
import {
    UIButton
} from '@grebrov/ui'

export default {
    name: 'site-sections',

    components: {
        UIButton,
    },

    computed: {
        title () {
            if (this.$route.name === 'site-sections') {
                return 'Управление разделами'
            } else if (this.$route.name === 'site-sections-create') {
                return 'Создать раздел'
            } else if (this.$route.name === 'site-sections-edit') {
                return 'Редактировать раздел'
            }
        }
    },

    methods: {
        goTo (path) {
            this.$router.push({ path })
        }
    }
}
</script>