<template>
<div style="height:100%;display:flex;flex-direction:column">
    <div class="page__header">
        <b-row class="page__filters" no-gutters align-v="center">
            <b-col lg="2" class="page__filter">
                <UIInput v-model="filter.search"
                    icon="search"
                    placeholder="Поиск"
                    :clearable="true"
                    variant="solid"
                />
            </b-col>

            <b-col lg="2" class="page__filter">
                <UIDatepicker v-model="filter.period"
                    placeholder="Выберите период"
                    :range="true"
                    variant="solid"
                />  
            </b-col>

            <b-col lg="3" class="page__filter">
                <UISelect v-model="filter.institution"
                    placeholder="Выберите ПОО"
                    variant="solid"
                    :options="institutions"
                    :searchable="true"
                />
            </b-col>

            <b-col class="page__filter">
                <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="20"
                    v-if="rows > 20"
                />
            </b-col>

            <b-col class="page__filter text-right">
                <div class="page__total">
                    Всего: {{ rows }}
                </div>
            </b-col>
        </b-row>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table :fields="columns" :items="list">
                    <template #cell(program)="data">
                        <UITableCell
                            v-if="data.item.program"
                            type="link"
                            :field="data.item.program.name"
                            :path="`/copp/sc/programs/${data.item.program.id}`"
                            :description="data.item.program.institution.short_name"
                        />
                    </template>

                    <template #cell(contacts)="data">
                        <UITableCell
                            type="contacts"
                            :field="{
                                phone: data.item.phone,
                                address: data.item.district,
                                email: data.item.email,
                            }"
                        />
                    </template>

                    <template #cell(created_date)="data">
                        <UITableCell
                            type="date"
                            :field="data.item.created_date"
                        />
                    </template>
                </b-table>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
    BPagination,
    BRow,
    BCol,
    BTable,
} from 'bootstrap-vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import {
    faSearch,
} from '@fortawesome/free-solid-svg-icons'

import {
    UIButton,
    UISelect,
    UIDatepicker,
    UIInput,
    UITableCell,
} from '@grebrov/ui'

import moment from 'moment'
import { debounce } from 'debounce'

export default {
    name: 'copp-sc-requests',

    components: {
        BOverlay,
        BPagination,
        FontAwesomeIcon,
        UIButton,
        UISelect,
        UIDatepicker,
        UIInput,
        BRow,
        BCol,
        BTable,
        UITableCell,
    },

    computed: {
        isLoading () {
            return this.$store.getters['copp/isLoading']
        },

        list () {
            return this.$store.getters['copp/scRequests']
        },

        institutions () {
            let institutions = this.$store.getters['copp/scInstitutions'].map(i => ({
                label: i.short_name,
                value: i.id,
            }))

            institutions.unshift({
                label: 'Все ПОО',
                value: null,
            })

            return institutions
        },
    },

    async mounted () {
        await this.$store.dispatch('copp/getScInstitutions', {
            limit: 10000
        })
        await this.$store.dispatch('copp/getScRequests')
        this.rows = this.$store.getters['copp/rows']
    },

    data () {
        return {
            columns: [
                { label: 'ФИО', key: 'full_name' },
                { label: 'Контакты', key: 'contacts' },
                { label: 'Программа', key: 'program' },
                { label: 'Дата', key: 'created_date' }
            ],
            currentPage: 1,
            rows: 0,
            filter: {
                search: '',
                period: null,
                institution: null,
            },
        }
    },

    methods: {
        async apply () {
            this.getRequests()
        },

        async getRequests () {
            let limit = 20
            let offset = (this.currentPage * limit) - limit

            let institution = this.filter.institution

            let start_date = null
            let end_date = null

            let search = ''

            if (this.filter.search !== '') {
                search =    this.filter.search
            }

            if (this.filter.period) {
                start_date = this.filter.period[0] ? moment(this.filter.period[0]).format() : null
                end_date = this.filter.period[1] ? moment(this.filter.period[1]).endOf('day').format() : null
            }

            this.$emit('changeFilter', {
                start_date,
                end_date,
                institution,
                search,
            })

            await this.$store.dispatch('copp/getScRequests', {
                limit,
                offset,
                start_date,
                end_date,
                institution,
                search,
            })

            this.rows = this.$store.getters['copp/rows']
        },

        debouncedQuery: debounce(function () { this.getRequests(); }, 500)
    },

    watch: {
        currentPage (value) {
            let limit = 20
            let offset = (value * limit) - limit

            this.getRequests()
        },

        'filter.institution' (value) {
            this.getRequests()
        },

        'filter.period' (value) {
            this.getRequests()
        },

        'filter.search' (value) {
            this.debouncedQuery()
        }
    }
}
</script>