<template>
<div class="layout">
    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <ModelForm
                :fields="fields"
                model="programs"
                module="rpk"
            />
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
} from 'bootstrap-vue'

import ModelForm from '@/components/model-form'

export default {
    name: 'rpk-programs-edit',

    components: {
        BOverlay,
        ModelForm,
    },

    computed: {
        isLoading () {
            return this.$store.getters['rpk/isLoading']
        },

        item () {
            return this.$store.getters['rpk/item']
        }
    },

    mounted () {
        if (this.$route.params.id) {
            this.getItem()
        }
    },

    data () {
        return {
            fields: [
                {
                    type: 'string',
                    slug: 'name',
                    label: 'Название',
                    value: '',
                    required: true,
                },
                {
                    type: 'string',
                    slug: 'code',
                    label: 'Шифр',
                    value: '',
                    required: false,
                },
                {
                    type: 'string',
                    slug: 'degree',
                    label: 'Степень подготовки',
                    value: '',
                },
                {
                    type: 'string',
                    slug: 'job_position',
                    label: 'Должность'
                },
                {
                    type: 'string',
                    slug: 'level',
                    label: 'Уровень образования'
                },
                {
                    type: 'string',
                    slug: 'places',
                    label: 'Места'
                },
                {
                    type: 'text',
                    slug: 'requirements',
                    label: 'Требования'
                },
                {
                    type: 'relation',
                    slug: 'employer',
                    label: 'Работодатель',
                    value: null,
                    model: 'employers',
                    module: 'rpk',
                    options: [],
                },
                {
                    type: 'relation',
                    slug: 'department',
                    label: 'Ведомство',
                    value: null,
                    model: 'departments',
                    module: 'rpk',
                    options: [],
                },
                {
                    type: 'relation',
                    slug: 'industry_project',
                    label: 'Отраслевой проект',
                    value: null,
                    model: 'industry-projects',
                    module: 'rpk',
                    options: [],
                },
                {
                    type: 'relation',
                    slug: 'direction',
                    label: 'Направление',
                    value: null,
                    model: 'directions',
                    module: 'rpk',
                    options: [],
                },
                {
                    type: 'relation',
                    slug: 'institution',
                    label: 'Образовательная организация',
                    value: null,
                    model: 'institutions',
                    module: 'rpk',
                    options: [],
                }
            ]
        }
    },

    methods: {
        async getItem () {
            await this.$store.dispatch('rpk/getItem', {
                id: this.$route.params.id,
                model: 'programs',
            })
        }
    },

    watch: {
        item (value) {
            let record = value

            for (let i in Object.keys(record)) {
                let key = Object.keys(record)[i]

                let field = this.fields.find(f => f.slug === key)

                if (field) {
                    if (field.type === 'relation') {
                        if (record[key]) {
                            field.value = record[key].id
                        }
                        
                    } else {
                        field.value = record[key]
                    }
                }
            }
        }
    }
}
</script>