<template>
<div class="page">
    <div class="page__top">
        <div class="page__title">
            {{ title }}
        </div>

        <div class="page__actions">
            <div class="page__actions-item"
                v-if="$route.name === 'rpk-programs'"
            >
                <UIButton
                    label="Создать"
                    variant="primary"
                    icon="plus"
                    @click="goTo('/rpk/programs/create')"
                />
            </div>

            <div class="page__actions-item"
                v-if="$route.name !== 'rpk-programs'"
            >
                <UIButton
                    label="Назад"
                    variant="primary-light"
                    icon="back"
                    @click="back"
                />
            </div>
        </div>
    </div>

    <div class="page__layout">
        <router-view />
    </div>
</div>
</template>

<script>
import {
    UIButton,
} from '@grebrov/ui'

export default {
    name: 'rpk-programs',

    components: {
        UIButton,
    },

    computed: {
        title () {
            if (this.$route.name === 'rpk-programs') {
                return 'Управление программами'
            } else if (this.$route.name === 'rpk-programs-create') {
                return 'Создать программу'
            } else if (this.$route.name === 'rpk-programs-edit') {
                return 'Редактировать программу'
            }
        }
    },

    methods: {
        back () {
            this.$router.go(-1)
        },

        goTo (path) {
            this.$router.push({ path })
        },
    }
}
</script>