<template>
<div class="layout">
    <div class="page__header">
        <b-row class="page__filters" no-gutters align-v="center">
            <b-col class="page__filter" lg="3">
                <b-pagination
                    v-model="page.current"
                    :total-rows="page.total"
                    :per-page="page.limit"
                    v-if="page.total > page.limit"
                />
            </b-col>

            <b-col class="page__filter">
                <div class="page__total text-right">
                    Всего: {{ page.total }}
                </div>
            </b-col>
        </b-row>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table :fields="columns" :items="list">
                    <template #cell(name)="data">
                        <UITableCell
                            type="link"
                            :field="data.item.name"
                            :description="'Шифр: ' + data.item.code"
                            :path="`/rpk/programs/${data.item.id}`"
                        />
                    </template>

                    <template #cell(level)="data">
                        <UITableCell
                            type="text"
                            :field="`${data.item.level} (${data.item.degree})`"
                        />
                    </template>

                    <template #cell(places)="data">
                        <UITableCell
                            type="text"
                            :field="data.item.places"
                        />
                    </template>

                    <template #cell(employer)="data">
                        <UITableCell
                            type="link"
                            :description="data.item.job_position"
                            :field="data.item.employer.name"
                            :path="`/rpk/employers/${data.item.employer.id}`"
                        />
                    </template>

                    <template #cell(department)="data">
                        <UITableCell
                            type="link"
                            :field="data.item.department.name"
                            :path="`/rpk/departments/${data.item.department.id}`"
                        />
                    </template>

                    <template #cell(direction)="data">
                        <UITableCell
                            type="link"
                            :field="data.item.direction.name"
                            :path="`/rpk/directions/${data.item.direction.id}`"
                        />
                    </template>

                    <template #cell(institution)="data">
                        <UITableCell
                            type="link"
                            :field="data.item.institution.name"
                            :path="`/rpk/institutions/${data.item.institution.id}`"
                            :description="data.item.institution.location"
                        />
                    </template>
                </b-table>
            </div>            
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BRow,
    BCol,
    BPagination,
    BOverlay,
    BTable,
} from 'bootstrap-vue'

import {
    UITableCell,
} from '@grebrov/ui'

export default {
    name: 'rpk-programs-list',

    components: {
        BRow,
        BCol,
        BTable,
        BPagination,
        BOverlay,
        UITableCell,
    },

    computed: {
        isLoading () {
            return this.$store.getters['rpk/isLoading']
        },

        list () {
            return this.$store.getters['rpk/list']
        },
    },

    mounted () {
        this.getList()
    },

    data () {
        return {
            page: {
                total: 0,
                limit: 50,
                current: 1,
            },

            columns: [
                { label: 'Специальность', key: 'name' },
                { label: 'Направление', key: 'direction' },
                { label: 'Уровень образования', key: 'level' },
                { label: 'Места', key: 'places' },
                { label: 'Работодатель', key: 'employer' },
                { label: 'Ведомство', key: 'department' },
                { label: 'ОО', key: 'institution' },
            ]
        }
    },

    methods: {
        async getList () {
            await this.$store.dispatch('rpk/getList', {
                model: 'programs',
                params: {
                    limit: this.page.limit,
                    offset: (this.page.current * this.page.limit) - this.page.limit,
                }
            })

            this.page.total = this.$store.getters['rpk/rows']
        },
    },

    watch: {
        'page.current' (value) {
            this.getList()
        },
    }
}
</script>