<template>
<div class="page">
    <div class="page__top">
        <div class="page__sections">
            <router-link class="page__sections-item"
                to="/copp/sc/requests"
            >
                Заявки
            </router-link>

            <router-link class="page__sections-item"
                to="/copp/sc/institutions"
            >
                ПОО
            </router-link>

            <router-link class="page__sections-item"
                to="/copp/sc/programs"
            >
                Программы
            </router-link>
        </div>

        <div class="page__actions">
            <div class="page__actions-item"
                v-if="$route.name === 'copp-sc-institutions'"
            >
                <UIButton label="Создать" variant="primary" icon="plus"
                    @click="goTo('/copp/sc/institutions/create')"
                />
            </div>

            <div class="page__actions-item"
                v-if="$route.name === 'copp-sc-programs'"
            >
                <UIButton label="Импорт" variant="success" icon="file-plus"
                    @click="goTo('/copp/sc/programs/import')"
                />
            </div>

            <div class="page__actions-item"
                v-if="$route.name === 'copp-sc-programs'"
            >
                <UIButton label="Создать" variant="primary" icon="plus"
                    @click="goTo('/copp/sc/programs/create')"
                />
            </div>

            <div class="page__actions-item"
                v-if="
                    $route.name === 'copp-sc-programs-create' ||
                    $route.name === 'copp-sc-programs-edit' ||
                    $route.name === 'copp-sc-institutions-create' ||
                    $route.name === 'copp-sc-institutions-edit' ||
                    $route.name === 'copp-sc-programs-import'
                "
            >
                <UIButton label="Назад" variant="primary-light" icon="back"
                    @click="back"
                />
            </div>

            <div class="page__actions-item"
                v-if="$route.name === 'copp-sc-requests'"
            >
                <UIButton label="Выгрузить" icon="download" variant="success"
                    @click="downloadList"
                />
            </div>
        </div>
    </div>
    
    <div class="page__layout">
        <router-view @changeFilter="changeFilter" />
    </div>
</div>
</template>

<script>
import {
    UIButton,
} from '@grebrov/ui'

export default {
    name: 'copp-sc',

    components: {
        UIButton,
    },

    data () {
        return {
            filter: null,
        }
    },

    methods: {
        goTo (path) {
            this.$router.push({ path })
        },

        back () {
            this.$router.go(-1)
        },

        downloadList () {
            this.$store.dispatch('copp/scDownloadRequests', {
                vm: this
            })
        },

        changeFilter (value) {
            this.filter = value
        }
    }
}
</script>