<template>
<div class="page">
    <div class="page__top">
        <div class="page__title">
            {{ title }}
        </div>

        <div class="page__actions">
            <div class="page__actions-item"
                v-if="$route.name === 'rpk-industry-projects'"
            >
                <UIButton
                    label="Создать"
                    variant="primary"
                    icon="plus"
                    @click="goTo('/rpk/industry-projects/create')"
                />
            </div>

            <div class="page__actions-item"
                v-if="$route.name !== 'rpk-industry-projects'"
            >
                <UIButton
                    label="Назад"
                    variant="primary-light"
                    icon="back"
                    @click="back"
                />
            </div>
        </div>
    </div>

    <div class="page__layout">
        <router-view />
    </div>
</div>
</template>

<script>
import {
    UIButton,
} from '@grebrov/ui'

export default {
    name: 'rpk-industry-projects',

    components: {
        UIButton,
    },

    computed: {
        title () {
            if (this.$route.name === 'rpk-industry-projects') {
                return 'Управление отраслевыми проектами'
            } else if (this.$route.name === 'rpk-industry-projects-create') {
                return 'Создать отраслевой проект'
            } else if (this.$route.name === 'rpk-industry-projects-edit') {
                return 'Редактировать отраслевой проект'
            }
        }
    },

    methods: {
        back () {
            this.$router.go(-1)
        }
    }
}
</script>