<template>
<div class="module">
    <div class="module__top">
        <!-- <div class="module__top-title">
            {{ title }}
        </div> -->
        <div class="module__sections">
            <div class="module__sections-item">
                
            </div>
        </div>
    </div>

    <div class="module__content">
        <router-view />
    </div>
</div>
</template>

<script>
import { BToast } from 'bootstrap-vue'

export default {
    name: 'copp',

    components: {
        BToast
    },

    computed: {
        title () {
            if (
                this.$route.name === 'copp-socialcontracts' ||
                this.$route.name === 'copp-socialcontracts-requests' ||
                this.$route.name === 'copp-socialcontracts-institutions' ||
                this.$route.name === 'copp-socialcontracts-institutions-create' ||
                this.$route.name === 'copp-socialcontracts-institutions-edit' ||
                this.$route.name === 'copp-socialcontracts-programs' ||
                this.$route.name === 'copp-socialcontracts-programs-create' ||
                this.$route.name === 'copp-socialcontracts-programs-edit' ||
                this.$route.name === 'copp-socialcontracts-programs-import'
            ) {
                return 'Социальные контракты'
            } else if (
                this.$route.name === 'copp-busyness' ||
                this.$route.name === 'copp-busyness-requests' ||
                this.$route.name === 'copp-busyness-request' ||
                this.$route.name === 'copp-busyness-tutors' ||
                this.$route.name === 'copp-busyness-tutors-edit' ||
                this.$route.name === 'copp-busyness-tutors-create'
            ) {
                return 'Содействие занятости'
            }
        },
    },

    data () {
        return {
            
        }
    }
}
</script>