<template>
<div class="c-button">
    <button class="c-button__wrapper" @click="onClick"
        :class="{
            'c-button__wrapper_danger': variant === 'danger',
            'c-button__wrapper_primary-light': variant === 'primary-light',
            'c-button__wrapper_success': variant === 'success',
        }"
    >
        <div class="c-button__icon" v-if="icon">
            <font-awesome-icon :icon="icon" />
        </div>
        <div class="c-button__label" v-if="label">{{ label }}</div>
    </button>
</div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default {
    name: 'c-button',

    props: [
        'label',
        'variant',
        'icon',
    ],

    components: {
        FontAwesomeIcon,
    },

    methods: {
        onClick () {
            this.$emit('click')
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/vars';

.c-button {
    display: inline-block;
    
    &__wrapper {
        background: $color-primary;
        border: 2px solid $color-primary;
        color: white;
        font-size: 13px;
        font-weight: 600;
        border-radius: 4px;
        text-transform: uppercase;
        padding: 5px 14px;
        transition: .2s;
        display: inline-flex;

        &:hover {
            background: darken($color-primary, 5%);
            border-color: darken($color-primary, 5%);
        }

        &_primary-light {
            background: $color-primary-light;
            border-color: $color-primary-light;
            color: $color-primary;

            &:hover {
                background: darken($color-primary-light, 5%);
                border-color: darken($color-primary-light, 5%);
            }
        }

        &_danger {
            background: $color-red;
            border-color: $color-red;

            &:hover {
                background: darken($color-red, 5%);
                border-color: darken($color-red, 5%);
            }
        }

        &_success {
            background: $color-green;
            border-color: $color-green;

            &:hover {
                background: darken($color-green, 5%);
                border-color: darken($color-green, 5%);
            }
        }
    }

    &__icon {
        margin-right: 8px;
    }
}
</style>