<template>
<div class="c-checkbox-field">
    <div class="c-checkbox-field__wrapper">
        <label class="c-checkbox-field__control" @click="localValue = !localValue">
            <div class="c-checkbox-field__checkbox"
                :class="{
                    'c-checkbox-field__checkbox_hidden': !localValue
                }"
            >
                <font-awesome-icon :icon="icons.check" />
            </div>

            <span class="c-checkbox-field__label">
                {{ label }}
            </span>
        </label>
    </div>
</div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import {
    faCheck,
} from '@fortawesome/free-solid-svg-icons'

export default {
    name: 'c-checkbox-field',

    props: [
        'value',
        'label',
    ],

    components: {
        FontAwesomeIcon,
    },

    data () {
        return {
            localValue: this.value,
            icons: {
                check: faCheck,
            }
        }
    },

    watch: {
        localValue (value) {
            this.$emit('input', value)
        },

        value (value) {
            this.localValue = value
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/vars';

.c-checkbox-field {
    &__wrapper {
        width: 100%;
        margin-bottom: 0;
        padding-top: 25px;
    }

    &__control {
        display: flex;
        min-height: 35px;
        margin-bottom: 0;
        align-items: center;
        cursor: pointer;
    }

    &__checkbox {
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-primary;
        font-size: 12px;
        border-radius: 4px;
        transition: .1s;

        .svg-inline--fa {
            transition: .1s;
            color: white;
        }

        &_hidden {
            background: $color-bg-control;
            .svg-inline--fa {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    &__label {
        font-size: 14px;
        color: $color-font;
        font-weight: 500;
        margin-left: .75rem;
    }
}
</style>