<template>
<div class="c-editor">
   <!--  <div class="c-editor__wrapper">
        <div class="c-editor__label" v-if="label">
            {{ label }}
        </div>

        <div class="c-editor__tools">
            <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
                <b-button-group class="mb-2">
                    <b-button @click="commands.bold" :variant="isActive.bold() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.bold" />
                    </b-button>

                    <b-button @click="commands.italic" :variant="isActive.italic() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.italic" />
                    </b-button>

                    <b-button @click="commands.strike" :variant="isActive.strike() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.strike" />
                    </b-button>

                    <b-button @click="commands.underline" :variant="isActive.underline() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.underline" />
                    </b-button>

                    <b-button @click="commands.code" :variant="isActive.code() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.code" />
                    </b-button>

                    <b-button @click="commands.paragraph" :variant="isActive.paragraph() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.paragraph" />
                    </b-button>

                    <b-button @click="commands.heading({ level: 3 })" :variant="isActive.heading({ level: 3 }) ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.heading" />
                    </b-button>

                    <b-button @click="commands.bullet_list" :variant="isActive.bullet_list() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.list" />
                    </b-button>

                    <b-button @click="commands.ordered_list" :variant="isActive.ordered_list() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.listOl" />
                    </b-button>

                    <b-button @click="commands.blockquote" :variant="isActive.blockquote() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.quoteLeft" />
                    </b-button>

                    <b-button @click="commands.code_block" :variant="isActive.code_block() ? 'primary' : 'solid-primary'">
                        <font-awesome-icon :icon="icons.code" />
                    </b-button>

                    <b-button @click="commands.horizontal_rule" variant="solid-primary">
                        <font-awesome-icon :icon="icons.minus" />
                    </b-button>

                    <b-button @click="commands.undo" variant="solid-primary">
                        <font-awesome-icon :icon="icons.undo" />
                    </b-button>

                    <b-button @click="commands.redo" variant="solid-primary">
                        <font-awesome-icon :icon="icons.redo" />
                    </b-button>
                </b-button-group>
            </editor-menu-bar>
        </div>

        <div class="c-editor__editor">
            <editor-content :editor="editor" v-model="valueLocal" />
        </div>
    </div> -->
</div>
</template>

<script>
// import { Editor, EditorContent, EditorMenuBar } from 'tiptap'

// import {
//     Blockquote,
//     CodeBlock,
//     HardBreak,
//     Heading,
//     HorizontalRule,
//     OrderedList,
//     BulletList,
//     ListItem,
//     Bold,
//     Code,
//     Italic,
//     Link,
//     Strike,
//     Underline,
//     History,
// } from 'tiptap-extensions'

// import { BButtonGroup, BButton } from 'bootstrap-vue'

// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
// import {
//     faBold, faItalic, faStrikethrough,
//     faUnderline, faCode, faParagraph,
//     faHeading, faList, faListOl,
//     faQuoteLeft, faMinus, faUndo, faRedo,
// } from '@fortawesome/free-solid-svg-icons'

export default {
    name: 'c-editor',

    // props: [
    //     'label',
    //     'value',
    // ],

    // components: {
    //     EditorContent,
    //     EditorMenuBar,
    //     BButtonGroup,
    //     BButton,
    //     FontAwesomeIcon,
    // },

    // data () {
    //     return {
    //         valueLocal: this.value,
    //         editor: new Editor({
    //             content: '',
    //             extensions: [
    //                 new Bold(),
    //                 new Italic(),
    //                 new Strike(),
    //                 new Underline(),
    //                 new Code(),
    //                 new Heading({ levels: [1, 2, 3] }),
    //                 new BulletList(),
    //                 new ListItem(),
    //                 new OrderedList(),
    //                 new Blockquote(),
    //                 new CodeBlock(),
    //                 new HardBreak(),
    //                 new HorizontalRule(),
    //                 new History(),
    //             ],
    //             onBlur: ({ event }) => {
    //                 this.$emit('input', event.target.innerHTML)
    //             }

    //         }),
    //         icons: {
    //             bold: faBold,
    //             italic: faItalic,
    //             strike: faStrikethrough,
    //             underline: faUnderline,
    //             code: faCode,
    //             paragraph: faParagraph,
    //             heading: faHeading,
    //             list: faList,
    //             listOl: faListOl,
    //             quoteLeft: faQuoteLeft,
    //             minus: faMinus,
    //             undo: faUndo,
    //             redo: faRedo,
    //         }
    //     }
    // },

    // watch: {
    //     value (value) {
    //         if (value) {
    //             this.editor.setContent(value)
    //         }
    //     }
    // }
}
</script>

<style lang="scss">
@import '@/assets/vars';

.c-editor {
    &__wrapper {
        width: 100%;
    }

    &__label {
        font-size: 13px;
        color: $color-font-mute;
        font-weight: 500;
        margin-bottom: 6px;
    }

    &__editor {
        div[contenteditable=true] {
            border: 1px solid $color-bg-control;
            font-size: 14px;
            font-weight: 500;
            transition: .2s;
            border-radius: 6px;
            color: $color-font;
            background: $color-bg-control;
            padding: 12px;
            
            &:focus {
                box-shadow: none;
                border-color: $color-control-focus;
                background: $color-control-focus;
                outline: none;
            }

            p {
                line-height: 1.5
            }

            h3 {
                line-height: 2
            }

            ul, ol {
                li {
                    p {
                        margin: 0;
                    }
                }
            }

            blockquote {
                padding-left: 1rem;
                border-left: 2px solid rgba(0,0,0,.2);
            }
        }
    }
}
</style>