<template>
<div class="c-field-date"
    :class="{
        'c-field-date_range': range
    }"
>
    <div class="c-field-date__wrapper">
        <div class="c-field-date__datepicker">
            <date-picker v-model="localValue"
                :range="range"
                format="DD.MM.YYYY"
                range-separator=" - "
                :placeholder="placeholder"
            />
        </div>
    </div>
</div>
</template>

<script>
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import 'vue2-datepicker/locale/ru';

export default {
    name: 'field-date',

    props: [
        'value',
        'label',
        'range',
        'placeholder',
    ],

    components: {
        DatePicker,
    },

    data() {
        return {
            localValue: this.value,
        }
    },

    watch: {
        localValue(value) {
            this.$emit('input', value)
        },

        value (value) {
            this.localValue = value
        }
    }
}
</script>

<style lang="scss">
@import '@/assets/vars';

.c-field-date {
    &_range {
        max-width: 200px;
    }

    &__wrapper {
        width: 100%;
    }

    &__datepicker {
        .mx-datepicker {
            width: 100%;
        }
    }
}

.mx-datepicker {
    &-main {
        font-family: 'Montserrat';
        border: none;
        border-radius: 6px;
        box-shadow: $box-shadow-popup;
        // background: $color-control-focus;
    }
}

.mx-calendar {
    &-header {
        &-label {
            .mx-btn {
                color: $color-font;
                font-weight: 500;
                font-size: 13px;
            }
        }
    }
}

.mx-range-wrapper {
    .mx-table {
        &-date {
            thead {
                th {
                    color: $color-font;
                }
            }

            .cell {
                font-weight: 500;

                &.not-current-month {
                    color: $color-font-mute;
                }

                &.active {
                    border-radius: 4px 0 0 4px;
                }

                &.in-range {
                    & + .cell.active {
                        border-radius: 0 4px 4px 0;
                    }
                }
            }
        }
    }
}

.mx-input {
    border-color: $color-bg-control;
    box-shadow: none;
    height: 35px;
    background: $color-bg-control;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 7px;
    transition: .2s;

    &:focus {
        border-color: $color-control-focus;
        background: $color-control-focus;
    }

    &:hover {
        border-color: $color-control-focus;
        background: $color-control-focus;
    }
}
</style>