<template>
<div class="c-field">
    <label class="c-field__wrapper">
        <div class="c-field__label">{{ label }}</div>

        <div class="c-field__control" v-if="type === undefined">
            <input type="text" v-model="localValue">
        </div>

        <div class="c-field__control" v-if="type === 'password'">
            <input type="password" v-model="localValue">
        </div>
    </label>
</div>
</template>

<script>
export default {
    name: 'c-field',

    props: [
        'value',
        'type',
        'label',
    ],

    data () {
        return {
            localValue: this.value
        }
    },

    watch: {
        value (value) {
            this.localValue = value
        },

        localValue (value) {
            this.$emit('input', value)
        }
    }
}
</script>

<style scoped lang="scss">
@import '@/assets/vars';

.c-field {
    &__wrapper {
        width: 100%;
        margin-bottom: 0;
    }

    &__label {
        font-size: 13px;
        color: $color-font-mute;
        font-weight: 500;
        margin-bottom: 6px;
    }

    &__control {
        input {
            border: 2px solid $color-bg-control;
            border-radius: 4px;
            padding: 5px 10px;
            font-size: 14px;
            background: $color-bg-control;
            color: $color-font;
            font-weight: 500;
            transition: .2s;
            width: 100%;

            &:focus {
                outline: none;
                background: $color-control-focus;
                border-color: $color-control-focus;
            }
        }
    }
}
</style>