<template>
<div class="file-list">
    <div class="file-list__header">
        <div class="file-list__title">
            Библиотека файлов
        </div>

        <div class="file-list__actions">
            <div class="file-list__actions-item">
                <UIButton
                    label="Добавить"
                    variant="primary"
                    icon="plus"
                    size="sm"
                />
            </div>
        </div>
    </div>

    <div class="file-list__list">
        <div class="file-list__item">
            <div class="file-list__item-icon">
                <file-icon type="application/vnd.ms-powerpoint" />
            </div>

            <div class="file-list__item-name">
                Название файла.jpg
            </div>

            <div class="file-list__item-size">
                2M
            </div>
        </div>

        <div class="file-list__item">
            <div class="file-list__item-icon">
                <file-icon type="application/pdf" />
            </div>

            <div class="file-list__item-name">
                Название файла.jpg
            </div>

            <div class="file-list__item-size">
                2M
            </div>
        </div>

        <div class="file-list__item">
            <div class="file-list__item-icon">
                <file-icon type="application/msword" />
            </div>

            <div class="file-list__item-name">
                Название файла.jpg
            </div>

            <div class="file-list__item-size">
                2M
            </div>
        </div>

        <div class="file-list__item">
            <div class="file-list__item-icon">
                <file-icon type="application/vnd.ms-excel" />
            </div>

            <div class="file-list__item-name">
                Название файла.jpg
            </div>

            <div class="file-list__item-size">
                2M
            </div>
        </div>

        <div class="file-list__item">
            <div class="file-list__item-icon">
                <file-icon type="application/zip" />
            </div>

            <div class="file-list__item-name">
                Название файла.jpg
            </div>

            <div class="file-list__item-size">
                2M
            </div>
        </div>

        <div class="file-list__item">
            <div class="file-list__item-icon">
                <file-icon type="image/jpeg" url="http://lorempixel.com/1920/1080/" />
            </div>

            <div class="file-list__item-name">
                Название файла.jpg
            </div>

            <div class="file-list__item-size">
                2M
            </div>
        </div>

        <div class="file-list__item">
            <div class="file-list__item-icon">
                <file-icon type="image/png" url="http://lorempixel.com/1920/1079/" />
            </div>

            <div class="file-list__item-name">
                Название файла.jpg
            </div>

            <div class="file-list__item-size">
                2M
            </div>
        </div>

        <div class="file-list__item">
            <div class="file-list__item-icon">
                
            </div>

            <div class="file-list__item-name">
                Название файла.jpg
            </div>

            <div class="file-list__item-size">
                2M
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    UIButton
} from '@grebrov/ui'

import FileIcon from '@/components/file-icon'

export default {
    name: 'file-list',

    components: {
        UIButton,
        FileIcon,
    },
}
</script>

<style lang="scss">
@import '@/assets/vars';

.file-list {
    background: white;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: 5px;

    &__header {
        border-bottom: 1px solid $color-border;
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font: {
            size: 15px;
            weight: 600;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    &__item {
        height: 200px;
        border-right: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        cursor: pointer;

        &-name {
            font-size: 14px;
            font-weight: 500;
            margin: 16px 0 5px;
        }

        &-size {
            font-size: 14px;
            font-weight: 500;
            color: $color-font-mute;
        }
    }
}
</style>