<template>
<div class="c-file-field">
    <div class="c-file-field__wrapper">
        <div class="c-file-field__label" v-if="label">
            {{ label }}
        </div>

        <label class="c-file-field__input" v-if="!file">
            <input type="file" @change="onSelectFile" />
            
            <div class="c-file-field__input-label">
                Выбрать файл
            </div>
        </label>

        <div class="c-file-field__file" v-if="file">
            <div class="c-file-field__file-name">
                {{ file.name }}
            </div>

            <div class="c-file-field__file-actions">
                <label class="c-file-field__file-change">
                    <input type="file" @change="onSelectFile" />
                    Изменить
                </label>
                <div class="c-file-field__file-delete" @click="drop">Удалить</div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'c-file-field',

    props: [
        'label',
        'value',
    ],

    data () {
        return {
            file: null,
        }
    },

    methods: {
        onSelectFile (e) {
            this.file = e.target.files[0]

            this.$emit('input', this.file)
        },

        drop () {
            this.file = null
        },
    },
}
</script>

<style lang="scss" scoped>
@import '@/assets/vars';

.c-file-field {
    &__wrapper {
        width: 100%;
    }

    &__label {
        font-size: 13px;
        color: $color-font-mute;
        font-weight: 500;
        margin-bottom: 6px;
    }

    &__input {
        input {
            display: none;
        }

        &-label {
            background: $color-primary-light;
            border: 2px solid $color-primary-light;
            color: $color-primary;
            font-size: 13px;
            font-weight: 600;
            border-radius: 4px;
            text-transform: uppercase;
            padding: 5px 14px;
            transition: .2s;
            display: inline-flex;
            cursor: pointer;

            &:hover {
                background: darken($color-primary-light, 5%);
                border-color: darken($color-primary-light, 5%);
            }
        }
    }

    &__file {
        border-bottom: 1px solid $color-border;
        padding-bottom: 16px;

        &-name {
            font-size: 14px;
            font-weight: 500;
            color: $color-font;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }

        &-actions {
            display: flex;
            font-size: 13px;
            margin-top: 6px;
        }

        &-change {
            margin-right: 8px;
            color: $color-primary;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            input {
                display: none;
            }
        }

        &-delete {
            color: $color-red;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
</style>