<template>
<div>
    <div class="file-icon file-icon_ppt"
        v-if="(
            type === 'application/vnd.ms-powerpoint' ||
            type === 'application/vnd.ms-powerpoint.presentation.macroEnabled.12' ||
            type === 'application/vnd.openxmlformats-officedocument.presentationml.presentation' ||
            type === 'application/vnd.ms-powerpoint.slideshow.macroEnabled.12' ||
            type === 'application/vnd.openxmlformats-officedocument.presentationml.slideshow' ||
            type === 'application/vnd.ms-powerpoint.addin.macroEnabled.12' ||
            type === 'application/vnd.openxmlformats-officedocument.presentationml.template' ||
            type === 'application/vnd.ms-powerpoint.template.macroEnabled.12' ||
            type === 'powerpoint' ||
            type === 'ppt'
        )"
    >
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 548.291 548.291" xml:space="preserve">
            <g>
                <g>
                    <path d="M271.447,413.066c-5.995,0-10.058,0.577-12.192,1.155v38.51c2.523,0.577,5.617,0.776,9.87,0.776
                        c15.676,0,25.347-7.938,25.347-21.286C294.471,420.22,286.156,413.066,271.447,413.066z"/>
                    <path d="M159.015,413.066c-5.995,0-10.058,0.577-12.191,1.155v38.51c2.522,0.577,5.616,0.776,9.869,0.776
                        c15.675,0,25.347-7.938,25.347-21.286C182.039,420.22,173.721,413.066,159.015,413.066z"/>
                    <path d="M472.929,131.39c-0.031-2.514-0.839-4.997-2.566-6.96L364.656,3.677c-0.031-0.034-0.062-0.044-0.084-0.075
                        c-0.63-0.704-1.365-1.284-2.142-1.796c-0.231-0.149-0.463-0.283-0.704-0.419c-0.672-0.365-1.376-0.667-2.121-0.888
                        c-0.2-0.058-0.377-0.139-0.577-0.191C358.231,0.113,357.4,0,356.561,0H96.757C84.904,0,75.255,9.649,75.255,21.502V526.79
                        c0,11.858,9.649,21.501,21.502,21.501h354.775c11.853,0,21.503-9.643,21.503-21.501V132.595
                        C473.036,132.191,472.971,131.795,472.929,131.39z M199.265,462.4c-10.068,9.481-24.969,13.743-42.383,13.743
                        c-3.867,0-7.35-0.2-10.058-0.582v46.63h-29.221V393.517c9.088-1.543,21.866-2.709,39.863-2.709
                        c18.185,0,31.15,3.487,39.854,10.447c8.326,6.583,13.932,17.412,13.932,30.184C211.251,444.216,207.004,455.05,199.265,462.4z
                         M311.7,462.4c-10.068,9.481-24.973,13.743-42.387,13.743c-3.866,0-7.349-0.2-10.058-0.582v46.63h-29.22V393.517
                        c9.089-1.543,21.866-2.709,39.864-2.709c18.185,0,31.151,3.487,39.854,10.447c8.326,6.583,13.933,17.412,13.933,30.184
                        C323.684,444.216,319.438,455.05,311.7,462.4z M432.834,416.546h-35.601v105.645h-29.607V416.546h-35.029v-24.768h100.228v24.768
                        H432.834z M96.757,365.081V21.502H345.81v110.011c0,5.935,4.819,10.751,10.751,10.751h94.972v222.816H96.757z"/>
                    <path d="M257.422,139.674c-48.614,0-88.011,39.407-88.011,88.017c0,48.606,39.396,88.008,88.011,88.008
                        c48.607,0,88.011-39.402,88.011-88.008h-88.011V139.674z"/>
                    <path d="M269.36,213.801v0.026h88.019c0-24.758-10.269-47.092-26.72-63.084L269.36,213.801z"/>
                    <path d="M268.436,198.336l62.224-62.231c-17.501-17.507-39.339-26.048-62.289-25.72l0.044,87.93L268.436,198.336z"/>
                </g>
            </g>
        </svg>
    </div>

    <div class="file-icon file-icon_pdf" v-if="(
        type === 'application/pdf' ||
        type === 'pdf'
    )">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 550.801 550.801"
     xml:space="preserve">
        <g>
            <g>
                <path d="M267.342,414.698c-6.613,0-10.884,0.585-13.413,1.165v85.72c2.534,0.586,6.616,0.586,10.304,0.586
                    c26.818,0.189,44.315-14.576,44.315-45.874C308.738,429.079,292.803,414.698,267.342,414.698z"/>
                <path d="M152.837,414.313c-6.022,0-10.104,0.58-12.248,1.16v38.686c2.531,0.58,5.643,0.78,9.903,0.78
                    c15.757,0,25.471-7.973,25.471-21.384C175.964,421.506,167.601,414.313,152.837,414.313z"/>
                <path d="M475.095,131.992c-0.032-2.526-0.833-5.021-2.568-6.993L366.324,3.694c-0.021-0.034-0.062-0.045-0.084-0.076
                    c-0.633-0.707-1.36-1.29-2.141-1.804c-0.232-0.15-0.475-0.285-0.718-0.422c-0.675-0.366-1.382-0.67-2.13-0.892
                    c-0.19-0.058-0.38-0.14-0.58-0.192C359.87,0.114,359.037,0,358.203,0H97.2C85.292,0,75.6,9.693,75.6,21.601v507.6
                    c0,11.913,9.692,21.601,21.6,21.601H453.6c11.908,0,21.601-9.688,21.601-21.601V133.202
                    C475.2,132.796,475.137,132.398,475.095,131.992z M193.261,463.873c-10.104,9.523-25.072,13.806-42.569,13.806
                    c-3.882,0-7.391-0.2-10.102-0.58v46.839h-29.35V394.675c9.131-1.55,21.967-2.721,40.047-2.721
                    c18.267,0,31.292,3.501,40.036,10.494c8.363,6.612,13.985,17.497,13.985,30.322C205.308,445.605,201.042,456.49,193.261,463.873z
                     M318.252,508.392c-13.785,11.464-34.778,16.906-60.428,16.906c-15.359,0-26.238-0.97-33.637-1.94V394.675
                    c10.887-1.74,25.083-2.721,40.046-2.721c24.867,0,41.004,4.472,53.645,13.995c13.61,10.109,22.164,26.241,22.164,49.37
                    C340.031,480.4,330.897,497.697,318.252,508.392z M439.572,417.225h-50.351v29.932h47.039v24.11h-47.039v52.671H359.49V392.935
                    h80.082V417.225z M97.2,366.752V21.601h250.203v110.515c0,5.961,4.831,10.8,10.8,10.8H453.6l0.011,223.836H97.2z"/>
                <path d="M386.205,232.135c-0.633-0.059-15.852-1.448-39.213-1.448c-7.319,0-14.691,0.143-21.969,0.417
                    c-46.133-34.62-83.919-69.267-104.148-88.684c0.369-2.138,0.623-3.828,0.741-5.126c2.668-28.165-0.298-47.179-8.786-56.515
                    c-5.558-6.101-13.721-8.131-22.233-5.806c-5.286,1.385-15.071,6.513-18.204,16.952c-3.459,11.536,2.101,25.537,16.708,41.773
                    c0.232,0.246,5.189,5.44,14.196,14.241c-5.854,27.913-21.178,88.148-28.613,117.073c-17.463,9.331-32.013,20.571-43.277,33.465
                    l-0.738,0.844l-0.477,1.013c-1.16,2.437-6.705,15.087-2.542,25.249c1.901,4.62,5.463,7.995,10.302,9.767l1.297,0.349
                    c0,0,1.17,0.253,3.227,0.253c9.01,0,31.25-4.735,43.179-48.695l2.89-11.138c41.639-20.239,93.688-26.768,131.415-28.587
                    c19.406,14.391,38.717,27.611,57.428,39.318l0.611,0.354c0.907,0.464,9.112,4.515,18.721,4.524l0,0
                    c13.732,0,23.762-8.427,27.496-23.113l0.189-1.004c1.044-8.393-1.065-15.958-6.096-21.872
                    C407.711,233.281,387.978,232.195,386.205,232.135z M142.812,319.744c-0.084-0.1-0.124-0.194-0.166-0.3
                    c-0.896-2.157,0.179-7.389,1.761-11.222c6.792-7.594,14.945-14.565,24.353-20.841
                    C159.598,317.039,146.274,319.603,142.812,319.744z M200.984,122.695L200.984,122.695c-14.07-15.662-13.859-23.427-13.102-26.041
                    c1.242-4.369,6.848-6.02,6.896-6.035c2.824-0.768,4.538-0.617,6.064,1.058c3.451,3.791,6.415,15.232,5.244,36.218
                    C202.764,124.557,200.984,122.695,200.984,122.695z M193.714,256.068l0.243-0.928l-0.032,0.011
                    c7.045-27.593,17.205-67.996,23.047-93.949l0.211,0.201l0.021-0.124c18.9,17.798,47.88,43.831,82.579,70.907l-0.39,0.016
                    l0.574,0.433C267.279,235.396,228.237,241.84,193.714,256.068z M408.386,265.12c-2.489,9.146-7.277,10.396-11.665,10.396l0,0
                    c-5.094,0-9.998-2.12-11.116-2.632c-12.741-7.986-25.776-16.688-38.929-25.998c0.105,0,0.2,0,0.316,0
                    c22.549,0,37.568,1.369,38.158,1.411c3.766,0.14,15.684,1.9,20.82,7.938C407.984,258.602,408.755,261.431,408.386,265.12z"/>
            </g>
        </g>
        </svg>
    </div>

    <div class="file-icon file-icon_doc" v-if="(
        type === 'application/msword' ||
        type === 'application/vnd.ms-word.document.macroEnabled.12' ||
        type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' ||
        type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.template' ||
        type === 'application/vnd.ms-word.template.macroEnabled.12' ||
        type === 'excel' ||
        type === 'xls' || type === 'xlsx'
    )">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 550.801 550.801"
     xml:space="preserve">
        <g>
            <g>
                <path d="M281,413.575c-18.581,0-29.415,17.687-29.415,41.322c0,23.825,11.19,40.605,29.595,40.605
                    c18.594,0,29.236-17.687,29.236-41.322C310.416,432.338,299.953,413.575,281,413.575z"/>
                <path d="M142.57,413.934c-6.139,0-10.115,0.538-12.456,1.076v79.586c2.341,0.549,6.138,0.549,9.563,0.549
                    c24.898,0.18,41.141-13.542,41.141-42.588C181.008,427.286,166.206,413.934,142.57,413.934z"/>
                <path d="M475.095,131.992c-0.032-2.526-0.833-5.021-2.568-6.993L366.324,3.694c-0.021-0.034-0.053-0.045-0.084-0.076
                    c-0.633-0.707-1.36-1.29-2.141-1.804c-0.232-0.15-0.465-0.285-0.707-0.422c-0.686-0.366-1.393-0.67-2.131-0.892
                    c-0.2-0.058-0.379-0.14-0.58-0.192C359.87,0.114,359.047,0,358.203,0H97.2C85.292,0,75.6,9.693,75.6,21.601v507.6
                    c0,11.913,9.692,21.601,21.6,21.601H453.6c11.918,0,21.601-9.688,21.601-21.601V133.202
                    C475.2,132.796,475.137,132.398,475.095,131.992z M189.854,500.914c-12.814,10.652-32.305,15.704-56.133,15.704
                    c-14.262,0-24.366-0.907-31.219-1.804V395.35c10.104-1.624,23.28-2.531,37.18-2.531c23.095,0,38.074,4.156,49.803,12.994
                    c12.638,9.387,20.579,24.363,20.579,45.837C210.06,474.932,201.583,490.989,189.854,500.914z M279.734,517.346
                    c-36.091,0-57.206-27.253-57.206-61.905c0-36.455,23.28-63.703,59.189-63.703c37.356,0,57.755,27.976,57.755,61.536
                    C339.473,493.162,315.288,517.346,279.734,517.346z M419.787,494.428c8.3,0,17.508-1.814,22.918-3.972l4.155,21.474
                    c-5.052,2.537-16.421,5.236-31.219,5.236c-42.05,0-63.703-26.172-63.703-60.818c0-41.502,29.595-64.604,66.403-64.604
                    c14.26,0,25.091,2.885,29.964,5.416l-5.601,21.832c-5.585-2.342-13.353-4.515-23.093-4.515c-21.832,0-38.807,13.179-38.807,40.247
                    C380.806,479.082,395.244,494.428,419.787,494.428z M97.2,366.752V21.601h250.203v110.515c0,5.961,4.831,10.8,10.8,10.8H453.6
                    l0.011,223.836H97.2z"/>
                <path d="M248.023,149.099h78.592c3.945,0,7.151-3.201,7.151-7.153c0-3.952-3.206-7.156-7.151-7.156h-78.592
                    c-3.953,0-7.146,3.204-7.146,7.156C240.872,145.898,244.062,149.099,248.023,149.099z"/>
                <path d="M365.059,192.024H169.538c-3.952,0-7.161,3.201-7.161,7.153c0,3.955,3.209,7.151,7.161,7.151h195.521
                    c3.955,0,7.162-3.196,7.162-7.151C372.221,195.226,369.02,192.024,365.059,192.024z"/>
                <path d="M189.973,163.432l6.626-26.937c1.695-6.539,2.805-12.062,3.829-18.18h0.166c0.675,6.199,1.695,11.641,3.138,18.18
                    l5.956,26.937h11.222l15.367-57.267h-10.621l-5.946,25.914c-1.529,6.971-2.896,13.505-3.91,19.802h-0.177
                    c-0.844-6.204-2.036-12.577-3.478-19.375l-5.693-26.335h-10.96l-6.194,25.914c-1.627,7.22-3.251,14.025-4.174,20.05h-0.158
                    c-0.934-5.69-2.299-13.002-3.747-19.968l-5.439-25.996h-11.132l14.022,57.267h11.303V163.432z"/>
                <path d="M365.059,248.849H169.538c-3.952,0-7.161,3.201-7.161,7.156c0,3.952,3.209,7.153,7.161,7.153h195.521
                    c3.955,0,7.162-3.201,7.162-7.153C372.221,252.05,369.02,248.849,365.059,248.849z"/>
                <path d="M365.059,307.03H169.538c-3.952,0-7.161,3.206-7.161,7.161c0,3.95,3.209,7.151,7.161,7.151h195.521
                    c3.955,0,7.162-3.201,7.162-7.151C372.221,310.236,369.02,307.03,365.059,307.03z"/>
            </g>
        </g>
        </svg>
    </div>

    <div class="file-icon file-icon_xls" v-if="(
        type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' ||
        type === 'application/vnd.ms-excel.sheet.binary.macroEnabled.12' ||
        type === 'application/vnd.ms-excel' ||
        type === 'application/vnd.ms-excel.sheet.macroEnabled.12' ||
        type === 'application/rtf' ||
        type === 'doc' || type === 'docx' || type === 'rtf'
    )">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 548.29 548.291" xml:space="preserve">
        <g>
            <g>
                <path d="M472.929,131.399c-0.031-2.518-0.823-5-2.55-6.961L364.655,3.677c-0.021-0.031-0.052-0.042-0.083-0.073
                    c-0.631-0.707-1.355-1.287-2.132-1.795c-0.231-0.152-0.462-0.286-0.704-0.421c-0.683-0.365-1.386-0.666-2.121-0.887
                    c-0.198-0.06-0.377-0.139-0.577-0.194C358.23,0.121,357.41,0,356.571,0H96.757C84.904,0,75.255,9.651,75.255,21.502V526.79
                    c0,11.858,9.649,21.501,21.502,21.501h354.776c11.862,0,21.502-9.643,21.502-21.501V132.6
                    C473.035,132.199,472.973,131.795,472.929,131.399z M165.545,508.217l-9.352-18.703c-3.83-7.209-6.278-12.574-9.192-18.547h-0.307
                    c-2.145,5.973-4.749,11.338-7.966,18.547l-8.585,18.703h-26.662l29.888-52.273l-28.812-51.029h26.822l9.042,18.861
                    c3.063,6.276,5.364,11.327,7.821,17.155h0.3c2.457-6.594,4.446-11.188,7.047-17.155l8.741-18.861h26.662l-29.118,50.414
                    l30.657,52.889H165.545z M269.591,508.217h-64.526V404.915h23.452v83.67h41.074V508.217z M308.66,509.739
                    c-11.795,0-23.439-3.064-29.263-6.282l4.743-19.308c6.287,3.212,15.947,6.43,25.899,6.43c10.735,0,16.399-4.436,16.399-11.192
                    c0-6.425-4.903-10.109-17.316-14.551c-17.161-5.973-28.354-15.475-28.354-30.498c0-17.623,14.709-31.108,39.087-31.108
                    c11.639,0,20.232,2.446,26.353,5.212l-5.207,18.852c-4.142-1.99-11.496-4.908-21.613-4.908c-10.115,0-15.013,4.594-15.013,9.969
                    c0,6.587,5.822,9.5,19.155,14.551c18.237,6.752,26.814,16.246,26.814,30.805C350.346,495.03,337.012,509.739,308.66,509.739z
                     M420.53,508.217l-9.354-18.703c-3.833-7.209-6.279-12.574-9.198-18.547h-0.294c-2.142,5.973-4.755,11.338-7.975,18.547
                    l-8.583,18.703h-26.665l29.885-52.273l-28.814-51.029h26.823l9.051,18.861c3.061,6.276,5.354,11.327,7.806,17.155h0.31
                    c2.446-6.594,4.44-11.188,7.05-17.155l8.736-18.861h26.666l-29.117,50.414l30.65,52.889H420.53z M96.757,365.085V21.507H345.82
                    v110.015c0,5.935,4.809,10.75,10.751,10.75h94.962l0.01,222.813H96.757z"/>
                <path d="M310.933,138.004h-83.765h-94.516v40.316v5.375v34.94v5.375v34.939v5.375v40.319h89.141h5.375h83.765h5.376h89.14v-45.694
                    v-34.939v-40.315v-5.375v-40.316H310.933z M310.933,218.636h-83.765v-34.94h83.765V218.636z M138.028,143.38h83.765v34.94h-83.765
                    V143.38z M138.028,183.696h83.765v34.94h-83.765V183.696z M138.028,224.011h83.765v34.939h-83.765V224.011z M138.028,299.269
                    v-34.943h83.765v34.943H138.028z M227.168,299.269v-34.943h83.765v34.943H227.168z M400.078,299.269h-83.77v-34.943h83.764v34.943
                    H400.078z M400.078,218.636h-83.77v-34.94h83.764v34.94H400.078z M316.309,178.32v-34.94h83.764v34.94H316.309z"/>
            </g>
        </g>
        </svg>
    </div>

    <div class="file-icon file-icon_zip" v-if="(
        type === 'zip' ||
        type === 'application/zip' ||
        type === 'rar' || type === 'application/vnd.rar'
    )">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 550.801 550.801"
     xml:space="preserve">
        <g>
            <g>
                <path d="M475.095,131.992c-0.032-2.526-0.833-5.021-2.568-6.993L366.324,3.694c-0.021-0.034-0.053-0.045-0.084-0.076
                    c-0.633-0.707-1.36-1.29-2.141-1.804c-0.232-0.15-0.465-0.285-0.707-0.422c-0.686-0.366-1.393-0.67-2.131-0.892
                    c-0.2-0.058-0.379-0.14-0.58-0.192C359.87,0.114,359.047,0,358.203,0H97.2C85.292,0,75.6,9.693,75.6,21.601v507.6
                    c0,11.913,9.692,21.601,21.6,21.601H453.6c11.918,0,21.601-9.688,21.601-21.601V133.202
                    C475.2,132.796,475.137,132.398,475.095,131.992z M243.599,523.494H141.75v-15.936l62.398-89.797v-0.785h-56.565v-24.484h95.051
                    v17.106l-61.038,88.636v0.771h62.002V523.494z M292.021,523.494h-29.744V392.492h29.744V523.494z M399.705,463.44
                    c-10.104,9.524-25.069,13.796-42.566,13.796c-3.893,0-7.383-0.19-10.104-0.58v46.849h-29.352V394.242
                    c9.134-1.561,21.958-2.721,40.036-2.721c18.277,0,31.292,3.491,40.046,10.494c8.354,6.607,13.996,17.486,13.996,30.322
                    C411.761,445.163,407.479,456.053,399.705,463.44z M97.2,366.752V21.601h129.167v-3.396h32.756v3.396h88.28v110.515
                    c0,5.961,4.831,10.8,10.8,10.8H453.6l0.011,223.836H97.2z"/>
                <path d="M359.279,413.87c-6.033,0-10.114,0.586-12.245,1.171v38.676c2.521,0.585,5.632,0.785,9.914,0.785
                    c15.736,0,25.46-7.979,25.46-21.378C382.408,421.063,374.045,413.87,359.279,413.87z"/>
                <rect x="259.124" y="39.918" width="32.756" height="13.516"/>
                <rect x="226.368" y="21.601" width="32.756" height="10.125"/>
                <rect x="226.368" y="60.146" width="32.756" height="13.516"/>
                <rect x="259.124" y="82.274" width="32.756" height="13.518"/>
                <rect x="259.124" y="124.983" width="32.756" height="13.516"/>
                <rect x="226.368" y="103.275" width="32.756" height="13.516"/>
                <path d="M259.124,149.537c-23.193,0-34.225,18.792-34.225,41.99l-7.765,70.348c0,23.198,18.792,42.003,41.984,42.003
                    c23.19,0,41.974-18.805,41.974-42.003l-7.741-70.348C293.361,168.334,282.318,149.537,259.124,149.537z M273.04,285.431h-27.799
                    v-58.728h27.799V285.431z"/>
            </g>
        </g>
        </svg>
    </div>

    <div class="file-icon file-icon_image" v-if="(
        type === 'image/bmp' ||
        type === 'image/gif' ||
        type === 'image/vnd.microsoft.icon' ||
        type === 'image/jpeg' ||
        type === 'image/png' ||
        type === 'image/svg+xml'
    )" :style="{backgroundImage:`url(${url})`}"></div>
</div>
</template>

<script>
// иконки взяты с https://www.flaticon.com/ru/packs/file-formats-icons

export default {
    name: 'file-icon',

    props: [
        'type',
        'url',
    ]
}
</script>

<style lang="scss">
@import '@/assets/vars';

.file-icon {
    svg {
        width: 80px;
    }

    &_ppt svg path {
        fill: #d35400;
    }

    &_pdf svg path {
        fill: #c0392b;
    }

    &_doc svg path {
        fill: #2980b9;
    }

    &_xls svg path {
        fill: #27ae60;
    }

    &_zip svg path {
        fill: #7f8c8d;
    }

    &_image {
        width: 80px;
        height: 80px;
        background: {
            size: cover;
            position: center;
            repeat: no-repeat;
        }
        border-radius: 5px;
    }
} 
</style>