<template>
<div class="c-form">
    <div class="c-form__wrapper">
        <slot />
    </div>
</div>
</template>

<style lang="scss" scoped>
@import '@/assets/vars';

.c-form {
    &__wrapper {
        background: white;
        border-radius: 6px;
        padding: 20px;
        box-shadow: $box-shadow;
    }
}
</style>
