<template>
<div class="c-image-field">
    <div class="c-image-field__wrapper">
        <div class="c-image-field__label" v-if="label">
            {{ label }}
        </div>

        <div class="c-image-field__list">
            <label  class="c-image-field__item" v-if="previews.length === 0">
                <input type="file" @change="onSelectFile" />
                <div class="c-image-field__item-label">
                    Выбрать файл
                </div>
            </label >

            <label  class="c-image-field__item"
                v-for="(file, fileIndex) in previews"
                :key="fileIndex"
                :style="{ backgroundImage: `url(${file.url})` }"
            >
                <input type="file" @change="onSelectFile" />
                <div class="c-image-field__item-label c-image-field__item-label_white">
                    Изменить файл
                </div>
            </label >
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'c-image-field',

    props: [
        'label',
        'value'
    ],

    data () {
        return {
            files: [],
            previews: [],
        }
    },

    methods: {
        onSelectFile (e) {
            let file = e.target.files[0]
            let files = []

            let reader = new FileReader()

            reader.onload = function () {
                files.push({url: reader.result})
            }
            reader.readAsDataURL(file)
            if (this.files.length === 0) {
                this.files.push(file)
            }

            this.previews = files

            this.$emit('input', this.files[0])
        }
    },

    watch: {
        value (value) {
            if (value) {
                this.previews = [{ url: value }]
            }
        },
    }

}
</script>

<style lang="scss">
@import '@/assets/vars';

.c-image-field {
    &__wrapper {
        width: 100%;
    }

    &__label {
        font-size: 13px;
        color: $color-font-mute;
        font-weight: 500;
        margin-bottom: 6px;
    }

    &__list {
        display: flex;
    }

    &__item {
        width: 100%;
        display: flex;
        height: 120px;
        align-items: center;
        background: {
            color: $color-bg-control;
            size: cover;
            position: center;
        };
        border-radius: 6px;
        justify-content: center;
        cursor: pointer;
        margin-right: 20px;
        flex-shrink: 0;

        input {
            display: none;
        }

        &:hover {
            background-color: $color-control-focus;
        }

        &-label {
            font: {
                size: 14px;
                weight: 500;
            }
            color: $color-font;

            &_white {
                color: white;
            }

        }
    }
}
</style>