<template>
<div class="menu">
    <router-link class="menu__item"
        v-for="(menuItem, menuItemIndex) in menuItems"
        :key="menuItemIndex"
        :to="{path: menuItem.path}"
    >
        {{ menuItem.label }}
    </router-link>
</div>
</template>

<script>
export default {
    name: 'c-menu',

    computed: {
        menuItems () {
            return this.$store.getters.menuItems
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/vars';

.menu {
    &__item {
        color: $color-font-mute;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 12px;
        margin: 0 -12px;
        cursor: pointer;
        transition: .2s;
        display: block;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    .router-link-active {
        color: white;
    }
}
</style>