<template>
<div class="model-modal">
    <b-modal v-model="localValue"
        hide-footer
        title="Создать запись"
        size="lg"
    >
        <UIForm
            :fields="fields"
            :endpoint="endpoint"
        />
    </b-modal>
</div>
</template>

<script>
import {
    BModal,
} from 'bootstrap-vue'

import {
    UIForm,
} from '@grebrov/ui'

export default {
    name: 'model-modal',

    components: {
        BModal,
        UIForm,
    },

    props: [
        'value',
        'fields',
        'endpoint'
    ],

    data () {
        return {
            localValue: this.value
        }
    },

    watch: {
        localValue (value) {
            this.$emit('input', value)
        },

        value (value) {
            this.localValue = value
        }
    }
}
</script>