<template>
<div class="model-form">
    <div class="model-form__wrapper">
        <div class="model-form__notice"
            v-if="emptyFields.length > 0"
        >
            <div class="model-form__notice-icon">
                <UIIcon icon="danger" color="danger" />
            </div>

            <div class="model-form__notice-text">
                Заполните обязательные поля
            </div>
        </div>

        <table class="model-form__fields">
            <tr class="model-form__fields-item"
                v-for="(field, fieldIndex) in fields"
                :key="fieldIndex"
                v-show="!field.show || (field.show && isFieldShow(field))"
            >
                <td class="model-form__fields-item-label">
                    {{ field.type === 'checkbox' ? '' : field.label }}
                </td>

                <td class="model-form__fields-item-control">
                    <UIInput
                        v-if="field.type === 'string'"
                        v-model="field.value"
                        :state="emptyFields.includes(fieldIndex) ? 'danger' : null"
                    />

                    <UISelect
                        v-if="field.type === 'select'"
                        :options="field.options"
                        v-model="field.value"
                        :state="emptyFields.includes(fieldIndex) ? 'danger' : null"
                    />

                    <UIImageUploader
                        v-if="field.type === 'image'"
                        v-model="field.value"
                        :state="emptyFields.includes(fieldIndex) ? 'danger' : null"
                    />

                    <UIEditor
                        v-if="field.type === 'editor'"
                        v-model="field.value"
                        :state="emptyFields.includes(fieldIndex) ? 'danger' : null"
                    />

                    <UICheckbox
                        v-if="field.type === 'checkbox'"
                        v-model="field.value"
                        :label="field.label"
                    />

                    <UITextInput
                        v-if="field.type === 'text'"
                        v-model="field.value"
                        :label="field.label"
                        :state="emptyFields.includes(fieldIndex) ? 'danger' : null"
                    />

                    <UISelect
                        v-if="field.type === 'relation'"
                        v-model="field.value"
                        :label="field.label"
                        :searchable="true"
                        :options="field.options"
                    />
                </td>
            </tr>

            <tr class="model-form__fields-item">
                <td class="model-form__fields-item-label"></td>

                <td class="model-form__fields-item-control">
                    <div class="model-form__actions">
                        <div class="model-form__actions-item">
                            <UIButton
                                variant="primary"
                                icon="save"
                                label="Сохранить"
                                @click="save"
                            />
                        </div>

                        <div class="model-form__actions-item" v-if="this.itemId">
                            <UIButton
                                variant="danger"
                                icon="trash"
                                label="Удалить"
                                @click="del"
                            />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</template>

<script>
import {
    UIIcon,
    UIInput,
    UISelect,
    UIImageUploader,
    UIEditor,
    UICheckbox,
    UIButton,
    UITextInput,
} from '@grebrov/ui'

export default {
    name: 'model-form',

    props: [
        'fields',
        'model',
        'module',
        'itemId',
    ],

    components: {
        UIIcon,
        UIInput,
        UISelect,
        UIImageUploader,
        UIEditor,
        UICheckbox,
        UIButton,
        UITextInput,
    },

    data () {
        return {
            emptyFields: [],

            relationItems: [],

            relations: {},

            id: this.itemId,
        }
    },

    mounted () {
        this.getRelations()
    },

    watch: {
        id (value) {
            this.$emit('input', value)
        },

        itemId (value) {
            this.id = value
        }
    },

    methods: {
        isFieldShow (field) {
            let _field = this.fields.find(f => f.slug === field.show)

            return _field && !_field.value
        },

        save () {
            this.emptyFields.length = 0

            for (let i in this.fields) {
                let field = this.fields[i]

                if (field.required && (field.value === null || field.value === '')) {
                    this.emptyFields.push(+i)
                }
            }

            if (this.emptyFields.length === 0) {
                let url = ''

                if (this.module) {
                    url += this.module + '/'
                }

                let fields = this.fields.map(item => item)

                if (this.$store.getters.project) {
                    let project = this.$store.getters.project

                    fields.push({
                        slug: 'project',
                        value: project.id
                    })
                }

                this.$store.dispatch('save', {
                    fields,
                    id: this.itemId,
                    model: this.model,
                    module: this.module
                })

                this.$emit('onClose')
            }
        },

        del () {
            if (this.itemId) {
                this.$store.dispatch('deleteItem', {
                    fields: this.fields,
                    id: this.itemId,
                    model: this.model,
                    module: this.module,
                    router: this.$router,
                })
            }
        },

        async getRelations () {
            for (let i in this.fields) {
                if (this.fields[i].type === 'relation') {
                    if (this.module === 'rpk') {
                        await this.$store.dispatch(`rpk/getList`, {
                            model: this.fields[i].model,
                            params: {
                                limit: 1000,
                            },
                            relation: true,
                        })                    

                        this.fields[i].options = this.$store.getters[`rpk/${this.fields[i].model}`].map(f => ({
                            label: f.name,
                            value: f.id,
                        }))
                    } else {
                        await this.$store.dispatch('getModelList', {
                            params: {
                                limit: 1000,
                            },
                            model: this.fields[i].model,
                            module: this.fields[i].module,
                        })

                        this.fields[i].options = this.$store.getters.list.map(f => ({
                            label: f.name,
                            value: f.id
                        }))
                    }
                }
            }
        }
    }
}
</script>

<style lang="scss">
@import '@/assets/vars';

.model-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;

    &__actions {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 6px;
        box-shadow: $box-shadow;
        padding: 24px;
        width: 800px;
    }

    &__fields {
        &-item {
            &:first-child {
                margin-top: 0;
            }

            &-label {
                font-size: 14px;
                font-weight: 500;
                color: $color-font-mute;
                text-align: right;
                padding-right: 24px;
                padding-top: 10px;
                width: 180px;
                vertical-align: top;
            }

            td {
                padding-bottom: 20px;
            }
        }
    }

    &__notice {
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        &-text {
            margin-left: 6px;
            font-size: 13px;
            color: $danger;
        }
    }

    .ui-input,
    .ui-select {
        max-width: 600px;
    }
}
</style>