<template>
<div class="c-notice" v-if="notice">
    <div class="c-notice__wrapper c-notice__wrapper_danger" v-if="notice.type === 'danger'">
        <div class="c-notice__icon">
            <font-awesome-icon :icon="danger" />
        </div>

        <div class="c-notice__text">
            {{ notice.text }}
        </div>
    </div>

    <div class="c-notice__wrapper c-notice__wrapper_warning" v-if="notice.type === 'warning'">
        <div class="c-notice__icon">
            <font-awesome-icon :icon="warning" />
        </div>

        <div class="c-notice__text">
            {{ notice.text }}
        </div>
    </div>

    <div class="c-notice__wrapper c-notice__wrapper_success" v-if="notice.type === 'success'">
        <div class="c-notice__icon">
            <font-awesome-icon :icon="success" />
        </div>

        <div class="c-notice__text">
            {{ notice.text }}
        </div>
    </div>

    <div class="c-notice__wrapper c-notice__wrapper_info" v-if="notice.type === 'info'">
        <div class="c-notice__icon">
            <font-awesome-icon :icon="info" />
        </div>

        <div class="c-notice__text">
            {{ notice.text }}
        </div>
    </div>
</div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import {
    faExclamationCircle,
    faCheckCircle,
    faExclamationTriangle,
    faInfoCircle,
} from '@fortawesome/free-solid-svg-icons'

export default {
    name: 'c-notice',

    props: ['notice'],

    components: {
        FontAwesomeIcon,
    },

    data () {
        return {
            danger: faExclamationCircle,
            success: faCheckCircle,
            warning: faExclamationTriangle,
            info: faInfoCircle,
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/vars';

.c-notice {
    margin-bottom: 20px;

    &__wrapper {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        font-size: 13px;
        border-radius: 6px;

        &_success {
            background: $color-green-light;
            color: $color-green;
        }

        &_danger {
            background: $color-red-light;
            color: $color-red;
        }

        &_warning {
            background: $color-yellow-light;
            color: $color-yellow;
        }

        &_info {
            background: $color-blue-light;
            color: $color-blue;
        }
    }

    &__icon {
        margin-right: 20px;
        font-size: 16px;
    }
}
</style>