<template>
<div class="c-period-field">
    <div class="c-period-field__wrapper">
        <div class="c-period-field__label">
            {{ label }}
        </div>

        <div class="c-period-field__control">
            <div class="c-period-field__start">
                <b-form-datepicker v-model="start"
                    locale="ru"
                    :date-format-options="formatOptions"
                    placeholder="от"
                />
            </div>

            <div class="c-period-field__separator"></div>

            <div class="c-period-field__end">
                <b-form-datepicker v-model="end"
                    locale="ru"
                    :date-format-options="formatOptions"
                    placeholder="до"
                />
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { BFormDatepicker } from 'bootstrap-vue'
import cButton from '@/components/button'

export default {
    name: 'c-period-field',

    props: [
        'label',
        'value',
    ],

    components: {
        BFormDatepicker,
        cButton,
    },

    data () {
        return {
            start: this.value.start,
            end: this.value.end,
            formatOptions: {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
            }
        }
    },

    watch: {
        start (value) {
            this.$emit('input', {
                start: value,
                end: this.end,
            })
        },

        end (value) {
            this.$emit('input', {
                start: this.start,
                end: value
            })
        },

        'value.start' (value) {
            this.start = value
        },

        'value.end' (value) {
            this.end = value
        }
    }
}
</script>

<style lang="scss">
@import '@/assets/vars';

.c-period-field {
    &__control {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__start {
        flex-grow: 1;
        width: 100%;
    }

    &__end {
        flex-grow: 1;
        width: 100%;
    }

    &__separator {
        flex-shrink: 0;
        width: 8px;
        height: 2px;
        background: $color-font-mute;
        margin: 0 8px;
    }

    &__wrapper {
        width: 100%;
    }

    &__label {
        font-size: 13px;
        color: $color-font-mute;
        font-weight: 500;
        margin-bottom: 6px;
    }
}
</style>