<template>
<div class="c-search">
    <div class="c-search__wrapper">
        <div class="c-search__label" v-if="label">
            {{ label }}
        </div>

        <div class="c-search__input">
            <input type="text" v-model="localValue" :placeholder="placeholder">

            <button @click="onSearch">
                <font-awesome-icon :icon="icons.search" />
            </button>
        </div>
    </div>
</div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faSearch } from '@fortawesome/free-solid-svg-icons'

export default {
    name: 'c-search',
    
    props: [
        'label',
        'value',
        'placeholder',
    ],

    components: {
        FontAwesomeIcon
    },

    data () {
        return {
            localValue: this.value,
            icons: {
                search: faSearch
            }
        }
    },

    watch: {
        value (value) {
            this.localValue = value
        },

        localValue (value) {
            this.$emit('input', value)
        }
    },

    methods: {
        onSearch () {
            this.$emit('onSearch')
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/vars';

.c-search {
    &__wrapper {
        width: 100%;
    }

    &__label {
        font-size: 13px;
        color: $color-font-mute;
        font-weight: 500;
        margin-bottom: 6px;
    }

    &__input {
        position: relative;

        input {
            flex-grow: 1;
            border: none;
            background: $color-bg-control;
            border: 2px solid $color-bg-control;
            border-radius: 4px;
            padding: 5px 40px 5px 10px;
            font-size: 14px;
            font-weight: 500;
            transition: .2s;
            width: 100%;

            &:focus {
                outline: none;
                background: $color-control-focus;
                border-color: $color-control-focus;
            }
        }

        button {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 35px;
            border: none;
            background: none;
            color: $color-font-mute;
            transition: .2s;

            &:hover {
                color: $color-font;
            }
        }
    }
}
</style>