<template>
<div class="c-select">
    <div class="c-select__wrapper">
        <div class="c-select__label" v-if="label">
            {{ label }}
        </div>

        <div class="c-select__input">
            <v-select
                v-model="localValue"
                :options="options"
                :reduce="item => item.value"
                :mutliple="multiple"
                :clearable="clearable"
            >
                <template #no-options>
                    <div class="c-select__no-options">
                        Не найдено подходящих элементов
                    </div>
                </template>

                <template #open-indicator>
                    <div class="c-select__open-indicator">
                        <font-awesome-icon :icon="icons.angleDown" />
                    </div>
                </template>
            </v-select>
        </div>
    </div>
</div>
</template>

<script>
import vSelect from 'vue-select'
import Deselect from '@/components/select/deselect'
import OpenIndicator from '@/components/select/open-indicator'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import {
    faAngleDown
} from '@fortawesome/free-solid-svg-icons'

export default {
    name: 'c-select',

    props: [
        'value',
        'options',
        'multiple',
        'label',
        'clearable'
    ],

    components: {
        vSelect,
        FontAwesomeIcon
    },

    data () {
        return {
            localValue: this.value,
            deselect: Deselect,
            openIndicator: OpenIndicator,
            icons: {
                angleDown: faAngleDown
            }
        }
    },

    watch: {
        localValue (value) {
            this.$emit('input', value)
        },

        value (value) {
            this.localValue = value
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/vars';

.c-select {
    &__wrapper {
        width: 100%;
    }

    &__label {
        font-size: 13px;
        color: $color-font-mute;
        font-weight: 500;
        margin-bottom: 6px;
    }

    &__no-options {
        padding: .375rem .75rem;
        color: $color-font-mute;
    }

    &__open-indicator {
        color: $color-font-mute;
        font-size: 18px;
        margin-right: 5px;

    }

    &__input {
        min-width: 200px;
    }
}
</style>