<template>
<div>
  <label v-if="type !== 'group'"
    class="c-switcher"
    :class="{
      'c-switcher_checkbox': type === 'checkbox',
      'c-switcher_disabled': disabled
    }"
    @click="toggle"
    @mousedown="mousedown"
  >
    <div v-if="!type" class="c-switcher-indicator" :class="{'c-switcher-indicator_active': localValue}">
      <div class="c-switcher-indicator-circle"></div>
    </div>

    <input v-if="type === 'checkbox'" type="checkbox" class="c-switcher-input" v-model="localValue" />

    <div v-if="type === 'checkbox'" class="c-switcher-checkbox">
      <svg
        class="c-switcher-checkbox-icon c-switcher-checkbox-icon_check"
        width="11" height="8" viewBox="0 0 11 8" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.29312 7.6838C2.90259 7.29327 2.90259 6.66011 3.29312 6.26958L8.29712 1.26555C8.68764 0.875025 9.32081 0.875025 9.71133 1.26555C10.1019 1.65607 10.1019 2.28924 9.71133 2.67976L4.70733 7.6838C4.31681 8.07432 3.68364 8.07432 3.29312 7.6838Z" />
        <path d="M4.70733 7.6838C5.09786 7.29327 5.0978 6.66011 4.70727 6.26958L1.73445 3.29679C1.34393 2.90626 0.710761 2.90626 0.320237 3.29679C-0.0702873 3.68731 -0.0702873 4.32048 0.320237 4.711L3.29312 7.6838C3.68364 8.07432 4.31681 8.07432 4.70733 7.6838Z" />
      </svg>
    </div>

    <div v-if="image" class="c-switcher-image"
      :style="{'background-image': `url(${image})`}"></div>

    <div class="c-switcher-label"
      :class="{
        'c-switcher-label_nowrap': nowrap,
        'c-switcher-label_active': localValue,
        'c-switcher-label_label': label.color && label.color === 'label'
      }"
    >{{ label.text ? label.text : label }}</div>
  </label>

  <div class="c-switcher-group" v-if="type === 'group'">
    <div
      class="c-switcher-group-item"
      :class="{
        'c-switcher-group-item_active': localValue === item.value,
        'c-switcher-group-item_iconic': item.icon,
        'c-switcher-group-item_bg_success': item.bg === 'success',
        'c-switcher-group-item_bg_error': item.bg === 'error'
      }"
      @click="localValue = item.value"
      v-for="item in items"
      :key="item.value"
      >
        <svg v-if="item.icon && item.icon === 'ruble'" width="9" height="11" viewBox="0 0 9 11" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.60156 7H3.44531V7.75H7.21875C7.28906 7.75 7.35938 7.79688 7.40625 7.84375C7.45312 7.89062 7.5 7.96094 7.5 8.03125V8.96875C7.5 9.0625 7.45312 9.13281 7.40625 9.17969C7.35938 9.22656 7.28906 9.25 7.21875 9.25H3.44531V10.4688C3.44531 10.5625 3.39844 10.6328 3.35156 10.6797C3.30469 10.7266 3.23438 10.75 3.16406 10.75H1.78125C1.6875 10.75 1.61719 10.7266 1.57031 10.6797C1.52344 10.6328 1.5 10.5625 1.5 10.4688V9.25H0.28125C0.1875 9.25 0.117188 9.22656 0.0703125 9.17969C0.0234375 9.13281 0 9.0625 0 8.96875V8.03125C0 7.96094 0.0234375 7.89062 0.0703125 7.84375C0.117188 7.79688 0.1875 7.75 0.28125 7.75H1.5V7H0.28125C0.1875 7 0.117188 6.97656 0.0703125 6.92969C0.0234375 6.88281 0 6.8125 0 6.71875V5.66406C0 5.59375 0.0234375 5.52344 0.0703125 5.47656C0.117188 5.42969 0.1875 5.38281 0.28125 5.38281H1.5V0.53125C1.5 0.460938 1.52344 0.390625 1.57031 0.34375C1.61719 0.296875 1.6875 0.25 1.78125 0.25H5.60156C6.58594 0.25 7.40625 0.578125 8.03906 1.1875C8.67188 1.79688 9 2.61719 9 3.60156C9 4.60938 8.67188 5.42969 8.03906 6.0625C7.40625 6.69531 6.58594 7 5.60156 7ZM3.44531 1.86719V5.38281H5.25C5.8125 5.38281 6.23438 5.24219 6.5625 4.91406C6.86719 4.58594 7.03125 4.16406 7.03125 3.625C7.03125 3.08594 6.86719 2.66406 6.5625 2.33594C6.23438 2.03125 5.8125 1.86719 5.27344 1.86719H3.44531Z" />
        </svg>

        <svg v-if="item.icon && item.icon === 'percent'" width="12" height="13" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.625 5.75C3.15625 5.75 2.71094 5.63281 2.3125 5.39844C1.89062 5.16406 1.58594 4.85938 1.35156 4.4375C1.11719 4.03906 1 3.59375 1 3.125C1 2.65625 1.11719 2.23438 1.35156 1.8125C1.58594 1.41406 1.89062 1.08594 2.3125 0.851562C2.71094 0.617188 3.15625 0.5 3.625 0.5C4.09375 0.5 4.51562 0.617188 4.9375 0.851562C5.33594 1.08594 5.66406 1.41406 5.89844 1.8125C6.13281 2.23438 6.25 2.65625 6.25 3.125C6.25 3.59375 6.13281 4.03906 5.89844 4.4375C5.66406 4.85938 5.33594 5.16406 4.9375 5.39844C4.51562 5.63281 4.09375 5.75 3.625 5.75ZM3.625 2C3.29688 2 3.03906 2.11719 2.82812 2.32812C2.59375 2.5625 2.5 2.82031 2.5 3.125C2.5 3.45312 2.59375 3.71094 2.82812 3.92188C3.03906 4.15625 3.29688 4.25 3.625 4.25C3.92969 4.25 4.1875 4.15625 4.42188 3.92188C4.63281 3.71094 4.75 3.45312 4.75 3.125C4.75 2.82031 4.63281 2.5625 4.42188 2.32812C4.1875 2.11719 3.92969 2 3.625 2ZM8.875 7.25C9.34375 7.25 9.76562 7.36719 10.1875 7.60156C10.5859 7.83594 10.9141 8.16406 11.1484 8.5625C11.3828 8.98438 11.5 9.40625 11.5 9.875C11.5 10.3438 11.3828 10.7891 11.1484 11.1875C10.9141 11.6094 10.5859 11.9141 10.1875 12.1484C9.76562 12.3828 9.34375 12.5 8.875 12.5C8.40625 12.5 7.96094 12.3828 7.5625 12.1484C7.14062 11.9141 6.83594 11.6094 6.60156 11.1875C6.36719 10.7891 6.25 10.3438 6.25 9.875C6.25 9.40625 6.36719 8.98438 6.60156 8.5625C6.83594 8.16406 7.14062 7.83594 7.5625 7.60156C7.96094 7.36719 8.40625 7.25 8.875 7.25ZM8.875 11C9.17969 11 9.4375 10.9062 9.67188 10.6719C9.88281 10.4609 10 10.2031 10 9.875C10 9.57031 9.88281 9.3125 9.67188 9.07812C9.4375 8.86719 9.17969 8.75 8.875 8.75C8.54688 8.75 8.28906 8.86719 8.07812 9.07812C7.84375 9.3125 7.75 9.57031 7.75 9.875C7.75 10.2031 7.84375 10.4609 8.07812 10.6719C8.28906 10.9062 8.54688 11 8.875 11ZM10.1875 0.5C10 0.5 9.83594 0.59375 9.74219 0.734375L1.11719 11.6094C0.976562 11.7969 0.953125 12.0078 1.07031 12.1953C1.16406 12.4062 1.32812 12.5 1.5625 12.5H2.35938C2.54688 12.5 2.6875 12.4297 2.80469 12.2656L11.4062 1.39062C11.5234 1.20312 11.5234 1.01562 11.4297 0.804688C11.3125 0.617188 11.1484 0.5 10.9375 0.5H10.1875Z" />
        </svg>

        <div class="c-switcher-group-item-label">{{ item.label && item.label }}</div>
      </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'c-switcher',

  props: [
    'label',
    'value',
    'type',
    'items',
    'nowrap',
    'model2',
    'image',
    'disabled'
  ],

  data () {
    return {
      localValue: this.value ? this.value : false,
    }
  },

  watch: {
    localValue (value) {
      this.$emit('input', value)
    },
    value (value) {
      this.localValue = value
    }
  },

  methods: {
    toggle () {
      if (!this.type) {
        this.localValue = !this.localValue
      }
    },

    mousedown (e) {
      this.$emit('mousedown', e);
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/vars';

.c-switcher {
  display: flex;
  align-items: center;
  cursor: pointer;

  &_disabled {
    opacity: .5;
    pointer-events: none;
  }

  &-indicator {
    width: 38px;
    height: 20px;
    background: $color-border;
    border-radius: 10px;
    transition: .2s;
    align-items: center;
    display: flex;
    position: relative;
    flex-shrink: 0;

    &-circle {
      width: 16px;
      height: 16px;
      background: white;
      border-radius: 50%;
      transition: .2s;
      left: 2px;
      position: absolute;
    }

    &_active {
      background: $color-primary;
      justify-content: flex-end;

      .c-switcher-indicator-circle {
        left: 20px;
      }
    }
  }

  &-label {
    font-size: 13px;
    line-height: 14px;
    margin-left: 10px;
    transition: .2s;
    color: black;

    &_nowrap {
      white-space: nowrap;
    }

    // &_label {
    //   color: $color-label;
    // }
  }

  &-input {
    display: none;

    &:checked + .c-switcher-checkbox {
      background: $color-primary;
      border-color: $color-primary;

      & + .c-switcher-label {
        // color: black;
      }
    }
  }

  &-image {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    margin-left: 12px;
    border-radius: 50%;
    background: {
      size: cover;
      position: center;
    }
  }

  &-checkbox {
    width: 18px;
    height: 18px;
    transition: .2s;
    border-radius: 3px;
    border: 1px solid #BFC9E0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;

    &-icon {
      fill: white;

      &_check {
        width: 11px;
        height: 8px;
        position: absolute;
        top: 4px;
        left: 3px;
      }
    }
  }

  &-group {
    display: inline-flex;
    border-radius: 15px;
    border: 1px solid $color-border;
    box-sizing: border-box;

    &-item {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid $color-border;
      transition: .2s;
      cursor: pointer;
      padding: 0 20px;

      &_iconic {
        width: 35px;
        padding: 0;
      }

      &-label {
        font: {
          size: 12px;
          weight: 500;
        }
        color: $color-primary;
        transition: .2s;
      }

      svg {
        fill: $color-primary;
        transition: .2s;
      }

      &:first-child {
        border-left: none;
        border-radius: 15px 0 0 15px;
      }

      &:last-child {
        border-radius: 0 15px 15px 0;
      }

      &_active {
        background: $color-bg;

        &.c-switcher-group-item_bg_success {
          background: $color-green-light;
        }

        &.c-switcher-group-item_bg_error {
          background: $color-red-light;
        }

        svg {
          fill: $color-font;
        }

        .c-switcher-group-item-label {
          color: $color-font;
        }
      }
    }
  }
}
</style>
