<template>
<div class="c-table">
    <b-table :fields="columns" :items="items">
        <template #cell()>
        </template>
    </b-table>
</div>
</template>

<script>
import { BTable } from 'bootstrap-vue'

export default {
    name: 'c-table',

    props: [
        'columns',
        'items',
    ],

    components: {
        BTable
    }
}
</script>