<template>
<div class="c-table-cell">
    <div class="c-table-cell__wrapper" v-if="type === 'image'">
        <div class="c-table-cell__image"
            :style="{backgroundImage: `url(${field})`}"
        ></div>
    </div>

    <div class="c-table-cell__wrapper" v-if="type === 'link'">
        <router-link :to="path" class="c-table-cell__title">
            {{ field }}
        </router-link>

        <div class="c-table-cell__description" v-if="description">
            {{ description }}
        </div>
    </div>

    <div class="c-table-cell__wrapper c-table-cell__wrapper_boolean" v-if="type === 'boolean'">
        <font-awesome-icon :icon="icons.check" v-if="field" />
    </div>
</div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faCheck } from '@fortawesome/free-solid-svg-icons'

export default {
    name: 'c-table-cell',

    components: {
        FontAwesomeIcon,
    },

    props: [
        'field',
        'type',
        'path',
        'description',
    ],

    data () {
        return {
            icons: {
                check: faCheck,
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/vars';

.c-table-cell {
    &__image {
        width: 60px;
        height: 40px;
        border-radius: 4px;
        background: {
            size: cover;
            position: center;
        }
    }

    &__title {
        font-weight: 500;
        color: $color-primary;
        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }

    &__description {
        font-size: 13px;
        color: $color-font-mute;
    }

    &__wrapper {
        &_boolean {
            text-align: center;
            color: $color-green;
        }
    }
}
</style>