<template>
<div class="layout">
        <div class="page__header">
            <div class="page__title">Заявка №{{ request && request.id }}</div>
        </div>

        <div class="page__content">
            <b-overlay :show="isLoading" spinner-variant="primary" variant="transparent">
                <c-form class="brequest" v-if="request">
                    <b-row>
                        <b-col>
                            <div class="brequest__col-title">Информация</div>

                            <b-row>
                                <b-col>
                                    <div class="brequest__field">
                                        <div class="brequest__field-label">Заявитель</div>
                                        <div class="brequest__field-value">
                                            {{ `${request.last_name} ${request.first_name} ${request.middle_name}` }}
                                        </div>
                                    </div>
                                </b-col>

                                <b-col>
                                    <div class="brequest__field">
                                        <div class="brequest__field-label">Категория</div>
                                        <div class="brequest__field-value">
                                            {{ request.category }}
                                        </div>
                                    </div>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col>
                                    <div class="brequest__field">
                                        <div class="brequest__field-label">Адрес проживания</div>
                                        <div class="brequest__field-value">
                                            {{ request.address }}
                                        </div>
                                    </div>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col>
                                    <div class="brequest__field">
                                        <div class="brequest__field-label">Телефон</div>
                                        <div class="brequest__field-value">
                                            {{ request.phone }}
                                        </div>
                                    </div>
                                </b-col>

                                <b-col>
                                    <div class="brequest__field">
                                        <div class="brequest__field-label">E-mail</div>
                                        <div class="brequest__field-value">
                                            {{ request.email }}
                                        </div>
                                    </div>
                                </b-col>

                                <b-col>
                                    <div class="brequest__field">
                                        <div class="brequest__field-label">Дата подачи заявки</div>
                                        <div class="brequest__field-value">
                                            {{ getCreatedDate(request.created_date) }}
                                        </div>
                                    </div>
                                </b-col>
                            </b-row>

                            <div class="brequest__field">
                                <div class="brequest__field-label">Загруженные документы</div>
                                <div class="brequest__field-value">
                                    <div class="brequest__info-docs">
                                        <div class="brequest__info-docs-item"
                                            v-for="(doc, docIndex) in documents"
                                            :key="docIndex"
                                        >
                                            <a :href="doc.file" target="_blank">{{ doc.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="brequest__col-title mt-4">Результаты тестов</div>

                            <div class="brequest__tests">
                                <b-row>
                                    <b-col>
                                        <div class="brequest__tests-item">
                                            <div class="brequest__tests-item-title">Локус контроля</div>

                                            <div class="brequest__tests-item-content">
                                                <div class="brequest__lokus">
                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Экстернальность</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: lokusValue.externalValue + '%'}"
                                                            >
                                                                <span>{{ lokusValue.externalValue }}%</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Интернальность</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: lokusValue.internalValue + '%'}"
                                                            >
                                                                <span>{{ lokusValue.internalValue }}%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </b-col>

                                    <b-col>
                                        <div class="brequest__tests-item">
                                            <div class="brequest__tests-item-title">Якоря карьеры</div>

                                            <div class="brequest__tests-item-content">
                                                <div class="brequest__lokus">
                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Профессиональная компетентность</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: (anchorValue.competence * 10) + '%'}"
                                                            >
                                                                <span>{{ anchorValue.competence }}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Менеджмент</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: (anchorValue.management * 10) + '%'}"
                                                            >
                                                                <span>{{ anchorValue.management }}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Автономия (независимость)</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: (anchorValue.independence * 10) + '%'}"
                                                            >
                                                                <span>{{ anchorValue.independence }}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Стабильность работы</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: (anchorValue.workStability * 10) + '%'}"
                                                            >
                                                                <span>{{ anchorValue.workStability }}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Стабильность места жительства</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: (anchorValue.lifeStability * 10) + '%'}"
                                                            >
                                                                <span>{{ anchorValue.lifeStability }}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Служение</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: (anchorValue.service * 10) + '%'}"
                                                            >
                                                                <span>{{ anchorValue.service }}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Вызов</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: (anchorValue.challenge * 10) + '%'}"
                                                            >
                                                                <span>{{ anchorValue.challenge }}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Интеграция стилей жизни</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: (anchorValue.lifestyle * 10) + '%'}"
                                                            >
                                                                <span>{{ anchorValue.lifestyle }}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="brequest__lokus-item">
                                                        <div class="brequest__lokus-item-title">Предпринимательство</div>

                                                        <div class="brequest__lokus-item-scale">
                                                            <div class="brequest__lokus-item-scale-value"
                                                                :style="{width: (anchorValue.enterprise * 10) + '%'}"
                                                            >
                                                                <span>{{ anchorValue.enterprise }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </b-col>
                                </b-row>
                            </div>
                        </b-col>

                        <b-col>
                            <div class="brequest__col-title">Анкета</div>

                            <div class="brequest__field"
                                v-for="(q, qI) in questionnaire"
                                :key="qI"
                            >
                                <div class="brequest__field-label">{{ q.question }}</div>
                                <div class="brequest__field-value">{{ q.answer }}</div>
                            </div>

                            <div class="brequest__field"
                                 v-for="(q, qIi) in questionnaires"
                                 :key="qIi"
                            >
                                <div class="brequest__field-label">{{ q.question }}</div>
                                <div class="brequest__field-value">{{ q.answer }}</div>
                            </div>
                        </b-col>
                    </b-row>
                </c-form>
            </b-overlay>
        </div>
</div>
</template>

<script>
import {
    BOverlay,
    BRow,
    BCol,
    BContainer
} from 'bootstrap-vue'

import cForm from '@/components/form'

import moment from 'moment'

export default {
    name: 'copp-busyness-request',

    components: {
        BOverlay,
        BRow,
        BCol,
        cForm,
        BContainer
    },

    computed: {
        isLoading () {
            return this.$store.getters['copp/isLoading']
        },

        request () {
            return this.$store.getters['copp/busynessRequest']
        },

        questionnaire () {
            let request = this.$store.getters['copp/busynessRequest']

            return request.questionnaire && JSON.parse(request.questionnaire)
        },

        // lokus () {
        //     let request = this.$store.getters['copp/busynessRequest']
        //
        //     return request.lokus ? JSON.parse(request.lokus) : null
        // },
        //
        // anchor () {
        //     let request = this.$store.getters['copp/busynessRequest']
        //
        //     return request.anchor ? JSON.parse(request.anchor) : null
        // },

        documents () {
            return this.$store.getters['copp/busynessDocuments']
        },

        questionnaires () {
            return this.$store.getters['copp/busynessQuestionnaires']
        },

        testResults () {
            return this.$store.getters['copp/busynessTestResults']
        },
    },

    async mounted () {
        await this.$store.dispatch('copp/getBusynessRequest', this.$route.params.id)
    },

    data () {
        return {
            lokusValue: {
                externalValue: 0,
                internalValue: 0,
            },

            anchorValue: {
                competence: 0,
                management: 0,
                independence: 0,
                workStability: 0,
                lifeStability: 0,
                service: 0,
                challenge: 0,
                lifestyle: 0,
                enterprise: 0,
            }
        }
    },

    watch: {
        testResults (value) {
            if (value !== null && value.length > 0) {
                this.calcLokus(value)
                this.calcAnchor(value)
            }
        },

        request (value) {
            if (value) {
                if (value.lokus) {
                    this.calcLokus(JSON.parse(value.lokus))
                }

                if (value.anchor) {
                    this.calcAnchor(JSON.parse(value.anchor))
                }
            }
        }
    },

    methods: {
        getCreatedDate (date) {
            return moment(date).format('LLL')
        },

        calcAnchor (value) {
            let data

            if (value) {
                if (value[0].test_slug) {
                    data = value.filter(i => i.test_slug === 'anchor');
                } else {
                    data = value
                }

                let competence = 0
                let management = 0
                let independence = 0
                let workStability = 0
                let lifeStability = 0
                let service = 0
                let challenge = 0
                let lifestyle = 0
                let enterprise = 0

                let keys = {
                    competence: ['1', '9', '17', '25', '33'],
                    management: ['2', '10', '18', '26', '34'],
                    independence: ['3', '11', '19', '27', '35'],
                    workStability: ['4', '12', '36'],
                    lifeStability: ['20', '28', '41'],
                    service: ['5', '13', '21', '29', '37'],
                    challenge: ['6', '14', '22', '30', '38'],
                    lifestyle: ['7', '15', '23', '31', '39'],
                    enterprise: ['8', '16', '24', '32', '40'],
                }

                for (let i in data) {
                    let number = '' + data[i].number
                    let answer = +data[i].answer

                    if (keys.competence.includes(number)) competence += answer
                    if (keys.management.includes(number)) management += answer
                    if (keys.independence.includes(number)) independence += answer
                    if (keys.workStability.includes(number)) workStability += answer
                    if (keys.lifeStability.includes(number)) lifeStability += answer
                    if (keys.service.includes(number)) service += answer
                    if (keys.challenge.includes(number)) challenge += answer
                    if (keys.lifestyle.includes(number)) lifestyle += answer
                    if (keys.enterprise.includes(number)) enterprise += answer
                }

                this.anchorValue.competence = Math.round(competence / keys.competence.length)
                this.anchorValue.management = Math.round(management / keys.management.length)
                this.anchorValue.independence = Math.round(independence / keys.independence.length)
                this.anchorValue.workStability = Math.round(workStability / keys.workStability.length)
                this.anchorValue.lifeStability = Math.round(lifeStability / keys.lifeStability.length)
                this.anchorValue.service = Math.round(service / keys.service.length)
                this.anchorValue.challenge = Math.round(challenge / keys.challenge.length)
                this.anchorValue.lifestyle = Math.round(lifestyle / keys.lifestyle.length)
                this.anchorValue.enterprise = Math.round(enterprise / keys.enterprise.length)
            }


        },

        calcLokus (value) {
            let lokusData

            if (value) {
                if (value[0].test_slug) {
                    lokusData = value.filter(i => i.test_slug === 'lokus');
                } else {
                    lokusData = value
                }

                let ext = 0;
                let int = 0;
                let total = 0

                for (let i in lokusData) {
                    let number = '' + lokusData[i].number
                    let answer = lokusData[i].answer

                    if (number === '2' && answer === 'a') ext++
                    if (number === '2' && answer === 'b') int++

                    if (number === '3' && answer === 'b') ext++
                    if (number === '3' && answer === 'a') int++

                    if (number === '4' && answer === 'b') ext++
                    if (number === '4' && answer === 'a') int++

                    if (number === '5' && answer === 'b') ext++
                    if (number === '5' && answer === 'a') int++

                    if (number === '6' && answer === 'a') ext++
                    if (number === '6' && answer === 'b') int++

                    if (number === '7' && answer === 'a') ext++
                    if (number === '7' && answer === 'b') int++

                    if (number === '9' && answer === 'a') ext++
                    if (number === '9' && answer === 'b') int++

                    if (number === '10' && answer === 'b') ext++
                    if (number === '10' && answer === 'a') int++

                    if (number === '11' && answer === 'b') ext++
                    if (number === '11' && answer === 'a') int++

                    if (number === '12' && answer === 'b') ext++
                    if (number === '12' && answer === 'a') int++

                    if (number === '13' && answer === 'b') ext++
                    if (number === '13' && answer === 'a') int++

                    if (number === '15' && answer === 'b') ext++
                    if (number === '15' && answer === 'a') int++

                    if (number === '16' && answer === 'a') ext++
                    if (number === '16' && answer === 'b') int++

                    if (number === '17' && answer === 'a') ext++
                    if (number === '17' && answer === 'b') int++

                    if (number === '18' && answer === 'a') ext++
                    if (number === '18' && answer === 'b') int++

                    if (number === '20' && answer === 'a') ext++
                    if (number === '20' && answer === 'b') int++

                    if (number === '21' && answer === 'a') ext++
                    if (number === '21' && answer === 'b') int++

                    if (number === '22' && answer === 'b') ext++
                    if (number === '22' && answer === 'a') int++

                    if (number === '23' && answer === 'a') ext++
                    if (number === '23' && answer === 'b') int++

                    if (number === '25' && answer === 'a') ext++
                    if (number === '25' && answer === 'b') int++

                    if (number === '26' && answer === 'b') ext++
                    if (number === '26' && answer === 'a') int++

                    if (number === '28' && answer === 'b') ext++
                    if (number === '28' && answer === 'a') int++

                    if (number === '29' && answer === 'a') ext++
                    if (number === '29' && answer === 'b') int++

                    if (
                        number === '2' || number === '3' || number === '4' || number === '5' ||
                        number === '6' || number === '7' || number === '9' || number === '10' ||
                        number === '11' || number === '12' || number === '13' || number === '15' ||
                        number === '16' || number === '17' || number === '18' || number === '20' ||
                        number === '21' || number === '22' || number === '23' || number === '25' ||
                        number === '26' || number === '28' || number === '29'
                    ) {
                        total++
                    }
                }

                this.lokusValue.externalValue = Math.round((100 * ext) / total)
                this.lokusValue.internalValue = Math.round((100 * int) / total)
            }
        }
    },
}
</script>

<style lang="scss">
@import '@/assets/vars';

.brequest {
    &__header {
        display: flex;
        align-items: center;

        &-back {
            font-size: 13px;
            flex-shrink: 0;
            color: $color-font-mute;
            cursor: pointer;
            transition: .2s;
            font-weight: 500;

            &:hover {
                color: $primary;
            }
        }

        &-title {
            font-size: 16px;
            color: $color-font;
            flex-grow: 1;
            margin: 0 24px;
            font-weight: 600;
        }

        &-nav {
            display: flex;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 500;

            &-item {
                margin-left: 16px;
                cursor: pointer;
                transition: .2s;
                color: $color-font-mute;

                &:hover {
                    color: $primary;
                }

                &_active {
                    color: $color-font;
                }
            }
        }
    }

    &__info {
        &-docs {
            display: flex;

            &-item {
                margin-right: 24px;
            }
        }
    }

    &__field {
        margin-bottom: 24px;

        &-label {
            color: $color-font-mute;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 5px;
        }

        &-value {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.5;
        }
    }

    &__col-title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    &__tests {
        &-item {
            margin-bottom: 16px;

            &-title {
                font-size: 14px;
                font-weight: 500;
                color: $color-font-mute;
                margin-bottom: 5px;
            }
        }
    }

    &__lokus {
        &-item {
            margin-bottom: 8px;

            &-title {
                font-size: 13px;
                color: $color-font;
                margin-bottom: 5px;
            }

            &-scale {
                height: 6px;
                background: $color-blue-light;
                position: relative;
                border-radius: 3px;
                margin-bottom: 30px;

                &-value {
                    position: absolute;
                    border-radius: 3px;
                    top: 0;
                    left: 0;
                    height: 6px;
                    background: $color-blue;
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 500;
                    color: white;
                    padding-left: 8px;
                    box-sizing: border-box;

                    span {
                        position: absolute;
                        bottom: -22px;
                        color: $color-font;
                        left: 0;
                    }
                }
            }
        }
    }
}

</style>