<template>
<div class="layout">
    <div class="page__header">
        <b-row class="page__filters" no-gutters align-v="center">
            <b-col class="page__filter" lg="2">
                <UIInput
                    v-model="filter.search"
                    icon="search"
                    placeholder="Поиск"
                    :clearable="true"
                    variant="solid"
                />
            </b-col>

            <b-col class="page__filter" lg="2">
                <UIDatepicker v-model="filter.period"
                    placeholder="Выберите период"
                    :range="true"
                    variant="solid"
                />  
            </b-col>

            <b-col lg="2" class="page__filter">
                <UISelect v-model="filter.tutor"
                    placeholder="Выберите тьютора"
                    variant="solid"
                    :options="tutors"
                    :searchable="true"
                />
            </b-col>

            <b-col lg="2" class="page__filter">
                <UISelect v-model="filter.category"
                    placeholder="Выберите категорию"
                    variant="solid"
                    :options="categories"
                    :searchable="true"
                />
            </b-col>

            <b-col class="page__filter">
                <b-pagination
                    v-model="page.current"
                    :total-rows="page.total"
                    :per-page="page.limit"
                    v-if="page.total > page.limit"
                />
            </b-col>

            <b-col class="page__filter text-right">
                <div class="page__total">
                    Всего: {{ page.total }}
                </div>
            </b-col>
        </b-row>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table
                    :fields="columns" :items="list"
                    :sort-by.sync="ordering.by"
                    :sort-desc.sync="ordering.desc"
                    :no-local-sorting="true"
                >
                    <template #cell(last_name)="data">
                        <UITableCell
                            type="link"
                            :field="`${data.item.last_name} ${data.item.first_name} ${data.item.middle_name}`"
                            :path="`/copp/busyness/requests/${data.item.id}`"
                            :description="data.item.category"
                        />
                    </template>

                    <template #cell(contacts)="data">
                        <UITableCell
                            type="contacts"
                            :field="{
                                phone: data.item.phone,
                                address: data.item.address,
                                email: data.item.email,
                            }"
                        />
                    </template>

                    <template #cell(created_date)="data">
                        <UITableCell
                            type="date"
                            :field="data.item.created_date"
                        />
                    </template>

                    <template #cell(tutor)="data">
                        <UITableCell
                            v-if="data.item.tutor"
                            type="link"
                            :field="`${data.item.tutor.name}`"
                            :path="`/copp/busyness/tutors/${data.item.tutor.id}`"
                        />

                        <span v-if="!data.item.tutor">-</span>
                    </template>

                    <template #cell(prevWork)="data">
                        <UITableCell
                            type="text"
                            :field="getPrevWork(data.item)"
                        />
                    </template>

                    <template #cell(documents)="data">
                        <UIButton label="Скачать" size="sm" variant="primary" @click="downloadDocs(data.item)" />
                    </template>
                </b-table>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
    BTable,
    BPagination,
    BRow,
    BCol,
} from 'bootstrap-vue'

import {
    UIButton,
    UIInput,
    UISelect,
    UIDatepicker,
    UITableCell,
} from '@grebrov/ui'

import { debounce } from 'debounce'
import moment from 'moment'

export default {
    name: 'copp-busyness-requests',

    components: {
        BOverlay,
        BTable,
        BPagination,
        BRow,
        BCol,

        UISelect,
        UIButton,
        UIInput,
        UIDatepicker,
        UITableCell,
    },

    computed: {
        isLoading () {
            return this.$store.getters['copp/isLoading']
        },

        list () {
            return this.$store.getters['copp/busynessRequests']
        },

        tutors () {
            let tutors = this.$store.getters['copp/busynessTutors'].map(i => ({
                label: i.name,
                value: i.id,
            }))

            tutors.unshift({
                label: 'Все тьюторы',
                value: null,
            })

            return tutors
        }
    },

    async mounted () {
        await this.$store.dispatch('copp/getBusynessTutors', {
            limit: 1000,
        })

        await this.getList()
    },

    data () {
        return {
            columns: [
                { label: 'Заявитель', key: 'last_name', sortable: true },
                { label: 'Контакты', key: 'contacts', },
                { label: 'Предыдущее место работы', key: 'prevWork' },
                { label: 'Тьютор', key: 'tutor' },
                { label: 'Дата', key: 'created_date', sortable: true },
                { label: 'Документы', key: 'documents' }
            ],
            ordering: {
                desc: true,
                by: 'created_date'
            },
            filter: {
                search: '',
                period: null,
                tutor: null,
                category: null,
            },
            page: {
                current: 1,
                limit: 100,
                total: 0,
            },
            categories: [
                { label: 'Все категории', value: null },
                { value: 'Граждане, ищущие работу и обратившиеся в органы службы занятости', label: 'Граждане, ищущие работу и обратившиеся в органы службы занятости' },
                { value: 'Безработные граждане', label: 'Безработные граждане' },
                { value: 'Лица в возрасте 50-ти лет и старше', label: 'Лица в возрасте 50-ти лет и старше' },
                { value: 'Лица предпенсионного возраста', label: 'Лица предпенсионного возраста' },
                { value: 'Женщины в отпуске по уходу за детьми до трех лет', label: 'Женщины в отпуске по уходу за детьми до трех лет' },
                { value: 'Женщины, не состоящие в трудовых отношениях и имеющие детей дошкольного возраста', label: 'Женщины, не состоящие в трудовых отношениях и имеющие детей дошкольного возраста' },
            ],
        }
    },

    watch: {
        'page.current' (value) {
            this.getList()
        },

        'filter.tutor' (value) {
            this.getList()
        },

        'filter.search' (value) {
            this.search()
        },

        'ordering.desc' (value) {
            this.getList()
        },

        'ordering.by' (value) {
            this.getList()
        },

        'filter.period' (value) {
            this.getList()
        },

        'filter.category' (value) {
            this.getList()
        },
    },

    methods: {
        async getList () {
            let start_date = null
            let end_date = null

            if (this.filter.period) {
                start_date = this.filter.period[0] ? moment(this.filter.period[0]).format() : null
                end_date = this.filter.period[1] ? moment(this.filter.period[1]).endOf('day').format() : null
            }


            await this.$store.dispatch('copp/getBusynessRequests', {
                limit: this.page.limit,
                offset: (this.page.current * this.page.limit) - this.page.limit,
                search: this.filter.search,
                tutor: this.filter.tutor,
                start_date,
                end_date,
                ordering: `${(this.ordering.desc ? '-' : '')}${this.ordering.by}`,
                category: this.filter.category
            })

            this.page.total = this.$store.getters['copp/rows']
        },

        search: debounce(function () { this.getList(); }, 500),

        getPrevWork (item) {
            let question = {}

            if (item.questionnaire) {
                let questionnaire = JSON.parse(item.questionnaire)

                question = questionnaire.find(i => {
                    return i.question === 'Укажите предыдущую должность и место работы:'
                })
            } else {
                question = item.questionnaires.find(i => {
                    return i.question === 'Укажите предыдущую должность и место работы:'
                })
            }

            if (question) {
                return question.answer
            } else {
                return ''
            }
        },

        async downloadDocs (item) {
            console.log('item: ', item)
            await this.$store.dispatch('copp/downloadBusynessDocuments', item.id)
        }
    },
}
</script>