<template>
<div class="module">
<!--    <div class="module__top">-->
<!--        <div class="module__top-title">-->
<!--            {{ title }}-->
<!--        </div>-->
<!--    </div>-->

    <div class="module__content">
        <router-view />
    </div>
</div>
</template>

<script>
export default {
    name: 'site',

    computed: {
        title () {
            if (this.$route.name === 'site') {
                return 'Управление сайтом'
            } else if (
                this.$route.name === 'site-sections' ||
                this.$route.name === 'site-sections-create'
            ) {
                return 'Разделы'
            }
        }
    }
}
</script>