<template>
    <div class="page">
        <div class="page__top">
            <div class="page__title">События</div>

            <div class="page__actions">
                <div class="page__actions-item"
                    v-if="$route.name === 'site-events'"
                >
                    <UIButton
                        label="Создать"
                        variant="primary"
                        icon="plus"
                        @click="goTo('/site/events/create')"
                    />
                </div>
            </div>
        </div>

        <div class="page__layout">
            <router-view @changeFilter="changeFilter" />
        </div>
    </div>
</template>

<script>
    import {
        UIButton
    } from '@grebrov/ui'

    export default {
        name: 'site-events',

        components: {
            UIButton,
        },

        data () {
            return {
                filter: null,
            }
        },

        methods: {
            goTo (path) {
                this.$router.push({ path })
            },

            changeFilter (value) {
                this.filter = value
            }
        }
    }
</script>