<template>
    <div class="layout">
        <div class="page__header">
            <b-row class="page__filters" no-gutters align-v="center">
                <b-col lg="2" class="page__filter">
                    <UIInput v-model="filter.search" />
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
    import {
        BRow,
        BCol,
    } from 'bootstrap-vue'

    import {
        UIButton,
        UIInput,
    } from '@grebrov/ui'

    export default {
        name: 'site-events-list',

        components: {
            BRow, BCol, UIButton, UIInput
        },

        data () {
            return {
                filter: {
                    search: '',
                },
                page: {
                    current: 1,
                    total: 0,
                    limit: 20,
                },
                columns: [
                    { label: 'Название', key: 'name' },
                    { label: 'Дата начала', key: 'start_date' },
                    { label: 'Участники', key: 'members' }
                ]
            }
        }
    }
</script>