<template>
<div class="layout">
    <!-- <div class="page__header">
        <div class="page__title">Заявка №{{ request && request.id }}</div>
    </div> -->

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="transparent"
        >
            <div class="rpk-person" v-if="person && questionary">
                <b-row>
                    <b-col>
                        <div class="rpk-person__title">Личные данные</div>

                        <b-row>
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Фамилия</div>

                                    <div class="field__value">{{ person.last_name }}</div>
                                </div>
                            </b-col>
                            
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Имя</div>

                                    <div class="field__value">{{ person.first_name }}</div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Отчество</div>

                                    <div class="field__value">{{ person.middle_name }}</div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Номер телефона:
                                    </div>

                                    <div class="field__value">
                                        {{ person.phone }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        E-mail:
                                    </div>

                                    <div class="field__value">
                                        {{ person.email }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Дата рождения:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.birthday ? formatDate(questionary.birthday) : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Пол:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.gender ? questionary.gender : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Национальность:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.nationality ? questionary.nationality : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Семейное положение:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.marital ? questionary.marital : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Право на льготы</div>

                                    <div class="field__value">
                                        {{ questionary.privileges ? questionary.privileges : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Отношусь к малочисленным народам севера
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.north_people ? 'да' : 'нет' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Общий трудовой стаж</div>

                                    <div class="field__value">
                                        {{ questionary.seniority ? questionary.seniority : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Трудовой стаж по профилю</div>

                                    <div class="field__value">
                                        {{ questionary.seniority_profile ? questionary.seniority_profile : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Отношение к военной службе:</div>

                                    <div class="field__value">
                                        {{ questionary.military ? questionary.military : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Дата призыва / демобилизации:</div>

                                    <div class="field__value">
                                        {{ questionary.military_date ? questionary.military_date : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <div class="rpk-person__title mt-5">Место жительства</div>

                        <b-row>
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Индекс</div>

                                    <div class="field__value">
                                        {{ questionary.location_index ? questionary.location_index : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">М.О. (район, улус):</div>

                                    <div class="field__value">
                                        {{ questionary.location_district ? questionary.location_district : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Населенный пункт:</div>

                                    <div class="field__value">
                                        {{ questionary.location_city ? questionary.location_city : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Улица:</div>

                                    <div class="field__value">
                                        {{ questionary.location_street ? questionary.location_street : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Дом:</div>

                                    <div class="field__value">
                                        {{ questionary.location_house ? questionary.location_house : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Корпус:</div>

                                    <div class="field__value">
                                        {{ questionary.location_corpus ? questionary.location_corpus : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Квартира:</div>

                                    <div class="field__value">
                                        {{ questionary.location_apartment ? questionary.location_apartment : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Номера телефонов (с кодами):</div>

                                    <div class="field__value">
                                        {{ questionary.location_phones ? questionary.location_phones : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <div class="rpk-person__title mt-5">
                            Для иногородних
                        </div>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Адрес временного жительства в г. Якутске:</div>

                                    <div class="field__value">
                                        {{ questionary.foreigner_address ? questionary.foreigner_address : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Контактный телефон в Якутске:</div>

                                    <div class="field__value">
                                        {{ questionary.foreigner_phone ? questionary.foreigner_phone : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <div class="rpk-person__title mt-5">Паспортные данные</div>

                        <b-row>
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Серия и номер:</div>

                                    <div class="field__value">
                                        {{ (questionary.passport_series ? questionary.passport_series : '-') + ' ' + (questionary.passport_number ? questionary.passport_number : '-') }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Дата выдачи:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.passport_date ? formatDate(questionary.passport_date) : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Кем выдан:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.passport_by ? questionary.passport_by : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        СНИЛС:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.snils ? questionary.snils : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Загруженные документы
                                    </div>

                                    <div class="field__value">
                                        <div class="rpk-person__docs">
                                            <a class="rpk-person__docs-item"
                                                v-for="(doc, docIndex) in documents"
                                                :key="docIndex"
                                                :href="doc.file"
                                                target="_blank"
                                            >
                                                {{ doc.name }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <div class="rpk-person__title mt-5" v-if="request">Заявление</div>

                        <b-row v-if="request">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Название программы:
                                    </div>

                                    <div class="field__value">
                                        {{ request.program_name ? request.program_name : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Шифр:
                                    </div>

                                    <div class="field__value">
                                        {{ request.program_code ? request.program_code : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4" v-if="request">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        ОО:
                                    </div>

                                    <div class="field__value">
                                        {{ request.institution_name ? request.institution_name : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Город:
                                    </div>

                                    <div class="field__value">
                                        {{ request.institution_location ? request.institution_location : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4" v-if="request">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Форма обучения:
                                    </div>

                                    <div class="field__value">
                                        {{ request.form ? request.form : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Высшее образование получаю впервые:
                                    </div>

                                    <div class="field__value">
                                        {{ request.first_university ? 'да' : 'нет' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4" v-if="request">
                            <b-col v-if="request.program">
                                <div class="field">
                                    <div class="field__label">
                                        Выбранная программа:
                                    </div>

                                    <router-link class="field__value"
                                        :to="`/rpk/programs/${request.program.id}`"
                                    >
                                        {{ request.program ? request.program.name : '-' }}
                                    </router-link>
                                </div>
                            </b-col>
                        </b-row>
                    </b-col>

                    <b-col>
                        <div class="rpk-person__title">ВУЗ</div>

                        <b-row>
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Наименование:</div>
                                </div>

                                <div class="field__value">
                                    {{ questionary.university_name ? questionary.university_name : '-' }}
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Город:</div>
                                </div>

                                <div class="field__value">
                                    {{ questionary.university_city ? questionary.university_city : '-' }}
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Аббревиатура:</div>
                                </div>

                                <div class="field__value">
                                    {{ questionary.university_abbr ? questionary.university_abbr : '-' }}
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Специальность:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.university_specialty ? questionary.university_specialty : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Шифр:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.university_code ? questionary.university_code : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Нуждаюсь в общежитии:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.university_hostel ? 'да' : 'нет' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <div class="rpk-person__title mt-5">Учебное заведение</div>

                        <b-row>
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Наименование:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_name ? questionary.institution_name : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Тип учебного заведения:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_type ? questionary.institution_type : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-5">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        МО (район, улус):
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_district ? questionary.institution_district : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Населенный пункт:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_city ? questionary.institution_city : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Аббревиатура:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_abbr ? questionary.institution_abbr : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-5">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Год окончания:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_end_year ? questionary.institution_end_year : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Качество:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_quality ? questionary.institution_quality : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Основной изучаемый иностранный язык:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_language ? questionary.institution_language : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-5">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Являюсь призером Всероссийских олимпиад:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_awards ? 'да' : 'нет' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        По какому предмету, где и когда проводилась олимпиада:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.institution_info ? questionary.institution_info : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <div class="rpk-person__title mt-5">Мать</div>

                        <b-row>
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Фамилия:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.mother_last_name ? questionary.mother_last_name : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Имя:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.mother_first_name ? questionary.mother_first_name : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Отчество:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.mother_middle_name ? questionary.mother_middle_name : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Адрес:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.mother_phones ? questionary.mother_phones : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Номера телефонов с кодами:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.mother_phones ? questionary.mother_phones : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Место работы (название предприятия, район, населенный пункт, телефоны с кодами):
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.mother_work ? questionary.mother_work : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Должность:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.mother_job_position ? questionary.mother_job_position : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <div class="rpk-person__title mt-5">Отец</div>

                        <b-row>
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Фамилия:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.father_last_name ? questionary.father_last_name : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Имя:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.mother_first_name ? questionary.father_first_name : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Отчество:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.father_middle_name ? questionary.father_middle_name : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Адрес:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.father_address ? questionary.father_address : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Номера телефонов с кодами:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.father_phones ? questionary.father_phones : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Место работы (название предприятия, район, населенный пункт, телефоны с кодами):
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.father_work ? questionary.father_work : '-' }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">
                                        Должность:
                                    </div>

                                    <div class="field__value">
                                        {{ questionary.father_job_position ? questionary.father_job_position : '-' }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <div class="rpk-person__title mt-5">Результаты ЕГЭ</div>

                        <b-row v-if="egeResults">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">ГТО</div>
                                    <div class="field__value">
                                        {{ egeResults.gto }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Русский язык</div>
                                    <div class="field__value">
                                        {{ egeResults.russianlang }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Математика</div>
                                    <div class="field__value">
                                        {{ egeResults.mathematics }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Физика</div>
                                    <div class="field__value">
                                        {{ egeResults.physics }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row v-if="egeResults" class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Химия</div>
                                    <div class="field__value">
                                        {{ egeResults.chemistry }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Биология</div>
                                    <div class="field__value">
                                        {{ egeResults.biology }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">История</div>
                                    <div class="field__value">
                                        {{ egeResults.history }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Обществознание</div>
                                    <div class="field__value">
                                        {{ egeResults.society }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>

                        <b-row v-if="egeResults" class="mt-4">
                            <b-col>
                                <div class="field">
                                    <div class="field__label">Информатика</div>
                                    <div class="field__value">
                                        {{ egeResults.computer }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">География</div>
                                    <div class="field__value">
                                        {{ egeResults.geography }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Иностранный язык</div>
                                    <div class="field__value">
                                        {{ egeResults.foreignlang }}
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="field">
                                    <div class="field__label">Литература</div>
                                    <div class="field__value">
                                        {{ egeResults.literature }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
    BContainer,
    BRow,
    BCol,
} from 'bootstrap-vue'

import moment from 'moment'

export default {
    name: 'rpk-persons-detail',

    components: {
        BOverlay,
        BContainer,
        BRow,
        BCol,
    },

    computed: {
        isLoading () {
            return this.$store.getters['rpk/isLoading']
        },

        person () {
            return this.$store.getters['rpk/person']
        },

        questionary () {
            return this.$store.getters['rpk/questionary']
        },

        documents () {
            return this.$store.getters['rpk/documents']
        },

        request () {
            return this.$store.getters['rpk/request']
        },

        egeResults () {
            return this.$store.getters['rpk/egeResults']
        }
    },

    async mounted () {
        await this.getItem()
    },

    methods: {
        async getItem () {
            await this.$store.dispatch('rpk/getPersonData', {
                id: this.$route.params.id,
            })
        },

        formatDate (date) {
            return moment(date).format()
        }
    },
}
</script>

<style lang="scss">
@import '@/assets/vars';

.rpk-person {
    padding: 24px;
    background: white;
    border-radius: 4px;
    width: 100%;

    &__title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    &__docs {
        &-item {
            display: inline-block;
            padding: 8px 16px;
            border: 1px solid $color-border;
            border-radius: 4px;
            margin-right: 8px;
        }
    }
}
</style>