<template>
<div class="page">
    <div class="page__top">
        <div class="page__title">
            {{ title }}
        </div>

        <div class="page__actions">
            <div class="page__actions-item"
                v-if="$route.name === 'rpk-persons'"
            >
                <UIButton
                    label="Выгрузить"
                    variant="success"
                    icon="download"
                    @click="downloadList"
                />
            </div>

            <div class="page__actions-item"
                v-if="$route.name !== 'rpk-persons'"
            >
                <UIButton
                    label="Назад"
                    variant="primary-light"
                    icon="back"
                    @click="back"
                />
            </div>
        </div>
    </div>

    <div class="page__layout">
        <router-view />
    </div>
</div>
</template>

<script>
import {
    UIButton,
} from '@grebrov/ui'

export default {
    name: 'rpk-programs',

    components: {
        UIButton,
    },

    computed: {
        title () {
            if (this.$route.name === 'rpk-persons') {
                return 'Пользователи'
            } else if (this.$route.name === 'rpk-persons-detail') {
                return 'Пользователь'
            }
        }
    },

    methods: {
        back () {
            this.$router.go(-1)
        },

        goTo (path) {
            this.$router.push({ path })
        },

        downloadList () {
            this.$store.dispatch('rpk/exportPersons', {
                vm: this
            })
        },
    }
}
</script>