<template>
<div class="layout">
    <div class="page__header">
        <b-row class="page__filters"
            no-gutters
            align-v="center"
        >
            <!-- <b-col class="page__filter" lg="2">
                <UIInput
                    v-model="filter.search"
                    icon="search"
                    placeholder="Поиск"
                    :clearable="true"
                    variant="solid"
                />
            </b-col> -->

            <b-col class="page__filter" lg="3">
                <b-pagination
                    v-model="page.current"
                    :total-rows="page.total"
                    :per-page="page.limit"
                    v-if="page.total > page.limit"
                />
            </b-col>

            <b-col class="page__filter">
                <div class="page__total text-right">
                    Всего: {{ page.total }}
                </div>
            </b-col>
        </b-row>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table :fields="columns" :items="list">
                    <template #cell(full_name)="data">
                        <UITableCell
                            type="link"
                            :field="`${data.item.last_name} ${data.item.first_name} ${data.item.middle_name}`"
                            :description="data.item.code"
                            :path="`/rpk/persons/${data.item.id}`"
                        />
                    </template>

                    <template #cell(contacts)="data">
                        <UITableCell
                            type="contacts"
                            :field="{
                                phone: data.item.phone,
                                email: data.item.email,
                            }"
                        />
                    </template>

                    <template #cell(created_date)="data">
                        <UITableCell
                            type="date"
                            :field="data.item.created_date"
                        />
                    </template>
                </b-table>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BRow,
    BCol,
    BPagination,
    BOverlay,
    BTable,
} from 'bootstrap-vue'

import {
    UITableCell,
    UIInput,
} from '@grebrov/ui'

export default {
    name: 'rpk-persons-list',

    components: {
        BRow,
        BCol,
        BTable,
        BPagination,
        BOverlay,
        UITableCell,
        UIInput,
    },

    computed: {
        isLoading () {
            return this.$store.getters['rpk/isLoading']
        },

        list () {
            return this.$store.getters['rpk/list']
        }
    },

    mounted () {
        this.getList()
    },

    data () {
        return {
            page: {
                total: 0,
                limit: 50,
                current: 1,
            },

            columns: [
                { label: 'ФИО', key: 'full_name' },
                { label: 'Контакты', key: 'contacts' },
                { label: 'Дата регистрации', key: 'created_date' }
            ],

            filter: {
                search: '',
            }
        }
    },

    methods: {
        async getList() {
            await this.$store.dispatch('rpk/getList', {
                model: 'persons',
                params: {
                    limit: this.page.limit,
                    offset: (this.page.current * this.page.limit) - this.page.limit,
                    search: this.filter.search,
                }
            })

            this.page.total = this.$store.getters['rpk/rows']
        }
    },

    watch: {
        'page.current' (value) {
            this.getList()
        },

        'filter.search' (value) {
            this.getList()
        }
    }
}
</script> 