$color-bg: #eef0f8;
$color-bg-control: #ebedf3;
$color-control-focus: #e1e4ed;

// $color-border: #e4e6ef;
$color-border: $color-bg;

$color-font: #3f4254;
$color-font-dark: #181c32;
$color-font-mute: #b5b5c3;

$color-dark: #1A1A27;
$color-dark-light: #282836;

$color-dark-font: #9899ac;

$color-purple: #8950fc;
$color-purple-light: #eee5ff;

$color-green: #1bc5bd;
$color-green-light: #c9f7f5;

$color-blue: #3699ff;
$color-blue-light: #e1f0ff;

$color-yellow: #ffa800;
$color-yellow-light: #fff4de;

$color-red: #f64e60;
$color-red-light: #ffe2e5;

$color-primary: $color-blue;
$color-primary-light: $color-blue-light;

$box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
$box-shadow-popover: 0 0 30px 0 rgba(82,63,105,.2);
$box-shadow-popup: 0px 0px 50px 0px rgba(82, 63, 105, .15);

$primary: $color-primary !default;

$success: $color-green !default;
$secondary: $color-purple !default;
$info: $color-blue !default;
$warning: $color-yellow !default;
$danger: $color-red !default;
$dark: $color-dark !default;
$light: $color-bg !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);