<template>
<div class="layout">
    <div class="page__header">
        <div class="page__title">
            {{ title }}
        </div>

        <div class="page__actions">
            <div class="page__actions-item mr-2"
                v-if="$route.params.id"
            >
                <UIButton
                    label="Удалить"
                    icon="trash"
                    variant="danger-light"
                    id="delete-item"
                />

                <b-popover target="delete-item"
                    title="Вы действительно хотите удалить эту запись?"
                    triggers="focus"
                    :show.sync="delPopover"
                >
                    <div class="page__popover-actions">
                        <UIButton
                            label="Удалить"
                            icon="trash"
                            variant="danger"
                            size="sm"
                            @click="del"
                        />

                        <UIButton
                            label="Отмена"
                            variant="primary-light"
                            size="sm"
                            @click="delPopover = false"
                        />
                    </div>
                </b-popover>
            </div>

            <div class="page__actions-item">
                <UIButton
                    label="Сохранить"
                    icon="save"
                    variant="primary"
                    @click="save"
                />
            </div>
        </div>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <UIForm ref="form"
                :fields="fields"
                model="sc/institutions"
            />
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    UIButton,
    UIForm,
} from '@grebrov/ui'

import {
    BOverlay,
    BPopover,
} from 'bootstrap-vue'

export default {
    name: 'copp-sc-institutions-edit',

    components: {
        UIButton,
        UIForm,
        BOverlay,
        BPopover,
    },

    computed: {
        title () {
            if (this.$route.name === 'copp-sc-institutions-create') {
                return 'Создать ПОО'
            } else if (this.$route.name === 'copp-sc-institutions-edit') {
                return 'Редактировать ПОО #' + this.$route.params.id
            }
        },

        institution () {
            return this.$store.getters['copp/scInstitution']
        },

        isLoading () {
            return this.$store.getters['copp/isLoading']
        }
    },

    data () {
        return {
            delPopover: false,
            fields: [
                {
                    type: 'string',
                    slug: 'name',
                    label: 'Название',
                    value: '',
                    required: true,
                },
                {
                    type: 'string',
                    slug: 'short_name',
                    label: 'Короткое название',
                    value: '',
                    required: true,
                },
                {
                    type: 'select',
                    slug: 'group',
                    label: 'Группа',
                    value: 'northern',
                    options: [
                        { label: 'Северная группа', value: 'northern' },
                        { label: 'Восточная Якутия', value: 'eastern' },
                        { label: 'Центральная Якутия', value: 'central' },
                        { label: 'Западная Якутия', value: 'western' },
                        { label: 'Южная Якутия', value: 'southern' },
                        { label: 'Городской округ "город Якутск"', value: 'yakutsk' }
                    ]
                },
                {
                    type: 'image',
                    slug: 'image',
                    label: 'Изображение',
                    value: null,
                },
                {
                    type: 'editor',
                    slug: 'description',
                    label: 'Описание',
                    value: '',
                }
            ]
        }
    },

    mounted () {
        this.$store.commit('copp/setNotice', null)

        if (this.$route.params.id) {
            this.$store.dispatch('copp/getScInstitution', this.$route.params.id)
        }
    },

    methods: {
        del () {
            this.$store.dispatch('copp/deleteScInstitution', {
                id: this.$route.params.id,
                vm: this
            })
        },

        save () {
            this.$refs.form.submit()
        },

        setField (slug, value) {
            let fieldIndex = this.fields.findIndex(i => i.slug === slug)

            if (fieldIndex !== -1) {
                if (this.fields[fieldIndex].type === 'image') {
                    this.fields[fieldIndex].value = {
                        url: value,
                        file: null,
                    }
                } else {
                    this.fields[fieldIndex].value = value
                }    
            }
        }
    },

    watch: {
        institution (value) {
            this.setField('name', value.name)
            this.setField('short_name', value.short_name)
            this.setField('group', value.group)
            this.setField('image', value.image)
            this.setField('description', value.description)
        }
    }
}
</script>