<template>
<div style="height:100%;display:flex;flex-direction:column">
    <router-view />
</div>
</template>

<script>
import cButton from '@/components/button'
import cNotice from '@/components/notice'

import {
    BRow,
    BCol,
    BPagination,
} from 'bootstrap-vue'

import {
    UIInput,
    UISelect,
} from '@grebrov/ui'

export default {
    name: 'copp-sc-institutions',

    components: {
        cButton,
        cNotice,
        BRow,
        BCol,
        UIInput,
        UISelect,
        BPagination,
    },

    data () {
        return {
            filter: {
                group: null,
                search: '',
            },
            groups: [
                { label: 'Северная группа', value: 'northern' },
                { label: 'Восточная Якутия', value: 'eastern' },
                { label: 'Центральная Якутия', value: 'central' },
                { label: 'Западная Якутия', value: 'western' },
                { label: 'Южная Якутия', value: 'southern' },
                { label: 'Городской округ "город Якутск"', value: 'yakutsk' }
            ],
            currentPage: 1,
            rows: 0,
            columns: [
                { label: 'Изображение', key: 'image', type: 'image' },
                { label: 'Название', key: 'name' },
                { label: 'Короткое название', key: 'short_name' },
                { label: 'Группа', key: 'group' },
            ],
        }
    },

    computed: {
        notice () {
            return this.$store.getters['copp/notice']
        },

        list () {
            return this.$store.getters['copp/scInstitutions']
        },

        isLoading () {
            return this.$store.getters['copp/isLoading']
        }
    },

    async mounted () {
        await this.$store.dispatch('copp/getScInstitutions')
        this.rows = this.$store.getters['copp/rows']
    },

    methods: {
        create () {
            this.$router.push({ path: '/copp/socialcontracts/institutions/create' })
        },

        cancel () {
            this.$router.push({ path: '/copp/socialcontracts/institutions' })
        },

        getGroupLabel (group) {
            switch (group) {
                case 'northern':
                    return 'Северная группа'
                case 'eastern':
                    return 'Восточная Якутия'
                case 'central':
                    return 'Центральная Якутия'
                case 'western':
                    return 'Западная Якутия'
                case 'southern':
                    return 'Южная Якутия'
                case 'yakutsk':
                    return 'Городской округ "город Якутск"'
            }
        }
    },

    watch: {
        currentPage (value) {
            let limit = 20
            let offset = (value * limit) - limit

            this.$store.dispatch('copp/getScInstitutions', {
                limit,
                offset,
            })
        },
    }
}
</script>