<template>
<div style="height:100%;display:flex;flex-direction:column">
    <div class="page__header">
        <b-row class="page__filters" no-gutters align-v="center">
            <b-col lg="2" class="page__filter">
                <UIInput v-model="filter.search"
                    icon="search"
                    placeholder="Поиск"
                    :clearable="true"
                    variant="solid"
                />
            </b-col>

            <b-col lg="3" class="page__filter">
                <UISelect v-model="filter.group"
                    icon="search"
                    placeholder="Выберите группу"
                    variant="solid"
                    :options="groups"
                />
            </b-col>

            <b-col class="page__filter">
                <b-pagination
                    v-model="page.current"
                    :total-rows="page.total"
                    :per-page="page.limit"
                    v-if="page.total > page.limit"
                />
            </b-col>

            <b-col class="page__filter text-right">
                <div class="page__total">
                    Всего: {{ page.total }}
                </div>
            </b-col>
        </b-row>
    </div>

    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table :fields="columns" :items="list">
                    <template #cell(image)="data">
                        <UITableCell
                            type="image"
                            :field="data.item.image"
                        />
                    </template>

                    <template #head(image)="data">
                        <UIIcon class="page__table-icon" icon="image" color="mute" />
                    </template>

                    <template #cell(name)="data">
                        <UITableCell
                            type="link"
                            :field="data.item.short_name"
                            :path="`/copp/sc/institutions/${data.item.id}`"
                        />
                    </template>

                    <template #cell(group)="data">
                        <UITableCell
                            type="text"
                            :field="getGroupLabel(data.item.group)"
                        />
                    </template>
                </b-table>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import { BTable, BOverlay, BPagination, BRow, BCol } from 'bootstrap-vue'
import cTableCell from '@/components/table-cell'

import {
    UIButton,
    UISelect,
    UIInput,
    UITableCell,
    UIIcon,
} from '@grebrov/ui'

import { debounce } from 'debounce'

export default {
    name: 'copp-sc-institutions-list',

    components: {
        BTable,
        cTableCell,
        BOverlay,
        BPagination,
        BRow,
        BCol,
        UIButton,
        UISelect,
        UIInput,
        UITableCell,
        UIIcon,
    },

    computed: {
        list () {
            return this.$store.getters['copp/scInstitutions']
        },

        isLoading () {
            return this.$store.getters['copp/isLoading']
        },
    },

    async mounted () {
        await this.getList()
    },

    data () {
        return {
            columns: [
                { label: 'Изображение', key: 'image', type: 'image' },
                { label: 'Название', key: 'name' },
                { label: 'Группа', key: 'group' },
                
            ],
            filter: {
                search: '',
                group: null,
            },
            groups: [
                { label: 'Все группы', value: null },
                { label: 'Северная группа', value: 'northern' },
                { label: 'Восточная Якутия', value: 'eastern' },
                { label: 'Центральная Якутия', value: 'central' },
                { label: 'Западная Якутия', value: 'western' },
                { label: 'Южная Якутия', value: 'southern' },
                { label: 'Городской округ "город Якутск"', value: 'yakutsk' }
            ],
            page: {
                limit: 20,
                total: 0,
                current: 1,
            }
        }
    },

    methods: {
        getGroupLabel (group) {
            switch (group) {
                case 'northern':
                    return 'Северная группа'
                case 'eastern':
                    return 'Восточная Якутия'
                case 'central':
                    return 'Центральная Якутия'
                case 'western':
                    return 'Западная Якутия'
                case 'southern':
                    return 'Южная Якутия'
                case 'yakutsk':
                    return 'Городской округ "город Якутск"'
            }
        },

        async getList() {
            await this.$store.dispatch('copp/getScInstitutions', {
                search: this.filter.search,
                group: this.filter.group,
                limit: this.page.limit,
                offset: (this.page.current * this.page.limit) - this.page.limit,
            })
            this.page.total = this.$store.getters['copp/rows']
        },

        search: debounce(function () { this.getList(); }, 500),
    },

    watch: {
        'page.current' (value) {
            this.getList()
        },

        'filter.search' (value) {
            this.search()
        },

        'filter.group' (value) {
            this.getList()
        }
    }
}
</script>