<template>
<div>
    <div class="app" v-if="isAuthorized">
        <div class="app__sidebar">
            <div class="app__logo">
                {{ project ? project.short_name : 'Платформа' }}
            </div>

            <div class="app__menu">
                <c-menu />
            </div>

            <div class="app__user">
                <div class="app__user-icon">
                    <font-awesome-icon :icon="icons.user" />
                </div>

                <div class="app__user-name">
                    {{ user.username }}
                </div>
                
                <div class="app__user-logout" @click="logout">
                    <font-awesome-icon :icon="icons.logout" />
                </div>
            </div>

            <div class="app__version">
                v{{ version }}
            </div>
        </div>

        <div class="app__content">
            <router-view />
        </div>
    </div>

    <div class="login" v-if="!isAuthorized">
        <div class="login__top-panel">
            <div class="login__top-panel-logo">Платформа</div>
        </div>

        <div class="login__wrapper">
            <div class="login__form">
                <div class="login__form-title">
                    Вход
                </div>
                
                <div class="login__form-field">
                    <c-field label="Логин" v-model="loginForm.username" />
                </div>

                <div class="login__form-field">
                    <c-field label="Пароль" v-model="loginForm.password" type="password" />
                </div>

                <div class="login__form-field text-center">
                    <c-button label="Войти" @click="login" />
                </div>
            </div>

            <div class="login__version">v{{ version }}</div>
        </div>
    </div>
</div>
</template>

<script>
import cField from '@/components/field'
import cButton from '@/components/button'
import cMenu from '@/components/menu'
import pkg from '../package.json'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faUserCircle, faSignOutAlt } from '@fortawesome/free-solid-svg-icons'

export default {
    components: {
        cField,
        cButton,
        cMenu,
        FontAwesomeIcon,
    },

    data () {
        return {
            loginForm: {
                username: '',
                password: '',
            },
            version: pkg.version,
            icons: {
                user: faUserCircle,
                logout: faSignOutAlt,
            }
        }
    },

    computed: {
        isAuthorized () {
            return this.$store.getters.user !== null
        },

        project () {
            return this.$store.getters.project
        },

        user () {
            return this.$store.getters.user
        }
    },

    mounted () {
        this.$store.dispatch('checkAuth')
    },

    methods: {
        login () {
            if (this.loginForm.username && this.loginForm.password) {
                this.$store.dispatch('login', this.loginForm)
            }
        },

        logout () {
            this.$store.dispatch('logout')
        }
    }
}
</script>

<style lang="scss">
@import '@/assets/vars';

.app {
    min-height: 100vh;
    display: flex;
    background: $color-bg;

    &__sidebar {
        width: 15rem;
        background: $color-dark;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    &__logo {
        color: white;
        font-weight: 600;
        padding: 16px 24px;
        margin-top: 5px;
        // text-align: center;
        flex-shrink: 0;
    }

    &__menu {
        flex-grow: 1;
        padding: 16px 24px;
    }

    &__version {
        font-size: 13px;
        color: $color-font-mute;
        font-weight: 600;
        padding: 16px;
        flex-shrink: 0;
        padding: 16px 24px;
    }

    &__content {
        flex-grow: 1;
    }

    &__user {
        display: flex;
        padding: 10px 24px;
        color: $color-font-mute;

        &-name {
            flex-grow: 1;
            padding: 0 10px;
            font: {
                size: 14px;
                weight: 600;
            }
        }

        &-logout {
            cursor: pointer;
            transition: .2s;

            &:hover {
                color: white;
            }
        }
    }
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__top-panel {
        background: $color-dark;
        color: white;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
        padding: .75rem;
        flex-shrink: 0;
    }

    &__wrapper {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        background: $color-bg;
        flex-direction: column;
    }

    &__form {
        margin-top: -2rem;
        background: white;
        padding: 1.5rem;
        border-radius: 6px;
        box-shadow: $box-shadow;

        &-title {
            font-size: 18px;
            text-align: center;
            font-weight: 500;
            color: $color-font;
        }

        &-field {
            margin-top: 1.25rem;
        }
    }

    &__version {
        font-size: 14px;
        font-weight: 600;
        color: $color-font-mute;
        margin-top: 16px;
    }
}
</style>