<template>
<div class="layout">
    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <ModelForm
                :fields="fields"
                model="pages"
                module="site"
                :itemId="this.$route.params.id"
            />
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
} from 'bootstrap-vue'

import ModelForm from '@/components/model-form'

export default {
    name: 'site-pages-edit',

    components: {
        BOverlay,
        ModelForm,
    },

    computed: {
        isLoading () {
            return this.$store.getters.isLoading
        },

        item () {
            return this.$store.getters.item
        },

        notice () {
            return  this.$store.getters.notice
        },
    },

    mounted () {
        if (this.$route.params.id) {
            this.getItem()
        }
    },

    data () {
        return {
            fields: [
                {
                    type: 'string',
                    slug: 'name',
                    label: 'Название',
                    value: '',
                    required: true,
                },
                {
                    type: 'string',
                    slug: 'slug',
                    label: 'Код',
                    value: '',
                    required: true,
                },
                {
                    type: 'editor',
                    slug: 'content',
                    label: 'Содержимое',
                    value: '',
                    required: false,
                }
            ]
        }
    },

    methods: {
        async getItem () {
            await this.$store.dispatch('getModelItem', {
                module: 'site',
                model: 'pages',
                id: this.$route.params.id,
            })
        },
    },

    watch: {
        item (value) {
            if (value) {
                let record = value

                for (let i in Object.keys(record)) {
                    let key = Object.keys(record)[i]

                    let field = this.fields.find(f => f.slug === key)

                    if (field) {
                        if (field.type === 'relation') {
                            if (record[key]) {
                                field.value = record[key].id
                            }
                        } else {
                            field.value = record[key]
                        }
                    }
                }
            }
        },

        notice (value) {
            if (value.type === 'success') {
                this.$router.push({ path: '/site/pages' })
            }
        }
    }
}
</script>