<template>
<div class="module">
    <div class="module__content">
        <div class="page">
            <div class="page__top">
                <div class="page__title">Страницы</div>
            
                <div class="page__actions">
                    <div class="page__actions-item"
                        v-if="$route.name === 'site-pages'"
                    >
                        <UIButton
                            label="Создать"
                            variant="primary"
                            icon="plus"
                            @click="create"
                        />
                    </div>

                    <div class="page__actions-item"
                        v-if="$route.name !== 'site-pages'"
                    >
                        <UIButton
                            label="Назад"
                            variant="primary-light"
                            icon="back"
                            @click="back"
                        />
                    </div>
                </div>
            </div>

            <router-view />
        </div>
    </div>
</div>
</template>

<script>
import {
    UIButton,
} from '@grebrov/ui'

export default {
    name: 'site-pages',

    components: {
        UIButton,
    },

    methods: {
        create () {
            this.$router.push({ path: '/site/pages/create' })
        },

        back () {
            this.$router.go(-1)
        },
    }
}
</script>