<template>
<div class="page__layout">
    <div class="layout">
        <div class="page__header">
            <b-row class="page__filters"
                no-gutters
                align-v="center"
            >
                <b-col class="page__fitler" lg="3">
                    <b-pagination
                        v-model="page.current"
                        :total-rows="page.total"
                        :per-page="page.limit"
                        v-if="page.total > page.limit"
                    />
                </b-col>

                <b-col class="page__filter">
                    <div class="page__total text-right">
                        Всего: {{ page.total }}
                    </div>
                </b-col>
            </b-row>
        </div>

        <div class="page__content">
            <notice :notice="notice" />

            <b-overlay
                :show="isLoading"
                spinner-variant="primary"
                variant="white"
            >
                <div class="page__table">
                    <b-table :fields="columns" :items="list">
                        <template #cell(name)="data">
                            <UITableCell
                                type="link"
                                :field="data.item.name"
                                :path="`/site/pages/${data.item.id}`"
                            />
                        </template>

                        <template #cell(slug)="data">
                            <UITableCell
                                type="text"
                                :field="data.item.slug"
                            />
                        </template>

                        <template #cell(status)="data">
                            {{ data.item.status }}
                        </template>
                    </b-table>
                </div>
            </b-overlay>
        </div>
    </div>
</div>
</template>

<script>
import {
    BRow,
    BCol,
    BOverlay,
    BTable,
    BPagination,
} from 'bootstrap-vue'

import Notice from '@/components/notice'

import {
    UITableCell,
} from '@grebrov/ui'

export default {
    name: 'site-pages-list',

    components: {
        BRow,
        BCol,
        BOverlay,
        BTable,
        BPagination,
        Notice,
        UITableCell,
    },

    computed: {
        isLoading () {
            return this.$store.getters.isLoading
        },

        list () {
            return this.$store.getters.list
        },

        notice () {
            return this.$store.getters.notice
        },
    },

    data () {
        return {
            page: {
                total: 0,
                current: 1,
                limit: 20,
            },

            columns: [
                { label: 'Название', key: 'name' },
                { label: 'Код', key: 'slug' },
                { label: 'Статус', key: 'status' },
            ]
        }
    },

    mounted () {
        this.getList()
    },

    methods: {
        async getList () {
            await this.$store.dispatch('getModelList', {
                params: {
                    limit: this.page.limit,
                    offset: (this.page.current * this.page.limit) - this.page.limit,
                },
                model: 'pages',
                module: 'site',
            })

            this.page.total = this.$store.getters.rows
        }
    }
}
</script>