<template>
<div class="module">
    <div class="module__content">
        <div class="page">
            <div class="page__top">
                <div class="page__title" v-if="$route.name === 'events'">
                    Мероприятия
                </div>

                <div class="page__sections" v-if="$route.name !== 'events'">
                    <div class="page__sections-item"
                        :class="{'tabs__item_active':$route.name === 'events-edit'}"
                        @click="$route.name !== 'events-edit' ? $router.push({ path: '/events/' + $route.params.id }) : () => {}"
                    >
                        Мероприятие
                    </div>

                    <div class="page__sections-item"
                        :class="{'tabs__item_active':$route.name === 'events-members'}"
                        @click="$route.name !== 'events-members' ? $router.push({ path: '/events/' + $route.params.id + '/members' }) : () => {}"
                    >
                        Учаcтники
                    </div>

                    <div class="page__sections-item"
                        v-if="$route.params.id === '1'"
                        :class="{'tabs__item_active': (
                            $route.name === 'events-copp-directions' ||
                            $route.name === 'events-copp-directions-create'
                        )}"
                        @click="$route.name !== 'events-copp-directions' ? $router.push({ path: '/events/' + $route.params.id + '/copp/directions' }) : () => {}"
                    >
                        Направления
                    </div>

                    <div class="page__sections-item"
                        v-if="$route.params.id === '1'"
                        :class="{'tabs__item_active': $route.name === 'events-copp-institutions'}"
                        @click="$route.name !== 'events-copp-institutions' ? $router.push({ path: '/events/' + $route.params.id + '/copp/institutions' }) : () => {}"
                    >
                        Организации
                    </div>
                </div>

                <div class="page__actions">
                    <div class="page__actions-item"
                        v-if="(
                            $route.name === 'events' ||
                            $route.name === 'events-copp-directions' ||
                            $route.name === 'events-copp-institutions' ||
                            $route.name === 'events-copp-slides'
                        )"
                    >
                        <UIButton
                            label="Создать"
                            variant="primary"
                            icon="plus"
                            @click="create"
                        />
                    </div>

                    <div class="page__actions-item"
                        v-if="$route.name !== 'events'"
                    >
                        <UIButton
                            label="Назад"
                            variant="primary-light"
                            icon="back"
                            @click="back"
                        />
                    </div>
                </div>
            </div>

            <router-view />
        </div>
    </div>
</div>
</template>

<script>
import {
    UIButton,
} from '@grebrov/ui'

export default {
    name: 'events',

    components: {
        UIButton,
    },

    methods: {
        create () {
            if (this.$route.name === 'events') {
                this.$router.push({ path: '/events/create' })
            } else if (this.$route.name === 'events-copp-directions') {
                this.$router.push({ path: `/events/${this.$route.params.id}/copp/directions/create` })
            } else if (this.$route.name === 'events-copp-institutions') {
                this.$router.push({ path: `/events/${this.$route.params.id}/copp/institutions/create` })
            }
        },

        back () {
            this.$router.go(-1)
        },
    },
}
</script>