<template>
   <div class="page__layout">
        <div class="layout">
            <div class="page__header">
                <b-row class="page__fitlers"
                    no-gutters
                    align-v="center"
                >
                    <b-col class="page__filter" lg="3">
                        <b-pagination
                            v-model="page.current"
                            :total-rows="page.total"
                            :per-page="page.limit"
                            v-if="page.total > page.limit"
                        />
                    </b-col>

                    <b-col class="page__filter">
                        <div class="page__total text-right">
                            Всего: {{ page.total }}
                        </div>
                    </b-col>
                </b-row>
            </div>

            <div class="page__content">
                <notice :notice="notice" />

                <b-overlay
                    :show="isLoading"
                    spinner-variant="primary"
                    variant="white"
                >
                    <div class="page__table">
                        <b-table :fields="columns" :items="list">
                            <template #cell(name)="data">
                                <UITableCell
                                    type="link"
                                    :field="data.item.name"
                                    :description="data.item.uuid"
                                    :path="`/events/${data.item.id}`"
                                />
                            </template>

                            <template #cell(slug)="data">
                                <UITableCell
                                    type="text"
                                    :field="data.item.slug"
                                />
                            </template>
                        </b-table>
                    </div>
                </b-overlay>
            </div>
        </div>
    </div> 
</template>

<script>
import {
    BRow,
    BCol,
    BOverlay,
    BTable,
    BPagination,
} from 'bootstrap-vue'

import {
    UITableCell,
} from '@grebrov/ui'

import Notice from '@/components/notice'

export default {
    name: 'events-list',

    components: {
        BRow,
        BCol,
        BOverlay,
        BTable,
        BPagination,
        UITableCell,
        Notice,
    },

    computed: {
        isLoading () {
            return this.$store.getters.isLoading
        },

        list () {
            return this.$store.getters.list
        },

        notice () {
            return this.$store.getters.notice
        }
    },

    data () {
        return {
            page: {
                total: 0,
                limit: 20,
                current: 1,
            },

            columns: [
                { label: 'Название', key: 'name' },
                { label: 'Код', key: 'slug' }
            ]
        }
    },

    mounted () {
        this.getList()
    },

    methods: {
        async getList () {
            await this.$store.dispatch('getModelList', {
                params: {
                    limit: this.page.limit,
                    offset: (this.page.current * this.page.limit) - this.page.limit,
                },
                model: 'events',
                module: 'events',
            })

            this.page.total = this.$store.getters.rows
        },
    },
    
    watch: {
        'page.current' (value) {
            this.getList()
        },
    }
}
</script>