<template>
<div class="layout">
    <div class="page__content">
        <b-overlay
            :show="isLoading"
            spinner-variant="primary"
            variant="white"
        >
            <div class="page__table">
                <b-table :fields="columns" :items="list">
                    <template #cell(contacts)="data">
                        <UITableCell
                            type="contacts"
                            :field="{
                                phone: data.item.phone,
                                email: data.item.email,
                            }"
                        />
                    </template>

                    <template #cell(full_name)="data">
                        {{ `${data.item.last_name} ${data.item.first_name} ${data.item.middle_name}` }}
                    </template>

                    <template #cell(direction)="data">
                        {{ data.item.direction }}
                    </template>

                    <template #cell(created_date)="data">
                        <UITableCell
                            type="date"
                            :field="data.item.created_date"
                        />
                    </template>
                </b-table>
            </div>
        </b-overlay>
    </div>
</div>
</template>

<script>
import {
    BOverlay,
    BTable,
} from 'bootstrap-vue'

import {
    UITableCell,
} from '@grebrov/ui'

export default {
    name: 'events-members',

    components: {
        BOverlay,
        BTable,
        UITableCell,
    },

    computed: {
        isLoading () {
            return this.$store.getters.isLoading
        },

        list () {
            return this.$store.getters.list
        }
    },

    data () {
        return {
            columns: [
                { label: 'ФИО', key: 'full_name' },
                { label: 'Контакты', key: 'contacts' },
                { label: 'Статус', key: 'group' },
                { label: 'Направление', key: 'direction' },
                { label: 'Дата регистрации', key: 'created_date' }
            ]
        }
    },

    mounted () {
        this.getList()
    },

    methods: {
        async getList () {
            await this.$store.dispatch('getModelList', {
                params: {
                    limit: 99999,
                    event: this.$route.params.id,
                },
                model: 'members',
                module: 'events',
            })
        }
    }
}
</script>

