<template>
<div class="module">
    <b-modal v-model="modal.show"
        hide-footer
        size="lg"
        :title="modal.title"
    >
        <ModelForm
            :fields="fields"
            model="projects"
            :itemId="item && item.id"
            @onClose="modal.show = false"
        />
    </b-modal>
    <div class="module__content">
        <div class="page">
            <div class="page__top">
                <div class="page__title">
                    Проекты
                </div>

                <div class="page__actions">
                    <div class="page__actions-item"
                        v-if="$route.name === 'projects'"
                    >
                        <UIButton
                            label="Создать"
                            variant="primary"
                            icon="plus"
                            @click="create"
                        />                  
                    </div>
                </div>
            </div>

            <div class="page__layout">
                <div class="layout">
                    <div class="page__header">
                        <b-row class="page__filters" no-gutters align-v="center">
                            <b-col class="page__filter" lg="3">
                                <b-pagination
                                    v-model="page.current"
                                    :total-rows="page.total"
                                    :per-page="page.limit"
                                    v-if="page.total > page.limit"
                                />
                            </b-col>

                            <b-col class="page__filter">
                                <div class="page__total text-right">
                                    Всего: {{ page.total }}
                                </div>
                            </b-col>
                        </b-row>
                    </div>

                    <div class="page__content">
                        <notice :notice="notice"/>

                        <b-overlay :show="isLoading"
                            spinner-variant="primary"
                            variant="white"
                        >
                            <div class="page__table">
                                <b-table :fields="columns" :items="list">
                                    <template #cell(name)="data">
                                        <div class="table-cell table-cell_select"
                                            @click="e => selectItem(e, data.item.id)"
                                        >
                                            {{ data.item.short_name }}
                                            <div class="table-cell__description">
                                                {{ data.item.name }}
                                            </div>
                                        </div>
                                    </template>

                                    <template #cell(slug)="data">
                                        <div class="table-cell table-cell_slug">
                                            {{ data.item.slug }}
                                        </div>
                                    </template>
                                </b-table>
                            </div>
                        </b-overlay>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    UIButton,
} from '@grebrov/ui'

import ModelForm from '@/components/model-form'
import Notice from '@/components/notice'

import {
    BRow,
    BCol,
    BOverlay,
    BTable,
    BModal,
} from 'bootstrap-vue'

export default {
    name: 'projects',

    components: {
        UIButton,
        BRow,
        BCol,
        BTable,
        BOverlay,
        BModal,
        ModelForm,
        Notice,
    },

    computed: {
        isLoading () {
            return this.$store.getters.isLoading
        },

        list () {
            return this.$store.getters.list
        },

        item () {
            return this.$store.getters.item
        },

        notice () {
            return this.$store.getters.notice
        }
    },

    data () {
        return {
            page: {
                current: 1,
                limit: 20,
                total: 0,
            },

            columns: [
                { label: 'Название', key: 'name' },
                { label: 'Код', key: 'slug' },
                { label: 'Тип', key: 'type' },
            ],

            modal: {
                show: false,
                title: '',
            },

            formModal: false,

            fields: [
                {
                    type: 'string',
                    slug: 'name',
                    label: 'Название',
                    value: '',
                    required: true,
                },

                {
                    type: 'string',
                    slug: 'short_name',
                    label: 'Короткое название',
                    value: '',
                    required: true,
                },

                {
                    type: 'string',
                    slug: 'slug',
                    label: 'Код',
                    value: '',
                    required: true,
                },

                {
                    type: 'string',
                    slug: 'type',
                    label: 'Тип',
                    value: '',
                    required: false,
                },

                {
                    type: 'text',
                    slug: 'modules',
                    label: 'Модули',
                    value: '',
                    required: false,
                }
            ]
        }
    },

    mounted () {
        this.getList()
    },

    methods: {
        create () {
            for (let f in this.fields) {
                this.fields[f].value = ''
            }

            this.modal.title = 'Создать запись'
            this.modal.show = true
        },

        async selectItem (e, id) {
            await this.getItem(id)
            let item = this.item

            for (let f in this.fields) {
                this.fields[f].value = item[this.fields[f].slug]
            }

            this.modal.title = 'Редактировать запись'
            this.modal.show = true
        },

        async getList () {
            await this.$store.dispatch('getModelList', {
                params: {
                    limit: this.page.limit,
                    offset: (this.page.current * this.page.limit) - this.page.limit,
                },
                model: 'projects',
            })
            this.page.total = this.$store.getters.rows
        },

        async getItem (id) {
            await this.$store.dispatch('getModelItem', {
                id,
                model: 'projects',
            })
        }
    }
}
</script>