<template>
    <div class="page">
        <div class="page__top">
            <div class="page__title">Участники события</div>

            <div class="page__actions">
                <div class="page__actions-item">
                    <UIButton
                        label="Экспорт"
                        icon="download"
                        variant="success"
                        @click="downloadList"
                    />
                </div>
            </div>
        </div>

        <div class="page__layout">
            <div class="layout">
                <div class="page__header">
                    <b-row class="page__filters"
                        no-gutters
                        align-v="center"
                    >
                        <b-col class="page__filter" lg="3">
                            <UIInput v-model="filter.search"
                                     placeholder="Поиск"
                                     icon="search"
                                     variant="solid"
                            />
                        </b-col>

                        <b-col class="page__filter" lg="3">
                            <UISelect
                                v-model="filter.region"
                                placeholder="Регион"
                                variant="solid"
                                :options="regionsComputed"
                                :searchable="true"
                                :clearable="true"
                            />
                        </b-col>

                        <b-col class="page__filter pt-2" lg="2">
                            <UICheckbox v-model="filter.isECert"
                                label="Эл. сертификат"
                                variant="solid"
                            />
                        </b-col>

                        <b-col class="page__filter" lg="3">
                            <b-pagination
                                v-model="page.current"
                                :total-rows="page.total"
                                :per-page="page.limit"
                                v-if="page.total > page.limit"
                            />
                        </b-col>

                        <b-col class="page__filter">
                            <div class="page__total text-right">
                                Всего: {{ page.total }}
                            </div>
                        </b-col>
                    </b-row>
                </div>

                <div class="page__content">
                    <b-overlay
                        :show="isLoading"
                        spinner-variant="primary"
                        variant="white"
                    >
                        <div class="page__table">
                            <b-table
                                :fields="columns"
                                :items="list"
                            >
                                <template #cell(full_name)="data">
                                    <UITableCell
                                        type="text"
                                        :field="`${data.item.person.last_name} ${data.item.person.first_name} ${data.item.person.middle_name}`"
                                    />
                                </template>

                                <template #cell(email)="data">
                                    <UITableCell
                                        type="contacts"
                                        :field="{
                                            email: data.item.person.email,
                                        }"
                                    />
                                </template>

                                <template #cell(job)="data">
                                    <UITableCell
                                        type="text"
                                        :field="data.item.person.job_place"
                                    />

                                    <UITableCell
                                        type="description"
                                        :field="data.item.person.job_position"
                                    />
                                </template>

                                <template #cell(is_e_cert)="data">
                                    <UITableCell
                                        type="boolean"
                                        :field="data.item.is_e_cert"
                                    />
                                </template>

                                <template #cell(created_date)="data">
                                    <UITableCell
                                        type="date"
                                        :field="data.item.created_date"
                                    />
                                </template>

                                <template #cell(region)="data">
                                    <UITableCell
                                        type="text"
                                        :field="getRegionLabel(data.item.person.region)"
                                    />
                                </template>
                            </b-table>
                        </div>
                    </b-overlay>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {
    BTable,
    BRow,
    BCol,
    BPagination,
    BOverlay,
} from 'bootstrap-vue'

import {
    UITableCell,
    UIInput,
    UICheckbox,
    UIButton,
    UISelect,
} from '@grebrov/ui'
import {debounce} from "debounce";

export default {
    name: 'site-event-members',

    components: {
        BTable,
        BRow,
        BCol,
        BPagination,
        BOverlay,
        UITableCell,
        UIInput,
        UICheckbox,
        UIButton,
        UISelect,
    },

    computed: {
        isLoading () {
            return this.$store.getters['site/isLoading']
        },

        list () {
            return this.$store.getters['site/list']
        },

        project () {
            return this.$store.getters.project
        },

        regionsComputed () {
            return this.regions.map(i => ({
                label: i.label,
                value: i.code,
            }))
        }
    },

    mounted () {
        if (this.$store.getters.project) {
            this.getList()
        }
        
    },

    data () {
        return {
            filter: {
                search: '',
                isECert: false,
                region: null,
            },
            columns: [
                { label: 'ФИО', key: 'full_name' },
                { label: 'E-mail', key: 'email' },
                { label: 'Место работы', key: 'job' },
                { label: 'Регион', key: 'region' },
                { label: 'Эл. сертификат', key: 'is_e_cert' },
                { label: 'Дата', key: 'created_date' },
            ],
            page: {
                total: 0,
                limit: 20,
                current: 1,
            },
            regions: [
                { label: 'Республика Адыгея (Адыгея)', code: '01' },
                { label: 'Республика Башкортостан', code: '02' },
                { label: 'Республика Бурятия', code: '03' },
                { label: 'Республика Алтай', code: '04' },
                { label: 'Республика Дагестан', code: '05' },
                { label: 'Республика Ингушетия', code: '06' },
                { label: 'Кабардино-Балкарская Республика', code: '07' },
                { label: 'Республика Калмыкия', code: '08' },
                { label: 'Карачаево-Черкесская Республика', code: '09' },
                { label: 'Республика Карелия', code: '10' },
                { label: 'Республика Коми', code: '11' },
                { label: 'Республика Марий Эл', code: '12' },
                { label: 'Республика Мордовия', code: '13' },
                { label: 'Республика Саха (Якутия)', code: '14' },
                { label: 'Республика Северная Осетия — Алания', code: '15' },
                { label: 'Республика Татарстан (Татарстан)', code: '16' },
                { label: 'Республика Тыва', code: '17' },
                { label: 'Удмуртская Республика', code: '18' },
                { label: 'Республика Хакасия', code: '19' },
                { label: 'Чувашская Республика — Чувашия', code: '21' },
                { label: 'Алтайский край', code: '22' },
                { label: 'Краснодарский край', code: '23' },
                { label: 'Красноярский край', code: '24' },
                { label: 'Приморский край', code: '25' },
                { label: 'Ставропольский край', code: '26' },
                { label: 'Хабаровский край', code: '27' },
                { label: 'Амурская область', code: '28' },
                { label: 'Архангельская область', code: '29' },
                { label: 'Астраханская область', code: '30' },
                { label: 'Белгородская область', code: '31' },
                { label: 'Брянская область', code: '32' },
                { label: 'Владимирская область', code: '33' },
                { label: 'Волгоградская область', code: '34' },
                { label: 'Вологодская область', code: '35' },
                { label: 'Воронежская область', code: '36' },
                { label: 'Ивановская область', code: '37' },
                { label: 'Иркутская область', code: '38' },
                { label: 'Калининградская область', code: '39' },
                { label: 'Калужская область', code: '40' },
                { label: 'Камчатский край', code: '41' },
                { label: 'Кемеровская область', code: '42' },
                { label: 'Кировская область', code: '43' },
                { label: 'Костромская область', code: '44' },
                { label: 'Курганская область', code: '45' },
                { label: 'Курская область', code: '46' },
                { label: 'Ленинградская область', code: '47' },
                { label: 'Липецкая область', code: '48' },
                { label: 'Магаданская область', code: '49' },
                { label: 'Московская область', code: '50' },
                { label: 'Мурманская область', code: '51' },
                { label: 'Нижегородская область', code: '52' },
                { label: 'Новгородская область', code: '53' },
                { label: 'Новосибирская область', code: '54' },
                { label: 'Омская область', code: '55' },
                { label: 'Оренбургская область', code: '56' },
                { label: 'Орловская область', code: '57' },
                { label: 'Пензенская область', code: '58' },
                { label: 'Пермский край', code: '59' },
                { label: 'Псковская область', code: '60' },
                { label: 'Ростовская область', code: '61' },
                { label: 'Рязанская область', code: '62' },
                { label: 'Самарская область', code: '63' },
                { label: 'Саратовская область', code: '64' },
                { label: 'Сахалинская область', code: '65' },
                { label: 'Свердловская область', code: '66' },
                { label: 'Смоленская область', code: '67' },
                { label: 'Тамбовская область', code: '68' },
                { label: 'Тверская область', code: '69' },
                { label: 'Томская область', code: '70' },
                { label: 'Тульская область', code: '71' },
                { label: 'Тюменская область', code: '72' },
                { label: 'Ульяновская область', code: '73' },
                { label: 'Челябинская область', code: '74' },
                { label: 'Забайкальский край', code: '75' },
                { label: 'Ярославская область', code: '76' },
                { label: 'г. Москва', code: '77' },
                { label: 'г. Санкт-Петербург', code: '78' },
                { label: 'Еврейская автономная область', code: '79' },
                { label: 'Республика Крым', code: '82' },
                { label: 'Ненецкий автономный округ', code: '83' },
                { label: 'Ханты-Мансийский автономный округ — Югра', code: '86' },
                { label: 'Чукотский автономный округ', code: '87' },
                { label: 'Ямало-Ненецкий автономный округ', code: '89' },
                { label: 'г. Севастополь', code: '92' },
                { label: 'Чеченская Республика', code: '95' },
            ]
        }
    },

    methods: {
        async getList () {
            await this.$store.dispatch('site/getEventMembers', {
                params: {
                    limit: this.page.limit,
                    offset: (this.page.current * this.page.limit) - this.page.limit,
                    search: this.filter.search,
                    is_e_cert: this.filter.isECert,
                    region: this.filter.region
                },
                vm: this,
            })

            this.page.total = this.$store.getters['site/rows']
        },

        search: debounce(function () { this.getList(); }, 500),

        downloadList () {
            this.$store.dispatch('site/downloadEventMembers', {
                vm: this,
            })
        },

        getRegionLabel (code) {
            let region = this.regions.find(i => i.code === code)

            if (region) {
                return region.label
            } else {
                return 'не указано'
            }
        }
    },

    watch: {
        'page.current' (value) {
            this.getList()
        },

        'filter.search' (value) {
            this.search()
        },

        'filter.isECert' (value) {
            this.getList()
        },

        'filter.region' (value) {
            this.getList()
        },

        project (value) {
            this.getList()
        }
    }
}
</script>